.flows.json.backup
[{"id":"532de144.f541f","type":"tab","label":"MPU6050","disabled":false,"info":""},{"id":"3cc19c06.1f2ff4","type":"tab","label":"DEMO","disabled":false,"info":""},{"id":"43c8b9dc.663e28","type":"tab","label":"Lecturas Internas","disabled":false,"info":""},{"id":"5fbc9311.d57b4c","type":"tab","label":"Lecturas Externas","disabled":false,"info":""},{"id":"94ebdc9.6a4eb2","type":"tab","label":"Dashboard ","disabled":false,"info":""},{"id":"1badaa90.f57d05","type":"tab","label":"Apagado","disabled":false,"info":""},{"id":"c641f918.652968","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"134bd761.12e659","type":"ui_group","z":"","name":"Heatmap","tab":"35bf310b.70dabe","disp":true,"width":"18","collapse":false},{"id":"b53becc0.ae148","type":"ui_tab","z":"","name":"Traced Heatmap","icon":"dashboard","order":1},{"id":"5d7c948.496c16c","type":"ui_group","name":"Group 1","tab":"f6cecf0.19a483","order":1,"disp":true,"width":6},{"id":"35bf310b.70dabe","type":"ui_tab","z":"","name":"Current Position","icon":"dashboard"},{"id":"24b661.988769a","type":"ui_group","z":"","name":"Heatmap","tab":"b53becc0.ae148","disp":true,"width":"18","collapse":false},{"id":"2d469be1.133754","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9fb5aae8.d095e8","type":"ui_tab","z":"","name":"Telemetry","icon":"dashboard","order":2},{"id":"61e593a6.cc124c","type":"ui_group","z":"","name":"Gyro","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"26b1b5b2.9d35da","type":"ui_group","z":"","name":"Accel","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"51bcd62e.7fea58","type":"ui_group","z":"","name":"Calibration","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"e3bc2129.7f362","type":"ui_group","z":"","name":"Default","tab":"60ea0fa6.74592","disp":true,"width":"6","collapse":false},{"id":"60ea0fa6.74592","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3},{"id":"4eb5399c.77f808","type":"ui_group","z":"","name":"Temp","tab":"","order":1,"disp":false,"width":"6"},{"id":"ede17187.8ebf9","type":"ui_group","z":"","name":"Carga CPU","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"d48112ef.d595b","type":"ui_group","z":"","name":"Inclinación y Odometría","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"abc5fd25.9f3f9","type":"ui_group","z":"","name":"Célula de Carga y Potencia","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"1656b6d3.0e7669","type":"ui_group","z":"","name":"CPU","tab":"112ec31.796b33d","order":1,"disp":true,"width":"4","collapse":false},{"id":"f796966.c57f468","type":"ui_group","z":"","name":"Main Variables","tab":"112ec31.796b33d","order":2,"disp":true,"width":"15","collapse":false},{"id":"112ec31.796b33d","type":"ui_tab","z":"","name":"Measurements","icon":"dashboard","order":4},{"id":"5e94c4a2.9ff8bc","type":"ui_group","z":"","name":"Battery","tab":"112ec31.796b33d","disp":true,"width":"4","collapse":false},{"id":"fa70f74b.f36f18","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b378202f.850af","type":"ui_group","z":"","name":"Heatmap","tab":"112ec31.796b33d","order":4,"disp":true,"width":"6","collapse":false},{"id":"e037f552.9dd538","type":"ui_group","z":"","name":"Heatmap","tab":"aa573df2.872ae","disp":true,"width":"18","collapse":false},{"id":"aa573df2.872ae","type":"ui_tab","z":"","name":"Heatmap","icon":"dashboard","order":1},{"id":"d1ad35af.ea9a58","type":"inject","z":"1badaa90.f57d05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":100,"wires":[["d519c3fb.f4a6c"]]},{"id":"d519c3fb.f4a6c","type":"exec","z":"1badaa90.f57d05","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":100,"wires":[[],[],[]]},{"id":"88fc4119.086e","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":60,"wires":[[]]},{"id":"92e7bd9e.713b9","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":100,"wires":[[]]},{"id":"a9a90967.bc4888","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":140,"wires":[[]]},{"id":"2e703c2b.4eba74","type":"serial in","z":"532de144.f541f","name":"From Arduino","serial":"74d1dd19.d96434","x":150,"y":160,"wires":[["63714ba4.4fc044"]]},{"id":"9cd8b636.66a878","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":4,"width":0,"height":0,"gtype":"compass","title":"Z Gyro","label":"Angle","format":"{{value}}°","min":"180","max":"-180","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":260,"wires":[]},{"id":"63714ba4.4fc044","type":"switch","z":"532de144.f541f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"accX","vt":"str"},{"t":"cont","v":"accY","vt":"str"},{"t":"cont","v":"accZ","vt":"str"},{"t":"cont","v":"angleX","vt":"str"},{"t":"cont","v":"angleY","vt":"str"},{"t":"cont","v":"angleZ","vt":"str"},{"t":"cont","v":"temp","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":8,"x":330,"y":160,"wires":[["74aaa516.91a3ec"],["883f5f40.41359"],["953622d3.b217"],["4db238a2.28e598"],["90cc1490.fff948"],["307003da.ec12dc"],["e6b2228c.3619"],["5d7edd62.52fc54"]]},{"id":"74aaa516.91a3ec","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":60,"wires":[["88fc4119.086e","67c66e88.9c99a"]]},{"id":"883f5f40.41359","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":100,"wires":[["92e7bd9e.713b9","57a8a31e.601c5c"]]},{"id":"953622d3.b217","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["a9a90967.bc4888","7bbbfe98.2e9a4"]]},{"id":"4db238a2.28e598","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["5a5c6919.e1e9b8","70819ab9.b520a4"]]},{"id":"90cc1490.fff948","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["beb543b6.96bc7","86fa031b.f9cb6"]]},{"id":"307003da.ec12dc","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["9cd8b636.66a878","8dd7fef7.ca609"]]},{"id":"e6b2228c.3619","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"temp :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["9c03af2e.c0ab3"]]},{"id":"5a5c6919.e1e9b8","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":1,"width":0,"height":0,"gtype":"gage","title":"X Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":800,"y":180,"wires":[]},{"id":"103a37c.da696c8","type":"ui_text","z":"532de144.f541f","group":"26b1b5b2.9d35da","order":6,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}}° C","layout":"row-spread","x":1030,"y":320,"wires":[]},{"id":"eca53570.090008","type":"ui_button","z":"532de144.f541f","name":"","group":"51bcd62e.7fea58","order":0,"width":0,"height":0,"passthru":false,"label":"Re-calibrate","color":"","bgcolor":"","icon":"","payload":"calibGyro,","payloadType":"str","topic":"","x":370,"y":420,"wires":[["1a50f957.fc4247","9d710d00.01125"]]},{"id":"5d7edd62.52fc54","type":"debug","z":"532de144.f541f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":260,"wires":[]},{"id":"1a50f957.fc4247","type":"serial out","z":"532de144.f541f","name":"To Arduino","serial":"74d1dd19.d96434","x":700,"y":420,"wires":[]},{"id":"f8eec57f.8896e8","type":"ui_toast","z":"532de144.f541f","position":"bottom right","displayTime":"8","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Calibrando... (8s)","x":770,"y":480,"wires":[]},{"id":"9d710d00.01125","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Calibrando. (Espere 8s)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["f8eec57f.8896e8"]]},{"id":"beb543b6.96bc7","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":1,"width":0,"height":0,"gtype":"gage","title":"Y Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"67c66e88.9c99a","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":60,"wires":[[]]},{"id":"57a8a31e.601c5c","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[[]]},{"id":"7bbbfe98.2e9a4","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":140,"wires":[[]]},{"id":"70819ab9.b520a4","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":180,"wires":[[]]},{"id":"86fa031b.f9cb6","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":220,"wires":[[]]},{"id":"8dd7fef7.ca609","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":260,"wires":[[]]},{"id":"9c03af2e.c0ab3","type":"function","z":"532de144.f541f","name":"-10","func":"msg.payload = msg.payload -30\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["7364a2c5.ee92fc"]]},{"id":"7364a2c5.ee92fc","type":"smooth","z":"532de144.f541f","name":"","property":"payload","action":"mean","count":"1","round":"1","mult":"single","x":900,"y":320,"wires":[["103a37c.da696c8"]]},{"id":"3915d3ad.ac3dfc","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"T CPU","group":"1656b6d3.0e7669","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-15","max":"90","colors":["#000ab5","#03e22b","#ca3838"],"seg1":"","seg2":"","x":330,"y":120,"wires":[]},{"id":"ae8fabca.4f6f78","type":"ui_text","z":"94ebdc9.6a4eb2","group":"1656b6d3.0e7669","order":3,"width":"4","height":"2","name":"","label":"Memory In Use :","format":"{{msg.payload}}%","layout":"col-center","x":300,"y":240,"wires":[]},{"id":"a191706c.74f66","type":"ui_chart","z":"94ebdc9.6a4eb2","name":"CPU LOAD","group":"1656b6d3.0e7669","order":2,"width":"4","height":"3","label":"CPU LOAD","chartType":"bar","legend":"false","xformat":"mm:ss","interpolate":"step","nodata":"NO DATA","dot":true,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":310,"y":180,"wires":[[]]},{"id":"681a8ece.a08b","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"KG","group":"f796966.c57f468","order":7,"width":"5","height":"5","gtype":"gage","title":"Payload","label":"Rocks Weight","format":"{{value}} kg","min":0,"max":"1","colors":["#00b0b5","#00ff13","#3e38ca"],"seg1":"","seg2":"","x":590,"y":100,"wires":[]},{"id":"3098c5f2.f6264a","type":"exec","z":"43c8b9dc.663e28","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp CPU","x":350,"y":160,"wires":[["4aad4088.a430e"],[],[]]},{"id":"39c2eec3.475072","type":"inject","z":"43c8b9dc.663e28","name":"Timer 1 Seg","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":163,"y":222,"wires":[["3098c5f2.f6264a","d9312154.e43c4","2261df64.d98cb"]]},{"id":"4aad4088.a430e","type":"function","z":"43c8b9dc.663e28","name":"SubString","func":"str = msg.payload \nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":155,"wires":[["a377e018.1e0d9"]]},{"id":"d9312154.e43c4","type":"exec","z":"43c8b9dc.663e28","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"LOAD","x":328,"y":221.5,"wires":[["3bf1c720.382528"],[],[]]},{"id":"2261df64.d98cb","type":"exec","z":"43c8b9dc.663e28","command":"free | grep Mem | awk '{print $3/$2 * 100.0}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"MEM","x":330,"y":280,"wires":[["e34f839f.20f9f"],[],[]]},{"id":"cb665c60.a2598","type":"inject","z":"3cc19c06.1f2ff4","name":"VOLTS","topic":"","payload":"","payloadType":"str","repeat":"40","crontab":"","once":true,"onceDelay":0.1,"x":260,"y":120,"wires":[["1370a43f.5f894c"]]},{"id":"ff59b82c.bd4578","type":"inject","z":"3cc19c06.1f2ff4","name":"TEMP BAT","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":160,"wires":[["366f6c5e.ac8424"]]},{"id":"2b7a023f.607e9e","type":"link in","z":"94ebdc9.6a4eb2","name":"T CPU Gauge","links":["c1bfc8f4.6a3d98","a377e018.1e0d9"],"x":175,"y":120,"wires":[["3915d3ad.ac3dfc"]]},{"id":"354a61c3.9e192e","type":"link in","z":"94ebdc9.6a4eb2","name":"CPU LOAD Graph","links":["3bf1c720.382528"],"x":175,"y":180,"wires":[["a191706c.74f66"]]},{"id":"9ddd1708.3d1ab8","type":"link in","z":"94ebdc9.6a4eb2","name":"MEM Text","links":["e34f839f.20f9f","e18fce3b.2b10a8"],"x":175,"y":240,"wires":[["ae8fabca.4f6f78"]]},{"id":"a377e018.1e0d9","type":"link out","z":"43c8b9dc.663e28","name":"","links":["2b7a023f.607e9e"],"x":718,"y":159,"wires":[]},{"id":"173c7654.15fffa","type":"comment","z":"43c8b9dc.663e28","name":"Estos nodos funcionan dentro de la Raspberry.","info":"","x":240,"y":80,"wires":[]},{"id":"3bf1c720.382528","type":"link out","z":"43c8b9dc.663e28","name":"","links":["354a61c3.9e192e"],"x":595,"y":220,"wires":[]},{"id":"e34f839f.20f9f","type":"link out","z":"43c8b9dc.663e28","name":"","links":["9ddd1708.3d1ab8"],"x":594,"y":270,"wires":[]},{"id":"840d8eb9.e33f2","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["84e1b7cf.1382a8","c3bd6988.70a878"],"x":655,"y":120,"wires":[]},{"id":"62dc640b.d9d8ec","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["d3f9034a.a8eed","e05bec49.1dc6c"],"x":655,"y":160,"wires":[]},{"id":"7abbd939.59c618","type":"comment","z":"94ebdc9.6a4eb2","name":"CPU","info":"","x":210,"y":40,"wires":[]},{"id":"fcb7d7c9.a415c8","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["b417a355.f45b8"],"x":655,"y":200,"wires":[]},{"id":"7a76304.4eb62d","type":"inject","z":"3cc19c06.1f2ff4","name":"KG","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["103a1943.131bb7"]]},{"id":"beebde2.f0fa82","type":"comment","z":"3cc19c06.1f2ff4","name":"Aquí se van a estar generando valores aleatorios pero coherentes para cada gráfica para el demo de la interfaz.","info":"","x":436,"y":46,"wires":[]},{"id":"1370a43f.5f894c","type":"function","z":"3cc19c06.1f2ff4","name":"Generador VOLTS","func":"//Obtiene el valor de volts, o asigna el default en 12\nvar x = flow.get('volts')||12;\nif(x<7) x=12; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('volts',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["840d8eb9.e33f2"]]},{"id":"366f6c5e.ac8424","type":"function","z":"3cc19c06.1f2ff4","name":"Generador TEMP BAT","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["62dc640b.d9d8ec"]]},{"id":"355c4a21.51c536","type":"comment","z":"94ebdc9.6a4eb2","name":"Variables Principales","info":"","x":550,"y":40,"wires":[]},{"id":"e5a0bdcd.41938","type":"comment","z":"5fbc9311.d57b4c","name":"Aquí se extraerá la información de los sensores conectados a la Rasp.","info":"","x":390,"y":60,"wires":[]},{"id":"fb632857.440cc8","type":"comment","z":"43c8b9dc.663e28","name":"Aquí se extraerá la información desde el interior de la Rasp.","info":"","x":280,"y":40,"wires":[]},{"id":"b417a355.f45b8","type":"link in","z":"94ebdc9.6a4eb2","name":"KG","links":["fcb7d7c9.a415c8"],"x":475,"y":100,"wires":[["681a8ece.a08b"]]},{"id":"bed533e3.8469b","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"V Bat","group":"5e94c4a2.9ff8bc","order":1,"width":0,"height":0,"gtype":"gage","title":"V BAT","label":"","format":"{{value}}V","min":"7","max":"12","colors":["#fb0006","#e6e600","#29cd01"],"seg1":"10","seg2":"13","x":950,"y":120,"wires":[]},{"id":"b9726b67.a88ac8","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Temp Bat","group":"5e94c4a2.9ff8bc","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-15","max":"99","colors":["#00ffef","#58ff00","#ff0000"],"seg1":"25","seg2":"45","x":940,"y":180,"wires":[]},{"id":"c3bd6988.70a878","type":"link in","z":"94ebdc9.6a4eb2","name":"V BAT Gauge","links":["840d8eb9.e33f2"],"x":795,"y":120,"wires":[["bed533e3.8469b"]]},{"id":"e05bec49.1dc6c","type":"link in","z":"94ebdc9.6a4eb2","name":"TEMP BAT Gauge","links":["62dc640b.d9d8ec"],"x":795,"y":180,"wires":[["b9726b67.a88ac8"]]},{"id":"e66bbc50.0717e","type":"comment","z":"94ebdc9.6a4eb2","name":"Batería","info":"","x":830,"y":40,"wires":[]},{"id":"c268bd88.ef749","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Tilti Angle (Yaw)","group":"f796966.c57f468","order":1,"width":"5","height":"5","gtype":"gage","title":"Tilt Angle (Yaw)","label":"Degrees","format":"{{value}} D","min":"-30","max":"30","colors":["#ffffff","#0016ff","#ffffff"],"seg1":"","seg2":"","x":620,"y":140,"wires":[]},{"id":"734356af.0d4758","type":"inject","z":"3cc19c06.1f2ff4","name":"Degrees Yaw","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["8b8146e8.9cd508"]]},{"id":"103a1943.131bb7","type":"function","z":"3cc19c06.1f2ff4","name":"Generador ROCKS","func":"//Obtiene el valor de rocks, o asigna el default en 12\nvar x = flow.get('rocks')||0;\nif(x>1) x=0; //Por si ya llegamos a 1kg.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//crece el valor \nx=x+0.1;\n\nflow.set('rocks',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["fcb7d7c9.a415c8"]]},{"id":"85f607cd.98fd28","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Tilt Angle (Roll)","group":"f796966.c57f468","order":3,"width":"5","height":"5","gtype":"gage","title":"Tilt Angle (Roll)","label":"Degrees","format":"{{value}} D","min":"-30","max":"30","colors":["#ffffff","#001aff","#ffffff"],"seg1":"","seg2":"","x":620,"y":180,"wires":[]},{"id":"7a6315df.e4200c","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Atmosphere Temp","group":"f796966.c57f468","order":4,"width":"5","height":"5","gtype":"gage","title":"Atmosphere Temp","label":"Atmosphere Temp","format":"{{value}} °C","min":"-30","max":"160","colors":["#00d6ff","#00ff13","#ff9d00"],"seg1":"","seg2":"","x":610,"y":260,"wires":[]},{"id":"8b8146e8.9cd508","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Degrees Yaw","func":"//Lista de valores de demo\nvar x = [ 25.0, 20, 10,\n          14, 0, -15,\n          -12, -22, -24, -28]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["94f80c8.9a962f"]]},{"id":"a1f690a0.877ff","type":"link in","z":"94ebdc9.6a4eb2","name":"","links":["94f80c8.9a962f"],"x":475,"y":140,"wires":[["c268bd88.ef749"]]},{"id":"cb68d7c2.72c058","type":"link in","z":"94ebdc9.6a4eb2","name":"","links":["6f364c1b.c4d734"],"x":475,"y":180,"wires":[["85f607cd.98fd28"]]},{"id":"94f80c8.9a962f","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["a1f690a0.877ff"],"x":655,"y":240,"wires":[]},{"id":"6e292558.adfd6c","type":"inject","z":"3cc19c06.1f2ff4","name":"Degrees Roll","topic":"","payload":"","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":280,"wires":[["c855ed8.bb0c61"]]},{"id":"c855ed8.bb0c61","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Degrees Roll","func":"//Lista de valores de demo\nvar x = [ 14, -10, 1.1,\n          9.2, -0.2, -15,\n          -12, -8, -6, -29.9]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["6f364c1b.c4d734"]]},{"id":"6f364c1b.c4d734","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["cb68d7c2.72c058","db4f6090.a1d9b"],"x":655,"y":280,"wires":[]},{"id":"e00fe707.997828","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Current","group":"5e94c4a2.9ff8bc","order":3,"width":0,"height":0,"gtype":"gage","title":"Current","label":"","format":"{{value}} A","min":"0","max":"10","colors":["#0060ff","#58ff00","#ff0000"],"seg1":"2.5","seg2":"7.5","x":935,"y":270,"wires":[]},{"id":"d008bcbe.92974","type":"link in","z":"94ebdc9.6a4eb2","name":"Current Gauge","links":["938e975f.b71e48"],"x":815,"y":272,"wires":[["e00fe707.997828"]]},{"id":"ec2363b8.5c1d","type":"inject","z":"3cc19c06.1f2ff4","name":"AMPERES","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":320,"wires":[["ff2aff.a4c4a5"]]},{"id":"938e975f.b71e48","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["d008bcbe.92974","4bb76843.ff69f8"],"x":655,"y":320,"wires":[]},{"id":"ff2aff.a4c4a5","type":"function","z":"3cc19c06.1f2ff4","name":"Generador AMPERES","func":"//Obtiene el valor de amperes, o asigna el default en 10\nvar x = flow.get('Amper')||10;\nif(x<0) x=10; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('Amper',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["938e975f.b71e48"]]},{"id":"db4f6090.a1d9b","type":"link in","z":"94ebdc9.6a4eb2","name":"Atmosphere Temp","links":["66c9dc3b.497594","6f364c1b.c4d734"],"x":475,"y":260,"wires":[["7a6315df.e4200c"]]},{"id":"a0de9ef7.3c944","type":"inject","z":"3cc19c06.1f2ff4","name":"ATMO TEMP","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":280,"y":360,"wires":[["46608b01.a8f524"]]},{"id":"66c9dc3b.497594","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["db4f6090.a1d9b"],"x":655,"y":360,"wires":[]},{"id":"46608b01.a8f524","type":"function","z":"3cc19c06.1f2ff4","name":"Generador TEMP ATMOS","func":"//Lista de valores de demo\nvar x = [ 50, 25, 40,\n          40, 32.7, 35,\n          28, 32, 29, 42]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["66c9dc3b.497594"]]},{"id":"72b87ca4.afbf34","type":"ui_text","z":"94ebdc9.6a4eb2","group":"f796966.c57f468","order":5,"width":"3","height":"1","name":"Distance to home","label":"Distance to home","format":"{{msg.payload}}","layout":"col-center","x":610,"y":300,"wires":[]},{"id":"14d9c640.ed7d5a","type":"ui_text","z":"94ebdc9.6a4eb2","group":"f796966.c57f468","order":6,"width":"3","height":"1","name":"Odometer","label":"Odometer","format":"{{msg.payload}}","layout":"col-center","x":640,"y":340,"wires":[]},{"id":"f7775522.364288","type":"ui_chart","z":"94ebdc9.6a4eb2","name":"","group":"f796966.c57f468","order":8,"width":"5","height":"3","label":"Discharging","chartType":"horizontalBar","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#2c1fb4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":380,"wires":[[]]},{"id":"56561d6c.9ba9a4","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Relative Angle","group":"f796966.c57f468","order":2,"width":"5","height":"5","gtype":"compass","title":"Relative Angle","label":"Degree","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":220,"wires":[]},{"id":"10ecb41.5e9844c","type":"link in","z":"94ebdc9.6a4eb2","name":"Distance to home","links":["c8002c58.4ef85"],"x":475,"y":300,"wires":[["72b87ca4.afbf34"]]},{"id":"e505e964.d523d8","type":"inject","z":"3cc19c06.1f2ff4","name":"Distance to Home","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":290,"y":400,"wires":[["f79c1db5.3c005"]]},{"id":"c8002c58.4ef85","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["10ecb41.5e9844c"],"x":655,"y":400,"wires":[]},{"id":"f79c1db5.3c005","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Home","func":"//Obtiene el valor de metros, o asigna el default en 0\nvar x = flow.get('Meters')||100;\nif(x>100) x=0; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x+0.5;\n\nflow.set('Meters',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["c8002c58.4ef85"]]},{"id":"dbe5865.372e978","type":"link in","z":"94ebdc9.6a4eb2","name":"Odometer","links":["9b9bf995.aa4868"],"x":475,"y":340,"wires":[["14d9c640.ed7d5a"]]},{"id":"5c877b4d.edff94","type":"inject","z":"3cc19c06.1f2ff4","name":"Odometer","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":440,"wires":[["29f073de.af34dc"]]},{"id":"9b9bf995.aa4868","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["dbe5865.372e978","9849e054.ac1c6"],"x":655,"y":440,"wires":[]},{"id":"29f073de.af34dc","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Odometer","func":"//Obtiene el valor de metros, o asigna el default en 0\nvar x = flow.get('Meters')||200;\nif(x>200) x=0; //Por si ya llegamos a 200.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x+0.1;\n\nflow.set('Meters',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":440,"wires":[["9b9bf995.aa4868"]]},{"id":"9849e054.ac1c6","type":"link in","z":"94ebdc9.6a4eb2","name":"Relative Angle","links":["9b9bf995.aa4868","3319f159.bdff8e"],"x":475,"y":220,"wires":[["56561d6c.9ba9a4"]]},{"id":"a71e0a2d.a864a8","type":"inject","z":"3cc19c06.1f2ff4","name":"Relative Angle","topic":"","payload":"","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":480,"wires":[["387f380f.191ca8"]]},{"id":"387f380f.191ca8","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Relative Angle","func":"//Lista de valores de demo\nvar x = [ 299, 340, 14,\n          92.3, 1, 226,\n         188, 301, 106, 331]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["3319f159.bdff8e"]]},{"id":"3319f159.bdff8e","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["9849e054.ac1c6"],"x":655,"y":480,"wires":[]},{"id":"d26c49b2.429e68","type":"link in","z":"94ebdc9.6a4eb2","name":"Discharging","links":["b462dfe2.75303"],"x":475,"y":380,"wires":[["f7775522.364288"]]},{"id":"145291eb.3a607e","type":"inject","z":"3cc19c06.1f2ff4","name":"Discharging","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":520,"wires":[["5124a52e.e3182c"]]},{"id":"5124a52e.e3182c","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Discharging","func":"//Lista de valores de demo\nvar x = [ 29, 42, 44,\n          1, 99, 100,\n         86, 72, 54, 38]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["b462dfe2.75303"]]},{"id":"b462dfe2.75303","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["d26c49b2.429e68"],"x":655,"y":520,"wires":[]}]