.flows.json.backup
[{"id":"7fb3eebf.8b96","type":"tab","label":"Torreta","disabled":false,"info":""},{"id":"a9e32586.9bf478","type":"tab","label":"Rock Picker","disabled":false,"info":""},{"id":"4cdd2b9e.8497d4","type":"tab","label":"Salidas GPIO","disabled":false,"info":""},{"id":"7e0bd8bb.6fac68","type":"tab","label":"Drive","disabled":false,"info":""},{"id":"532de144.f541f","type":"tab","label":"MPU6050","disabled":false,"info":""},{"id":"43c8b9dc.663e28","type":"tab","label":"Lecturas (Network)","disabled":false,"info":""},{"id":"bcd1ad73.d0a99","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"2bd38438.1ec89c","type":"tab","label":"Sistema","disabled":false,"info":""},{"id":"37e970f7.4c2f8","type":"subflow","name":"Stepper Motor","info":"","in":[{"x":120,"y":160,"wires":[{"id":"da05b2a2.793bb"}]}],"out":[{"x":1120,"y":120,"wires":[{"id":"296f8983.2b1e86","port":0}]},{"x":1120,"y":200,"wires":[{"id":"da05b2a2.793bb","port":1}]}]},{"id":"c641f918.652968","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9fb5aae8.d095e8","type":"ui_tab","z":"","name":"Telemetry","icon":"dashboard","order":2},{"id":"61e593a6.cc124c","type":"ui_group","z":"","name":"Gyro","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"26b1b5b2.9d35da","type":"ui_group","z":"","name":"Accel","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"51bcd62e.7fea58","type":"ui_group","z":"","name":"Calibration","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"e3bc2129.7f362","type":"ui_group","z":"","name":"Motores","tab":"9a74d243.b894a","disp":true,"width":"6","collapse":false},{"id":"4eb5399c.77f808","type":"ui_group","z":"","name":"Temp","tab":"","order":1,"disp":false,"width":"6"},{"id":"ede17187.8ebf9","type":"ui_group","z":"","name":"Carga CPU","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"d48112ef.d595b","type":"ui_group","z":"","name":"Inclinación y Odometría","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"abc5fd25.9f3f9","type":"ui_group","z":"","name":"Célula de Carga y Potencia","tab":"ba1ce2bd.f8581","order":4,"disp":true,"width":"6","collapse":false},{"id":"1656b6d3.0e7669","type":"ui_group","z":"","name":"CPU","tab":"112ec31.796b33d","order":1,"disp":true,"width":"4","collapse":false},{"id":"f796966.c57f468","type":"ui_group","z":"","name":"Main Variables","tab":"112ec31.796b33d","order":2,"disp":true,"width":"15","collapse":false},{"id":"112ec31.796b33d","type":"ui_tab","z":"","name":"Measurements","icon":"dashboard","order":3},{"id":"5e94c4a2.9ff8bc","type":"ui_group","z":"","name":"Battery","tab":"112ec31.796b33d","disp":true,"width":"4","collapse":false},{"id":"fa70f74b.f36f18","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"e037f552.9dd538","type":"ui_group","z":"","name":"Heatmap","tab":"","disp":true,"width":"18","collapse":false},{"id":"1b91ed03.4a54f3","type":"ui_group","z":"","name":"Setup","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"17c18594.324f3a","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c030e224.47d1d","type":"ui_group","z":"","name":"WiFi","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"55cc3e78.2a8ed","type":"ui_group","z":"","name":"Botones","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"db07fed.74448","type":"ui_group","z":"","name":"Apagar","tab":"9a74d243.b894a","order":2,"disp":true,"width":"6","collapse":false},{"id":"3aeadcc5.f277e4","type":"ui_group","z":"","name":"Cámara","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"40f0a67.a756c58","type":"ui_group","z":"","name":"Motores","tab":"","disp":true,"width":"6","collapse":false},{"id":"bb51df0b.acdbd","type":"ui_group","z":"","name":"Autónomo","tab":"","disp":true,"width":"6","collapse":false},{"id":"8865e937.07bd68","type":"ui_group","z":"","name":"Pan","tab":"b7fe2b9c.3d0b38","order":2,"disp":true,"width":"6","collapse":false},{"id":"5a36d2f5.03d4ac","type":"ui_group","z":"","name":"Tilt","tab":"b7fe2b9c.3d0b38","order":3,"disp":true,"width":"6","collapse":false},{"id":"82c63b5.f6362c8","type":"ui_group","z":"","name":"Botones","tab":"","disp":false,"width":"6","collapse":false},{"id":"f7fab34b.c85b5","type":"ui_group","z":"","name":"Video","tab":"b7fe2b9c.3d0b38","order":1,"disp":true,"width":"6","collapse":true},{"id":"4bd96968.d3b318","type":"ui_group","z":"","name":"Tester","tab":"ba1ce2bd.f8581","disp":true,"width":"6","collapse":false},{"id":"85724c73.1e1e5","type":"ui_group","z":0,"name":"D","tab":"","disp":true,"width":"6","collapse":false},{"id":"ff76de63.bbc13","type":"ui_group","z":0,"name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b7fe2b9c.3d0b38","type":"ui_tab","z":"","name":"Torreta","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ba1ce2bd.f8581","type":"ui_tab","z":"","name":"Pruebas","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"fbf792c3.99f0d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"Rover","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Birth","birthQos":"0","birthPayload":"El rover se conectó.","closeTopic":"Death","closeQos":"0","closePayload":"Cerrando conexión del rover.","willTopic":"Unexpected","willQos":"2","willPayload":"Morí (Rover). D:"},{"id":"f4a06398.d250c","type":"mqtt-broker","z":"","name":"CardansanBase","broker":"192.168.137.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d6dd503.93fb38","type":"ui_group","z":"","name":"WiFi","tab":"9a74d243.b894a","order":1,"disp":true,"width":"6","collapse":true},{"id":"9a74d243.b894a","type":"ui_tab","z":"","name":"Sistema","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1e73c788.e052f8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b8acc810.6eb468","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1},{"id":"e127e78c.be1498","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2e703c2b.4eba74","type":"serial in","z":"532de144.f541f","name":"From Arduino","serial":"1e73c788.e052f8","x":150,"y":160,"wires":[["14998126.777a5f"]]},{"id":"eca53570.090008","type":"ui_button","z":"532de144.f541f","name":"","group":"51bcd62e.7fea58","order":0,"width":0,"height":0,"passthru":false,"label":"Re-calibrate","color":"","bgcolor":"","icon":"","payload":"calibGyro,","payloadType":"str","topic":"","x":230,"y":320,"wires":[["9d710d00.01125","1a50f957.fc4247"]]},{"id":"1a50f957.fc4247","type":"serial out","z":"532de144.f541f","name":"To Arduino","serial":"1e73c788.e052f8","x":650,"y":320,"wires":[]},{"id":"f8eec57f.8896e8","type":"ui_toast","z":"532de144.f541f","position":"bottom right","displayTime":"8","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Calibrando... (8s)","x":630,"y":380,"wires":[]},{"id":"9d710d00.01125","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Calibrando. (Espere 8s)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":380,"wires":[["f8eec57f.8896e8"]]},{"id":"3098c5f2.f6264a","type":"exec","z":"43c8b9dc.663e28","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp CPU","x":350,"y":160,"wires":[["4aad4088.a430e"],[],[]]},{"id":"39c2eec3.475072","type":"inject","z":"43c8b9dc.663e28","name":"Timer 1 Seg","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":163,"y":222,"wires":[["3098c5f2.f6264a","d9312154.e43c4","2261df64.d98cb"]]},{"id":"4aad4088.a430e","type":"function","z":"43c8b9dc.663e28","name":"SubString","func":"str = msg.payload \nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":155,"wires":[["a377e018.1e0d9","6296201c.3537e"]]},{"id":"d9312154.e43c4","type":"exec","z":"43c8b9dc.663e28","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"LOAD","x":328,"y":221.5,"wires":[["3bf1c720.382528","d5fc7909.e96158"],[],[]]},{"id":"2261df64.d98cb","type":"exec","z":"43c8b9dc.663e28","command":"free | grep Mem | awk '{print $3/$2 * 100.0}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"MEM","x":330,"y":280,"wires":[["e34f839f.20f9f","31d86b67.e48b34"],[],[]]},{"id":"a377e018.1e0d9","type":"link out","z":"43c8b9dc.663e28","name":"","links":["2b7a023f.607e9e"],"x":718,"y":159,"wires":[]},{"id":"173c7654.15fffa","type":"comment","z":"43c8b9dc.663e28","name":"Estos nodos funcionan dentro de la Raspberry.","info":"","x":240,"y":80,"wires":[]},{"id":"3bf1c720.382528","type":"link out","z":"43c8b9dc.663e28","name":"","links":["354a61c3.9e192e"],"x":595,"y":220,"wires":[]},{"id":"e34f839f.20f9f","type":"link out","z":"43c8b9dc.663e28","name":"","links":["9ddd1708.3d1ab8"],"x":594,"y":270,"wires":[]},{"id":"fb632857.440cc8","type":"comment","z":"43c8b9dc.663e28","name":"Aquí se extraerá la información desde el interior de la Rasp.","info":"","x":280,"y":40,"wires":[]},{"id":"f016f5bd.06d338","type":"inject","z":"7fb3eebf.8b96","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":true,"onceDelay":"5","x":450,"y":140,"wires":[["db974edf.9af0e"]]},{"id":"db974edf.9af0e","type":"file in","z":"7fb3eebf.8b96","name":"","filename":"/dev/shm/mjpeg/cam.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":690,"y":140,"wires":[["9fb02fe6.d1494"]]},{"id":"b97d5326.407e1","type":"template","z":"7fb3eebf.8b96","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":1020,"y":140,"wires":[["31ab6703.b22978"]]},{"id":"31ab6703.b22978","type":"ui_template","z":"7fb3eebf.8b96","group":"f7fab34b.c85b5","name":"Video","order":2,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1150,"y":140,"wires":[[]]},{"id":"c117f45.08af908","type":"comment","z":"7fb3eebf.8b96","name":"Habilitar y desplegar para empezar a correr la transmisión de video.","info":"","x":680,"y":60,"wires":[]},{"id":"551f5ece.3e5e8","type":"comment","z":"43c8b9dc.663e28","name":"Aquí se extraerá la información de los sensores conectados a la Rasp.","info":"","x":310,"y":480,"wires":[]},{"id":"9b0295be.a6b928","type":"link in","z":"2bd38438.1ec89c","name":"ui-exec","links":["1594d621.c9607a","45ac6ef8.cd19b"],"x":695,"y":160,"wires":[["72d76c18.ed1174"]]},{"id":"72d76c18.ed1174","type":"exec","z":"2bd38438.1ec89c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":950,"y":160,"wires":[[],[],[]]},{"id":"9fb02fe6.d1494","type":"base64","z":"7fb3eebf.8b96","name":"","action":"str","property":"payload","x":880,"y":140,"wires":[["b97d5326.407e1"]]},{"id":"37f35ea0.d478a2","type":"inject","z":"4cdd2b9e.8497d4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":60,"wires":[["60368636.d16698"]]},{"id":"60368636.d16698","type":"exec","z":"4cdd2b9e.8497d4","command":"sudo pigpiod","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":60,"wires":[["a97fdf03.948c8"],[],[]]},{"id":"a97fdf03.948c8","type":"debug","z":"4cdd2b9e.8497d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":60,"wires":[]},{"id":"6c022877.d26038","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"load","targetType":"msg","x":760,"y":540,"wires":[]},{"id":"1631605d.e435e","type":"inject","z":"43c8b9dc.663e28","name":"Short Interval","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":120,"y":660,"wires":[[]]},{"id":"523f1650.c687a8","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"msg.load = parseInt(String(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["6c022877.d26038","2eb49287.24c97e"]]},{"id":"a4d6a1c2.0d151","type":"i2c in","z":"43c8b9dc.663e28","name":"Load In","address":"11","command":"0","count":"16","x":340,"y":540,"wires":[["523f1650.c687a8"]]},{"id":"5f1dbd54.89c574","type":"i2c scan","z":"43c8b9dc.663e28","name":"Check Bus","x":550,"y":1280,"wires":[["532b34f2.b4e2ac"],[]]},{"id":"bb8a0a80.c74db8","type":"inject","z":"43c8b9dc.663e28","name":"Minute Interval","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.5","x":140,"y":1280,"wires":[["5f1dbd54.89c574"]]},{"id":"65787304.79f4ec","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":1460,"wires":[]},{"id":"54ddfd15.0af9e4","type":"i2c in","z":"43c8b9dc.663e28","name":"Temp Amb In","address":"90","command":"6","count":"3","x":350,"y":660,"wires":[["263a8030.17f37"]]},{"id":"263a8030.17f37","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"var data = msg.payload[0];\ndata = data | msg.payload[1]<<8;\nvar temp = {};\ntemp.amb = data*0.02-273.15;\nmsg.temp = temp;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["fd17b91f.e4e2f8","881580c1.7458a"]]},{"id":"fd17b91f.e4e2f8","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"temp.amb","targetType":"msg","x":900,"y":660,"wires":[]},{"id":"f0b2ee57.4ec2a","type":"i2c in","z":"43c8b9dc.663e28","name":"Temp Obj1 In","address":"90","command":"7","count":"3","x":350,"y":740,"wires":[["38f6e26b.6e70ae"]]},{"id":"38f6e26b.6e70ae","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"var data = msg.payload[0];\ndata = data | msg.payload[1]<<8;\nmsg.temp.obj1 = data*0.02-273.15;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":740,"wires":[["556bf93b.09b658"]]},{"id":"556bf93b.09b658","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"temp.obj1","targetType":"msg","x":900,"y":740,"wires":[]},{"id":"2eb49287.24c97e","type":"ui_chart","z":"43c8b9dc.663e28","name":"","group":"abc5fd25.9f3f9","order":0,"width":0,"height":0,"label":"Graph Load Cell","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":600,"wires":[[]]},{"id":"624d29fb.f79a78","type":"mqtt out","z":"bcd1ad73.d0a99","name":"","topic":"Rover","qos":"","retain":"","broker":"fbf792c3.99f0d","x":330,"y":180,"wires":[]},{"id":"7eb2d231.8c6c5c","type":"inject","z":"bcd1ad73.d0a99","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["624d29fb.f79a78"]]},{"id":"4bdb7022.de8ee","type":"link in","z":"4cdd2b9e.8497d4","name":"APin17","links":["33b49687.ced9da","639a87f9.4d0258"],"x":175,"y":220,"wires":[["a34b7660.e038c8"]]},{"id":"2c5decc5.892194","type":"comment","z":"4cdd2b9e.8497d4","name":"Torreta Pan","info":"","x":230,"y":160,"wires":[]},{"id":"9110d3ed.9be8b","type":"function","z":"4cdd2b9e.8497d4","name":"Pigs format 20","func":"pos = msg.payload;\npin = 20;\nmsg.payload = \"pigs s \" + pin + \" \" + pos\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":360,"wires":[["ba94d20f.f8d27"]]},{"id":"ba94d20f.f8d27","type":"exec","z":"4cdd2b9e.8497d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":910,"y":380,"wires":[[],[],[]]},{"id":"6844e17b.1ad9e","type":"trigger","z":"4cdd2b9e.8497d4","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":500,"y":360,"wires":[["9110d3ed.9be8b"]]},{"id":"2ac21dbf.c5c402","type":"comment","z":"4cdd2b9e.8497d4","name":"Torreta Tilt","info":"","x":1020,"y":160,"wires":[]},{"id":"334172ae.afd08e","type":"function","z":"4cdd2b9e.8497d4","name":"Pigs format 21","func":"pos = msg.payload;\npin = 21;\nmsg.payload = \"pigs s \" + pin + \" \" + pos\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":400,"wires":[["ba94d20f.f8d27"]]},{"id":"515ff379.c27c2c","type":"pi-gpiod out","z":"4cdd2b9e.8497d4","name":"","host":"localhost","port":8888,"pin":"21","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":1020,"y":220,"wires":[]},{"id":"2832b11b.2863ce","type":"trigger","z":"4cdd2b9e.8497d4","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":500,"y":400,"wires":[["334172ae.afd08e"]]},{"id":"d6134388.eb58f","type":"link in","z":"4cdd2b9e.8497d4","name":"APin18","links":["66368b00.740584","556e2491.f0a20c"],"x":835,"y":220,"wires":[["515ff379.c27c2c"]]},{"id":"8537e0be.c72d9","type":"inject","z":"2bd38438.1ec89c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":120,"wires":[["b7ff0912.df2d68"]]},{"id":"b7ff0912.df2d68","type":"function","z":"2bd38438.1ec89c","name":"Times reset Counter","func":"var x= global.get(\"timesReset\")||0;\nx++;\nglobal.set(\"timesReset\",x)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":120,"wires":[[]]},{"id":"fedae19.c51252","type":"inject","z":"2bd38438.1ec89c","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1170,"y":160,"wires":[["fecf69c5.200708"]]},{"id":"fecf69c5.200708","type":"function","z":"2bd38438.1ec89c","name":"Reset Counter","func":"var x= 0\nglobal.set(\"timesReset\",x)\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":160,"wires":[[]]},{"id":"3a8db37.043074c","type":"comment","z":"2bd38438.1ec89c","name":"Checar si se ha estado reiniciando","info":"","x":1220,"y":80,"wires":[]},{"id":"93750fa8.7ab9d","type":"link in","z":"2bd38438.1ec89c","name":"sistema-agregar-wifi","links":["5cf4cdcb.edda24"],"x":695,"y":300,"wires":[["e7c44a08.828ea8"]]},{"id":"70841d3e.b43de4","type":"comment","z":"2bd38438.1ec89c","name":"Agregar WiFi","info":"","x":750,"y":240,"wires":[]},{"id":"e7c44a08.828ea8","type":"function","z":"2bd38438.1ec89c","name":"Formato wpa_supplicant","func":"var ssid = global.get('ssid');\nvar psk = global.get('psk');\n\n\nvar formato = 'ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev' \nformato += ' \\n ';\nformato += 'update_config=1'\nformato += ' \\n ';\nformato += 'country=MX'\nformato += ' \\n ';\n\nformato += 'network={'\nformato += ' \\n ';\nformato += 'ssid='\nformato += ssid;\nformato += ' \\n ';\nformato += 'psk=';\nformato += psk\nformato += ' \\n ';\nformato += 'key_mgmt=WPA-PSK'\nformato += ' \\n ';\nformato += 'priority=1'\nformato += ' \\n ';\nformato += \"}\";\nformato += ' \\n ';\n\nformato += ' \\n ';\nformato += 'network={'\nformato += ' \\n ';\nformato += 'ssid=Habia una vez'\nformato += ' \\n ';\nformato += 'psk=-truz, jaja';\nformato += ' \\n ';\nformato += 'key_mgmt=WPA-PSK'\nformato += ' \\n ';\nformato += 'priority=10'\nformato += ' \\n ';\nformato += \"}\";\nformato += ' \\n ';\n\nformato += ' \\n ';\nformato += 'network={'\nformato += ' \\n ';\nformato += 'ssid=curiositycoatl'\nformato += ' \\n ';\nformato += 'psk=curiosity_secret';\nformato += ' \\n ';\nformato += 'key_mgmt=WPA-PSK'\nformato += ' \\n ';\nformato += 'priority=100'\nformato += ' \\n ';\nformato += \"}\";\nformato += ' \\n ';\n\n\nmsg = {payload:formato};\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["ab76f678.c25ea8"]]},{"id":"ab76f678.c25ea8","type":"file","z":"2bd38438.1ec89c","name":"","filename":"/etc/wpa_supplicant/wpa_supplicant.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1160,"y":300,"wires":[[]]},{"id":"8b97c2b3.977c3","type":"inject","z":"2bd38438.1ec89c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":100,"wires":[["142b88d.bf00077"]]},{"id":"142b88d.bf00077","type":"exec","z":"2bd38438.1ec89c","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Apagar","x":960,"y":100,"wires":[[],[],[]]},{"id":"df1c7870.258628","type":"ui_button","z":"2bd38438.1ec89c","name":"","group":"db07fed.74448","order":0,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sudo halt","payloadType":"str","topic":"","x":160,"y":160,"wires":[["a7c31efd.fd4e2"]]},{"id":"45ac6ef8.cd19b","type":"link out","z":"2bd38438.1ec89c","name":"ui-apagar","links":["a372d4e2.dcf248","9b0295be.a6b928"],"x":455,"y":180,"wires":[]},{"id":"9cbd940c.7ee1f8","type":"ui_button","z":"2bd38438.1ec89c","name":"","group":"db07fed.74448","order":0,"width":0,"height":0,"passthru":false,"label":"Reiniciar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sudo reboot","payloadType":"str","topic":"","x":160,"y":200,"wires":[["3218ea13.9ae1f6"]]},{"id":"a7c31efd.fd4e2","type":"ui_toast","z":"2bd38438.1ec89c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"sudo halt","cancel":"cancel","raw":false,"topic":"","name":"","x":330,"y":160,"wires":[["45ac6ef8.cd19b"]]},{"id":"3218ea13.9ae1f6","type":"ui_toast","z":"2bd38438.1ec89c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"sudo reboot now","cancel":"cancel","raw":false,"topic":"","name":"","x":330,"y":200,"wires":[["45ac6ef8.cd19b"]]},{"id":"1c355514.c1a0db","type":"ui_text_input","z":"2bd38438.1ec89c","name":"","label":"SSID","tooltip":"","group":"8d6dd503.93fb38","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":210,"y":340,"wires":[["5a6850e9.3189a"]]},{"id":"5a6850e9.3189a","type":"change","z":"2bd38438.1ec89c","name":"","rules":[{"t":"set","p":"ssid","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[[]]},{"id":"b0470fec.840b4","type":"ui_text_input","z":"2bd38438.1ec89c","name":"","label":"KEY","tooltip":"","group":"8d6dd503.93fb38","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":210,"y":380,"wires":[["78a55dc.43756a4"]]},{"id":"78a55dc.43756a4","type":"change","z":"2bd38438.1ec89c","name":"","rules":[{"t":"set","p":"psk","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[[]]},{"id":"6460a9a7.f6f038","type":"ui_button","z":"2bd38438.1ec89c","name":"","group":"8d6dd503.93fb38","order":3,"width":0,"height":0,"passthru":false,"label":"Agregar WiFi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Nueva Red","x":170,"y":420,"wires":[["126ad308.8e47fd"]]},{"id":"f5da6b2c.6b7308","type":"link out","z":"2bd38438.1ec89c","name":"ui-agregar-wifi","links":["ed3882d8.7146b"],"x":455,"y":420,"wires":[]},{"id":"126ad308.8e47fd","type":"ui_toast","z":"2bd38438.1ec89c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Agregar","cancel":"Cancelar","raw":false,"topic":"¿Seguro que deseas agregar una nueva red?","name":"¿Seguro?","x":340,"y":420,"wires":[["f5da6b2c.6b7308"]]},{"id":"23d01389.9de0dc","type":"link in","z":"2bd38438.1ec89c","name":"ui-ssid","links":["3c26d40b.da127c","c0d73a10.7dc578","dbccc2e8.34c09"],"x":115,"y":340,"wires":[["1c355514.c1a0db"]]},{"id":"f2c40d87.0ae7a","type":"ui_text","z":"2bd38438.1ec89c","group":"8d6dd503.93fb38","order":4,"width":0,"height":0,"name":"Show IP","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":460,"wires":[]},{"id":"9215d486.712e98","type":"link in","z":"2bd38438.1ec89c","name":"ui-ip","links":["d4e769ef.056b98"],"x":115,"y":460,"wires":[["f2c40d87.0ae7a"]]},{"id":"ee49371d.437368","type":"link in","z":"2bd38438.1ec89c","name":"ui-key_End","links":["30051913.1ce0c6","5b48c4b3.39a58c"],"x":115,"y":380,"wires":[["b0470fec.840b4"]]},{"id":"24a364b2.dacf0c","type":"comment","z":"2bd38438.1ec89c","name":"Configuración WiFi","info":"","x":170,"y":280,"wires":[]},{"id":"41634917.d19c38","type":"comment","z":"2bd38438.1ec89c","name":"Apagado","info":"","x":160,"y":80,"wires":[]},{"id":"639a87f9.4d0258","type":"link out","z":"7fb3eebf.8b96","name":"fromTorretaPan","links":["4bdb7022.de8ee","d1bce3af.55094"],"x":295,"y":140,"wires":[]},{"id":"806bd863.962548","type":"comment","z":"7fb3eebf.8b96","name":"Servos","info":"","x":130,"y":60,"wires":[]},{"id":"534ac362.248f7c","type":"ui_slider","z":"7fb3eebf.8b96","name":"","label":"Torreta Pan 17","tooltip":"","group":"8865e937.07bd68","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":"1","x":140,"y":140,"wires":[["639a87f9.4d0258"]]},{"id":"bd7a2edc.f93e8","type":"ui_button","z":"7fb3eebf.8b96","name":"","group":"8865e937.07bd68","order":2,"width":0,"height":0,"passthru":false,"label":"Frente","tooltip":"","color":"","bgcolor":"","icon":"","payload":"80","payloadType":"str","topic":"","x":110,"y":200,"wires":[["639a87f9.4d0258","534ac362.248f7c"]]},{"id":"a0b70c9d.6e751","type":"ui_button","z":"7fb3eebf.8b96","name":"","group":"8865e937.07bd68","order":3,"width":0,"height":0,"passthru":false,"label":"Detrás","tooltip":"","color":"","bgcolor":"","icon":"","payload":"27","payloadType":"str","topic":"","x":110,"y":240,"wires":[["639a87f9.4d0258","534ac362.248f7c"]]},{"id":"556e2491.f0a20c","type":"link out","z":"7fb3eebf.8b96","name":"fromTorretaTilt","links":["21c025fa.1ab3ea","d6134388.eb58f","8f286392.69462"],"x":295,"y":320,"wires":[]},{"id":"75a5f501.83a9ec","type":"ui_slider","z":"7fb3eebf.8b96","name":"","label":"Torreta Tilt 18","tooltip":"","group":"5a36d2f5.03d4ac","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"10","max":"95","step":"10","x":140,"y":300,"wires":[["556e2491.f0a20c"]]},{"id":"5706aaf0.43cf54","type":"ui_button","z":"7fb3eebf.8b96","name":"","group":"5a36d2f5.03d4ac","order":5,"width":0,"height":0,"passthru":false,"label":"Horizonte","tooltip":"","color":"","bgcolor":"","icon":"","payload":"60","payloadType":"str","topic":"","x":120,"y":360,"wires":[["556e2491.f0a20c","75a5f501.83a9ec"]]},{"id":"c083fdc4.80e2d","type":"ui_button","z":"7fb3eebf.8b96","name":"","group":"5a36d2f5.03d4ac","order":7,"width":0,"height":0,"passthru":false,"label":"Abajo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"80","payloadType":"str","topic":"","x":110,"y":400,"wires":[["556e2491.f0a20c","75a5f501.83a9ec"]]},{"id":"626a6a94.b291d4","type":"debug","z":"7e0bd8bb.6fac68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":240,"wires":[]},{"id":"b60cf63e.ad4628","type":"mqtt in","z":"7e0bd8bb.6fac68","name":"","topic":"Rover/Drive","qos":"2","datatype":"auto","broker":"fbf792c3.99f0d","x":140,"y":340,"wires":[["626a6a94.b291d4","85b820c1.04bda","f389fe21.d727e","adcc2e26.b5a4a"]]},{"id":"2f7435c4.cacfda","type":"mqtt in","z":"7fb3eebf.8b96","name":"","topic":"Rover/Turret/Tilt","qos":"2","datatype":"auto","broker":"fbf792c3.99f0d","x":480,"y":320,"wires":[["556e2491.f0a20c"]]},{"id":"3ce525d7.50d58a","type":"i2c in","z":"7e0bd8bb.6fac68","name":"Motor Data [RO]","address":"20","command":"192","count":"6","x":960,"y":200,"wires":[["f1cd6fd8.d9b53"]]},{"id":"f1cd6fd8.d9b53","type":"debug","z":"7e0bd8bb.6fac68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1190,"y":200,"wires":[]},{"id":"18a16b55.eb7295","type":"mqtt in","z":"a9e32586.9bf478","name":"","topic":"Rover/RockPicker","qos":"2","datatype":"auto","broker":"fbf792c3.99f0d","x":170,"y":120,"wires":[["29ba669a.1e205a","b94a0f02.a082e","ae5e9c7d.af1c8","a4beb456.5aaed8"]]},{"id":"c55a8027.1875c","type":"comment","z":"4cdd2b9e.8497d4","name":"Rampa","info":"","x":210,"y":480,"wires":[]},{"id":"f52b859a.1c3538","type":"rpi-gpio out","z":"4cdd2b9e.8497d4","name":"","pin":"16","set":"","level":"0","freq":"","out":"out","x":480,"y":540,"wires":[]},{"id":"e1510802.626398","type":"rpi-gpio out","z":"4cdd2b9e.8497d4","name":"","pin":"18","set":false,"level":"0","freq":"","out":"out","x":480,"y":580,"wires":[]},{"id":"39937620.02c82a","type":"link in","z":"4cdd2b9e.8497d4","name":"toStepperSteps(16)","links":["bb2196f3.bda698","65eeb806.d87a38"],"x":175,"y":540,"wires":[["d8ea79ef.82fa38"]]},{"id":"5fa059f4.8f2738","type":"link in","z":"4cdd2b9e.8497d4","name":"toStepperDirec(18)","links":["c95bf2fe.79b84","3279c998.ab7ec6"],"x":175,"y":580,"wires":[["e1510802.626398"]]},{"id":"eb335576.1e31c8","type":"function","z":"37e970f7.4c2f8","name":"Toggle Direction","func":"var direction = flow.get('direction')||0;\n\nif (direction === 0)\n{\n    direction = 1;\n}\nelse {\n    direction = 0;\n}\nflow.set('direction',direction);\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[[]]},{"id":"da05b2a2.793bb","type":"switch","z":"37e970f7.4c2f8","name":"Step or Direction","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Step","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","outputs":2,"x":250,"y":160,"wires":[["31971d96.6746e2"],[]]},{"id":"81900561.cc6428","type":"comment","z":"37e970f7.4c2f8","name":"El # de steps es la cantidad de pulsos que saca","info":"* Direction\n* Sequence\n* SequenceIndex","x":280,"y":60,"wires":[]},{"id":"7acb0a43.4255c4","type":"function","z":"37e970f7.4c2f8","name":"Sequence Generator","func":"var seqindex = context.get('seqindex')||0;\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nvar direction = flow.get('direction');\n\nseqindex = (seqindex % (sequence.length));\nif (seqindex == -1) {seqindex = sequence.length-1;}\n\nmsg.payload = sequence[seqindex];\nmsg.seqindex = seqindex;\nmsg.direction = direction;\n\ncontext.set('seqindex',seqindex+direction);\n\nreturn GenerateOutput(seqindex);\n\nfunction GenerateOutput(index) {\n    return [ NewMessage(sequence[index][0]), NewMessage(sequence[index][1]),NewMessage(sequence[index][2]),NewMessage(sequence[index][3]), msg  ];\n}\n\nfunction NewMessage(val) {\n    return { payload:val };\n}","outputs":"5","noerr":0,"x":800,"y":120,"wires":[["296f8983.2b1e86"],[],[],[],[]]},{"id":"31971d96.6746e2","type":"function","z":"37e970f7.4c2f8","name":"Multistep","func":"var outputMsgs = [];\nvar steps = msg.payload;\nfor (var count = 0; count < steps; count++) { \n    outputMsgs.push({payload:1});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["b4bdf400.0ec52"]]},{"id":"296f8983.2b1e86","type":"change","z":"37e970f7.4c2f8","name":"always 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":120,"wires":[[]]},{"id":"b4bdf400.0ec52","type":"delay","z":"37e970f7.4c2f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1000","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":120,"wires":[["7acb0a43.4255c4"]]},{"id":"d8ea79ef.82fa38","type":"trigger","z":"4cdd2b9e.8497d4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0.1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":290,"y":540,"wires":[["f52b859a.1c3538"]]},{"id":"d451d4a7.108b58","type":"mosca in","z":"bcd1ad73.d0a99","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":80,"wires":[[]]},{"id":"85b820c1.04bda","type":"trigger","z":"7e0bd8bb.6fac68","op1":"","op2":"STOP","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"ms","reset":"","bytopic":"all","name":"Stop on No Order","x":390,"y":380,"wires":[["f389fe21.d727e"]]},{"id":"f389fe21.d727e","type":"function","z":"7e0bd8bb.6fac68","name":"Construct Byte from Message","func":"var power_motors = global.get(\"power_motors\") || 4;\npayload = msg.payload;\nif(payload == \"STOP\"){\n    byte_out = 0b1000 | power_motors;\n}else if(payload == \"FWD\"){\n    byte_out = 0b110000 | power_motors;\n}else if(payload == \"LEFT\"){\n    byte_out = 0b100000 | power_motors;\n}else if(payload == \"RIGHT\"){\n    byte_out = 0b010000 | power_motors;\n}else if(payload == \"BACK\"){\n    byte_out = 0b000000 | power_motors;\n}else if(payload == \"+\"){\n    if(power_motors < 7){\n        power_motors += 1;\n    }\n}else if(payload == \"-\"){\n    if(power_motors > 1){\n        power_motors -= 1;\n    }\n}\nglobal.set(\"power_motors\", power_motors);\nmsg.command = byte_out;\nmsg.power = power_motors;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["5aa6c9b5.a3e088","a40bdd26.47904","6a341f79.811d2","a3094718.a8a0c8"]]},{"id":"c9017334.11519","type":"ui_switch","z":"7e0bd8bb.6fac68","name":"","label":"RIGHT ENABLE","tooltip":"","group":"e3bc2129.7f362","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":380,"y":580,"wires":[["838efdcb.dcccf"]]},{"id":"5aa6c9b5.a3e088","type":"i2c in","z":"7e0bd8bb.6fac68","name":"MOTOR COMM OUT","address":"20","command":"","count":"6","x":1040,"y":500,"wires":[[]]},{"id":"a40bdd26.47904","type":"debug","z":"7e0bd8bb.6fac68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":320,"wires":[]},{"id":"6a815972.8dcd18","type":"inject","z":"7e0bd8bb.6fac68","name":"Manual","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":750,"y":200,"wires":[["3ce525d7.50d58a"]]},{"id":"a7602d07.7716a","type":"function","z":"7e0bd8bb.6fac68","name":"Construct Byte ENABLE LEFT","func":"if(msg.payload){\n    byte_out = 0b10000000;\n}else{\n    byte_out = 0b01000000;\n}\nmsg.command = byte_out;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["5aa6c9b5.a3e088","a40bdd26.47904"]]},{"id":"780a7ca8.f237d4","type":"ui_switch","z":"7e0bd8bb.6fac68","name":"","label":"LEFT ENABLE","tooltip":"","group":"e3bc2129.7f362","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":500,"wires":[["a7602d07.7716a"]]},{"id":"a3094718.a8a0c8","type":"mqtt out","z":"7e0bd8bb.6fac68","name":"","topic":"Rover/MotorsPower","qos":"","retain":"true","broker":"fbf792c3.99f0d","x":1060,"y":360,"wires":[]},{"id":"838efdcb.dcccf","type":"function","z":"7e0bd8bb.6fac68","name":"Construct Byte ENABLE RIGHT","func":"if(msg.payload){\n    byte_out = 0b10000001;\n}else{\n    byte_out = 0b01000001;\n}\nmsg.command = byte_out;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["5aa6c9b5.a3e088","a40bdd26.47904"]]},{"id":"adcc2e26.b5a4a","type":"trigger","z":"7e0bd8bb.6fac68","op1":"","op2":"STOP","op1type":"nul","op2type":"str","duration":"400","extend":true,"units":"ms","reset":"","bytopic":"all","name":"Stop on No Order","x":390,"y":420,"wires":[["f389fe21.d727e"]]},{"id":"cd171391.17c8a","type":"switch","z":"7e0bd8bb.6fac68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"leftTrue","vt":"str"},{"t":"eq","v":"leftFalse","vt":"str"},{"t":"eq","v":"rightTrue","vt":"str"},{"t":"eq","v":"rightFalse","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":130,"y":540,"wires":[["342459f5.191ab6"],["c4d2c96d.780528"],[],[]]},{"id":"342459f5.191ab6","type":"change","z":"7e0bd8bb.6fac68","name":"Left Enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":500,"wires":[["a7602d07.7716a"]]},{"id":"c4d2c96d.780528","type":"change","z":"7e0bd8bb.6fac68","name":"Left Disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":520,"wires":[["a7602d07.7716a"]]},{"id":"f0f2a60d.cbbbb8","type":"i2c in","z":"43c8b9dc.663e28","name":"Read Gyro","address":"104","command":"107","count":"1","x":350,"y":1180,"wires":[["532b34f2.b4e2ac","f0cf72cd.ab141"]]},{"id":"532b34f2.b4e2ac","type":"debug","z":"43c8b9dc.663e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":770,"y":1180,"wires":[]},{"id":"eae17d8a.68f4f","type":"i2c out","z":"43c8b9dc.663e28","name":"Power On Gyro Sensor","address":"104","command":"28","payload":"[0]","payloadType":"bin","count":"1","x":390,"y":1100,"wires":[[]]},{"id":"f0cf72cd.ab141","type":"i2c in","z":"43c8b9dc.663e28","name":"Read Gyro","address":"104","command":"28","count":"1","x":550,"y":1220,"wires":[["532b34f2.b4e2ac"]]},{"id":"2deb2bd3.764a74","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"volt","targetType":"msg","x":760,"y":940,"wires":[]},{"id":"cc7d062d.991448","type":"i2c in","z":"43c8b9dc.663e28","name":"Volt Batt In","address":"13","command":"0","count":"4","x":350,"y":940,"wires":[["c0ee2e43.2ff85"]]},{"id":"c0ee2e43.2ff85","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"msg.volt = parseFloat(String(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":940,"wires":[["2deb2bd3.764a74","994c9bf7.90abf8"]]},{"id":"d02495b9.9f52b8","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"tempB","targetType":"msg","x":770,"y":1000,"wires":[]},{"id":"b2fcc344.b9e51","type":"function","z":"43c8b9dc.663e28","name":"Processing Temp","func":"msg.tempB = msg.payload[0]<<8 | msg.payload[1];\nif(msg.tempB & 0x8000){\n    msg.tempB = msg.tempB | 0xFFFF0000;\n}\nmsg.tempB = msg.tempB/340 + 36.53;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1000,"wires":[["d02495b9.9f52b8"]]},{"id":"994c9bf7.90abf8","type":"i2c in","z":"43c8b9dc.663e28","name":"Read Temp","address":"104","command":"65","count":"2","x":350,"y":1000,"wires":[["b2fcc344.b9e51"]]},{"id":"28ad0ae.d304ff6","type":"mqtt out","z":"43c8b9dc.663e28","name":"","topic":"Base/MPU","qos":"1","retain":"true","broker":"fbf792c3.99f0d","x":710,"y":1520,"wires":[]},{"id":"cc8138c3.16ff3","type":"inject","z":"43c8b9dc.663e28","name":"4 Sec Interval","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":"0.5","x":140,"y":1360,"wires":[[]]},{"id":"95bcedba.b2b538","type":"serial in","z":"43c8b9dc.663e28","name":"","serial":"1e73c788.e052f8","x":370,"y":1520,"wires":[[]]},{"id":"d5fc7909.e96158","type":"mqtt out","z":"43c8b9dc.663e28","name":"Base/PICPU","topic":"Base/PICPU","qos":"","retain":"","broker":"fbf792c3.99f0d","x":690,"y":220,"wires":[]},{"id":"31d86b67.e48b34","type":"mqtt out","z":"43c8b9dc.663e28","name":"Base/PIMEM","topic":"Base/PIMEM","qos":"","retain":"","broker":"fbf792c3.99f0d","x":690,"y":260,"wires":[]},{"id":"6296201c.3537e","type":"mqtt out","z":"43c8b9dc.663e28","name":"Base/PITEMP","topic":"Base/PITEMP","qos":"","retain":"","broker":"fbf792c3.99f0d","x":840,"y":160,"wires":[]},{"id":"881580c1.7458a","type":"mqtt out","z":"43c8b9dc.663e28","name":"Base/TAMB","topic":"Base/TAMB","qos":"1","retain":"true","broker":"fbf792c3.99f0d","x":910,"y":700,"wires":[]},{"id":"6a341f79.811d2","type":"debug","z":"7e0bd8bb.6fac68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"power","targetType":"msg","x":1030,"y":400,"wires":[]},{"id":"abebf02d.6c581","type":"pi-gpiod out","z":"4cdd2b9e.8497d4","name":"","host":"localhost","port":8888,"pin":"16","set":true,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":680,"y":220,"wires":[]},{"id":"a8919d34.a1fb9","type":"ui_template","z":"7fb3eebf.8b96","group":"f7fab34b.c85b5","name":"Laser","order":3,"width":"2","height":"1","format":"<div class=\"momentaryad vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    \n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryad').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryad').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":110,"y":520,"wires":[["dca13849.de6c78","71feb716.7bb5e8"]]},{"id":"132d1db.f6dafe2","type":"ui_template","z":"7fb3eebf.8b96","group":"f7fab34b.c85b5","name":"Formato botones","order":1,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n\n  \n</style>\n\n<script>\n$('.vibrate').on('touchstart mousedown', function() {\n  navigator.vibrate(100);\n});\n$('.vibrate').on('touchend mouseup', function() {\n  navigator.vibrate(100);\n});\n\n$('.vibrate').on('touchstart mousedown', function() {\n  navigator.vibrate(100);\n});\n\n$scope.action = function(controlName) {\n\n    var actioner = $scope[controlName];\n    if (!actioner) {\n      $scope[controlName] = actioner;\n    }\n actioner.on('touchstart mousedown', function(e) { \n\te.preventDefault();\n\t$scope.send({\"payload\": 1});\n\t});\n actioner.on('touchend mouseup', function(e) {\n\te.preventDefault();\n\t$scope.send({\"payload\": 1});\n\t});\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":150,"y":480,"wires":[[]]},{"id":"dca13849.de6c78","type":"link out","z":"7fb3eebf.8b96","name":"fromTorretaLaser","links":["794d1e8d.eddb2"],"x":615,"y":560,"wires":[]},{"id":"794d1e8d.eddb2","type":"link in","z":"4cdd2b9e.8497d4","name":"APin36","links":["dca13849.de6c78"],"x":515,"y":220,"wires":[["abebf02d.6c581"]]},{"id":"a34b7660.e038c8","type":"pi-gpiod out","z":"4cdd2b9e.8497d4","name":"","host":"localhost","port":8888,"pin":"20","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":340,"y":220,"wires":[]},{"id":"14998126.777a5f","type":"mqtt out","z":"532de144.f541f","name":"","topic":"Base/MPU","qos":"0","retain":"false","broker":"fbf792c3.99f0d","x":390,"y":160,"wires":[]},{"id":"7f5e38f5.e5d268","type":"mqtt in","z":"7fb3eebf.8b96","name":"","topic":"Rover/Turret/Pan","qos":"2","datatype":"auto","broker":"fbf792c3.99f0d","x":480,"y":260,"wires":[["639a87f9.4d0258"]]},{"id":"ee032b70.40f828","type":"mqtt in","z":"7fb3eebf.8b96","name":"","topic":"Rover/Turret/Laser","qos":"2","datatype":"auto","broker":"fbf792c3.99f0d","x":150,"y":560,"wires":[["68a9d7d.8ac7f28"]]},{"id":"68a9d7d.8ac7f28","type":"trigger","z":"7fb3eebf.8b96","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":340,"y":560,"wires":[["dca13849.de6c78"]]},{"id":"b94a0f02.a082e","type":"trigger","z":"a9e32586.9bf478","op1":"","op2":"STOP","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"ms","reset":"","bytopic":"all","name":"Stop on No Order","x":470,"y":160,"wires":[["29ba669a.1e205a"]]},{"id":"29ba669a.1e205a","type":"function","z":"a9e32586.9bf478","name":"Construct Byte from Message","func":"var state_motors = global.get(\"state_motors\") || 0;\nvar byte_out;\npayload = msg.payload;\nif(payload == \"UP_SWEEP\"){\n    byte_out = 0b01 | (0b1100 & state_motors);\n}else if(payload == \"DOWN_SWEEP\"){\n    byte_out = 0b10 | (0b1100 & state_motors);\n}else if(payload == \"STOP_SWEEP\"){\n    byte_out = 0b11 | (0b1100 & state_motors);\n}else if(payload == \"UP_RAMP\"){\n    byte_out = 0b0100 | (0b11 & state_motors);\n}else if(payload == \"DOWN_RAMP\"){\n    byte_out = 0b1000 | (0b11 & state_motors);\n}else if(payload == \"STOP\"){\n    byte_out = 0b1100 | (0b11 & state_motors);\n}\nglobal.set(\"state_motors\", state_motors);\nmsg.command = byte_out;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["8d8da43d.3b01f8"]]},{"id":"ae5e9c7d.af1c8","type":"trigger","z":"a9e32586.9bf478","op1":"","op2":"STOP","op1type":"nul","op2type":"str","duration":"400","extend":true,"units":"ms","reset":"","bytopic":"all","name":"Stop on No Order","x":470,"y":200,"wires":[["29ba669a.1e205a"]]},{"id":"8d8da43d.3b01f8","type":"i2c in","z":"a9e32586.9bf478","name":"RAMP COMM OUT","address":"22","command":"","count":"2","x":1050,"y":120,"wires":[[]]},{"id":"a4beb456.5aaed8","type":"debug","z":"a9e32586.9bf478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":450,"y":80,"wires":[]},{"id":"71feb716.7bb5e8","type":"ui_switch","z":"7fb3eebf.8b96","name":"","label":"Deadly Laser","tooltip":"","group":"f7fab34b.c85b5","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":130,"y":600,"wires":[["dca13849.de6c78"]]},{"id":"79fb2349.42847c","type":"comment","z":"4cdd2b9e.8497d4","name":"Torreta Laser","info":"","x":590,"y":160,"wires":[]},{"id":"d1bce3af.55094","type":"link in","z":"4cdd2b9e.8497d4","name":"toKillServo20","links":["639a87f9.4d0258"],"x":295,"y":360,"wires":[["6844e17b.1ad9e"]]},{"id":"8f286392.69462","type":"link in","z":"4cdd2b9e.8497d4","name":"toKillServo21","links":["556e2491.f0a20c"],"x":295,"y":400,"wires":[["2832b11b.2863ce"]]},{"id":"1218b4c6.8e33bb","type":"comment","z":"4cdd2b9e.8497d4","name":"Kill servo current","info":"","x":620,"y":300,"wires":[]}]