flows.json
[{"id":"c1062e63.bdfdd","type":"tab","label":"Dashboard MiniRover","disabled":false,"info":""},{"id":"7fb3eebf.8b96","type":"tab","label":"Cámara","disabled":false,"info":""},{"id":"4cdd2b9e.8497d4","type":"tab","label":"Salidas GPIO","disabled":false,"info":""},{"id":"43c8b9dc.663e28","type":"tab","label":"Lecturas (Network)","disabled":false,"info":""},{"id":"bcd1ad73.d0a99","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"532de144.f541f","type":"tab","label":"MPU6050","disabled":true,"info":""},{"id":"2bd38438.1ec89c","type":"tab","label":"Sistema","disabled":false,"info":""},{"id":"c641f918.652968","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9fb5aae8.d095e8","type":"ui_tab","z":"","name":"Telemetry","icon":"dashboard","order":2},{"id":"61e593a6.cc124c","type":"ui_group","z":"","name":"Gyro","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"26b1b5b2.9d35da","type":"ui_group","z":"","name":"Accel","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"51bcd62e.7fea58","type":"ui_group","z":"","name":"Calibration","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"e3bc2129.7f362","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"4eb5399c.77f808","type":"ui_group","z":"","name":"Temp","tab":"","order":1,"disp":false,"width":"6"},{"id":"ede17187.8ebf9","type":"ui_group","z":"","name":"Carga CPU","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"d48112ef.d595b","type":"ui_group","z":"","name":"Inclinación y Odometría","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"abc5fd25.9f3f9","type":"ui_group","z":"","name":"Célula de Carga y Potencia","tab":"ba1ce2bd.f8581","order":4,"disp":true,"width":"6","collapse":false},{"id":"1656b6d3.0e7669","type":"ui_group","z":"","name":"CPU","tab":"112ec31.796b33d","order":1,"disp":true,"width":"4","collapse":false},{"id":"f796966.c57f468","type":"ui_group","z":"","name":"Main Variables","tab":"112ec31.796b33d","order":2,"disp":true,"width":"15","collapse":false},{"id":"112ec31.796b33d","type":"ui_tab","z":"","name":"Measurements","icon":"dashboard","order":3},{"id":"5e94c4a2.9ff8bc","type":"ui_group","z":"","name":"Battery","tab":"112ec31.796b33d","disp":true,"width":"4","collapse":false},{"id":"fa70f74b.f36f18","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"e037f552.9dd538","type":"ui_group","z":"","name":"Heatmap","tab":"","disp":true,"width":"18","collapse":false},{"id":"1b91ed03.4a54f3","type":"ui_group","z":"","name":"Setup","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"17c18594.324f3a","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c030e224.47d1d","type":"ui_group","z":"","name":"WiFi","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"55cc3e78.2a8ed","type":"ui_group","z":"","name":"Botones","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"db07fed.74448","type":"ui_group","z":"","name":"Apagar","tab":"9a74d243.b894a","order":2,"disp":true,"width":"6","collapse":false},{"id":"3aeadcc5.f277e4","type":"ui_group","z":"","name":"Cámara","tab":"5fbbe82f.06b788","order":1,"disp":false,"width":"6","collapse":false},{"id":"40f0a67.a756c58","type":"ui_group","z":"","name":"Motores","tab":"","disp":true,"width":"6","collapse":false},{"id":"bb51df0b.acdbd","type":"ui_group","z":"","name":"Autónomo","tab":"","disp":true,"width":"6","collapse":false},{"id":"8865e937.07bd68","type":"ui_group","z":"","name":"Pan","tab":"b7fe2b9c.3d0b38","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a36d2f5.03d4ac","type":"ui_group","z":"","name":"Tilt","tab":"b7fe2b9c.3d0b38","order":3,"disp":true,"width":"6","collapse":false},{"id":"82c63b5.f6362c8","type":"ui_group","z":"","name":"Botones","tab":"5fbbe82f.06b788","disp":false,"width":"6","collapse":false},{"id":"f7fab34b.c85b5","type":"ui_group","z":"","name":"Video","tab":"b7fe2b9c.3d0b38","order":2,"disp":true,"width":"6","collapse":true},{"id":"4bd96968.d3b318","type":"ui_group","z":"","name":"Tester","tab":"ba1ce2bd.f8581","disp":true,"width":"6","collapse":false},{"id":"85724c73.1e1e5","type":"ui_group","z":0,"name":"D","tab":"","disp":true,"width":"6","collapse":false},{"id":"ff76de63.bbc13","type":"ui_group","z":0,"name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b7fe2b9c.3d0b38","type":"ui_tab","z":"","name":"Torreta","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"5fbbe82f.06b788","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1},{"id":"38b5624.ca2149e","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ba1ce2bd.f8581","type":"ui_tab","z":"","name":"Pruebas","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"fbf792c3.99f0d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"Rover","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Birth","birthQos":"0","birthPayload":"El rover se conectó.","closeTopic":"Death","closeQos":"0","closePayload":"Cerrando conexión del rover.","willTopic":"Unexpected","willQos":"2","willPayload":"Morí (Rover). D:"},{"id":"f4a06398.d250c","type":"mqtt-broker","z":"","name":"CardansanBase","broker":"192.168.137.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d6dd503.93fb38","type":"ui_group","z":"","name":"WiFi","tab":"9a74d243.b894a","order":1,"disp":true,"width":"6","collapse":true},{"id":"9a74d243.b894a","type":"ui_tab","z":"","name":"Sistema","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"88fc4119.086e","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":810,"y":60,"wires":[[],[]]},{"id":"92e7bd9e.713b9","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":810,"y":100,"wires":[[],[]]},{"id":"a9a90967.bc4888","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":810,"y":140,"wires":[[],[]]},{"id":"2e703c2b.4eba74","type":"serial in","z":"532de144.f541f","name":"From Arduino","serial":"38b5624.ca2149e","x":150,"y":160,"wires":[["63714ba4.4fc044"]]},{"id":"9cd8b636.66a878","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":4,"width":0,"height":0,"gtype":"compass","title":"Z Gyro","label":"Angle","format":"{{value}}°","min":"180","max":"-180","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":260,"wires":[]},{"id":"63714ba4.4fc044","type":"switch","z":"532de144.f541f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"accX","vt":"str"},{"t":"cont","v":"accY","vt":"str"},{"t":"cont","v":"accZ","vt":"str"},{"t":"cont","v":"angleX","vt":"str"},{"t":"cont","v":"angleY","vt":"str"},{"t":"cont","v":"angleZ","vt":"str"},{"t":"cont","v":"temp","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":8,"x":330,"y":160,"wires":[["74aaa516.91a3ec"],["883f5f40.41359"],["953622d3.b217"],["4db238a2.28e598"],["90cc1490.fff948"],["307003da.ec12dc"],["e6b2228c.3619"],["5d7edd62.52fc54"]]},{"id":"74aaa516.91a3ec","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":60,"wires":[["88fc4119.086e","67c66e88.9c99a"]]},{"id":"883f5f40.41359","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":100,"wires":[["92e7bd9e.713b9","57a8a31e.601c5c"]]},{"id":"953622d3.b217","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["a9a90967.bc4888","7bbbfe98.2e9a4"]]},{"id":"4db238a2.28e598","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["5a5c6919.e1e9b8","70819ab9.b520a4"]]},{"id":"90cc1490.fff948","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["beb543b6.96bc7","86fa031b.f9cb6"]]},{"id":"307003da.ec12dc","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["9cd8b636.66a878","8dd7fef7.ca609"]]},{"id":"e6b2228c.3619","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"temp :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["9c03af2e.c0ab3"]]},{"id":"5a5c6919.e1e9b8","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":1,"width":0,"height":0,"gtype":"gage","title":"X Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":800,"y":180,"wires":[]},{"id":"103a37c.da696c8","type":"ui_text","z":"532de144.f541f","group":"26b1b5b2.9d35da","order":6,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}}° C","layout":"row-spread","x":1030,"y":320,"wires":[]},{"id":"eca53570.090008","type":"ui_button","z":"532de144.f541f","name":"","group":"51bcd62e.7fea58","order":0,"width":0,"height":0,"passthru":false,"label":"Re-calibrate","color":"","bgcolor":"","icon":"","payload":"calibGyro,","payloadType":"str","topic":"","x":370,"y":420,"wires":[["1a50f957.fc4247","9d710d00.01125"]]},{"id":"5d7edd62.52fc54","type":"debug","z":"532de144.f541f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":260,"wires":[]},{"id":"1a50f957.fc4247","type":"serial out","z":"532de144.f541f","name":"To Arduino","serial":"38b5624.ca2149e","x":700,"y":420,"wires":[]},{"id":"f8eec57f.8896e8","type":"ui_toast","z":"532de144.f541f","position":"bottom right","displayTime":"8","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Calibrando... (8s)","x":770,"y":480,"wires":[]},{"id":"9d710d00.01125","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Calibrando. (Espere 8s)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["f8eec57f.8896e8"]]},{"id":"beb543b6.96bc7","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":1,"width":0,"height":0,"gtype":"gage","title":"Y Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"67c66e88.9c99a","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":60,"wires":[[]]},{"id":"57a8a31e.601c5c","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[[]]},{"id":"7bbbfe98.2e9a4","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":140,"wires":[[]]},{"id":"70819ab9.b520a4","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":180,"wires":[[]]},{"id":"86fa031b.f9cb6","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":220,"wires":[[]]},{"id":"8dd7fef7.ca609","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":260,"wires":[[]]},{"id":"9c03af2e.c0ab3","type":"function","z":"532de144.f541f","name":"-10","func":"msg.payload = msg.payload -30\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["7364a2c5.ee92fc"]]},{"id":"7364a2c5.ee92fc","type":"smooth","z":"532de144.f541f","name":"","property":"payload","action":"mean","count":"1","round":"1","mult":"single","x":900,"y":320,"wires":[["103a37c.da696c8"]]},{"id":"3098c5f2.f6264a","type":"exec","z":"43c8b9dc.663e28","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp CPU","x":350,"y":160,"wires":[["4aad4088.a430e"],[],[]]},{"id":"39c2eec3.475072","type":"inject","z":"43c8b9dc.663e28","name":"Timer 1 Seg","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":163,"y":222,"wires":[["3098c5f2.f6264a","d9312154.e43c4","2261df64.d98cb"]]},{"id":"4aad4088.a430e","type":"function","z":"43c8b9dc.663e28","name":"SubString","func":"str = msg.payload \nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":155,"wires":[["a377e018.1e0d9"]]},{"id":"d9312154.e43c4","type":"exec","z":"43c8b9dc.663e28","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"LOAD","x":328,"y":221.5,"wires":[["3bf1c720.382528"],[],[]]},{"id":"2261df64.d98cb","type":"exec","z":"43c8b9dc.663e28","command":"free | grep Mem | awk '{print $3/$2 * 100.0}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"MEM","x":330,"y":280,"wires":[["e34f839f.20f9f"],[],[]]},{"id":"a377e018.1e0d9","type":"link out","z":"43c8b9dc.663e28","name":"","links":["2b7a023f.607e9e"],"x":718,"y":159,"wires":[]},{"id":"173c7654.15fffa","type":"comment","z":"43c8b9dc.663e28","name":"Estos nodos funcionan dentro de la Raspberry.","info":"","x":240,"y":80,"wires":[]},{"id":"3bf1c720.382528","type":"link out","z":"43c8b9dc.663e28","name":"","links":["354a61c3.9e192e"],"x":595,"y":220,"wires":[]},{"id":"e34f839f.20f9f","type":"link out","z":"43c8b9dc.663e28","name":"","links":["9ddd1708.3d1ab8"],"x":594,"y":270,"wires":[]},{"id":"fb632857.440cc8","type":"comment","z":"43c8b9dc.663e28","name":"Aquí se extraerá la información desde el interior de la Rasp.","info":"","x":280,"y":40,"wires":[]},{"id":"f016f5bd.06d338","type":"inject","z":"7fb3eebf.8b96","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":true,"onceDelay":"5","x":90,"y":140,"wires":[["db974edf.9af0e"]]},{"id":"db974edf.9af0e","type":"file in","z":"7fb3eebf.8b96","name":"","filename":"/dev/shm/mjpeg/cam.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":140,"wires":[["9fb02fe6.d1494"]]},{"id":"b97d5326.407e1","type":"template","z":"7fb3eebf.8b96","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":760,"y":140,"wires":[["31ab6703.b22978"]]},{"id":"edf9d71e.39fd98","type":"comment","z":"7fb3eebf.8b96","name":"Es necesario activar esto: https://elinux.org/RPi-Cam-Web-Interface","info":"","x":740,"y":220,"wires":[]},{"id":"5d230213.f2359c","type":"comment","z":"7fb3eebf.8b96","name":"Regula el FPS pero causa delay","info":"","x":230,"y":220,"wires":[]},{"id":"31ab6703.b22978","type":"ui_template","z":"7fb3eebf.8b96","group":"f7fab34b.c85b5","name":"Video","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":890,"y":140,"wires":[[]]},{"id":"c117f45.08af908","type":"comment","z":"7fb3eebf.8b96","name":"Habilitar y desplegar para empezar a correr la transmisión de video.","info":"","x":340,"y":60,"wires":[]},{"id":"f83076d7.2aaec8","type":"file in","z":"7fb3eebf.8b96","name":"","filename":"/home/pi/ventana.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":400,"y":280,"wires":[["9fb02fe6.d1494"]]},{"id":"61fc1d2c.58e104","type":"inject","z":"7fb3eebf.8b96","name":"Tomar foto","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["ce6e52b.489d6b"]]},{"id":"ce6e52b.489d6b","type":"exec","z":"7fb3eebf.8b96","command":"raspistill -rot 90 -o ventana.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":360,"wires":[["eb3db115.138f","f83076d7.2aaec8"],["eb3db115.138f"],["eb3db115.138f"]]},{"id":"eb3db115.138f","type":"debug","z":"7fb3eebf.8b96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":360,"wires":[]},{"id":"cd0faed9.1f062","type":"exec","z":"7fb3eebf.8b96","command":"raspivid -rot 90 -o vid.h264","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":440,"wires":[[],[],[]]},{"id":"2b6f2c1b.8ed2c4","type":"inject","z":"7fb3eebf.8b96","name":"Tomar video","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":440,"wires":[["cd0faed9.1f062"]]},{"id":"33b49687.ced9da","type":"link out","z":"c1062e63.bdfdd","name":"fromTorretaPan","links":["4bdb7022.de8ee"],"x":335,"y":120,"wires":[]},{"id":"6c70f058.0ad84","type":"comment","z":"c1062e63.bdfdd","name":"Servos","info":"","x":170,"y":40,"wires":[]},{"id":"b9525097.0906","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Torreta Pan 17","tooltip":"","group":"8865e937.07bd68","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":"1","x":180,"y":120,"wires":[["33b49687.ced9da"]]},{"id":"5bc04f9b.33b12","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"8865e937.07bd68","order":2,"width":0,"height":0,"passthru":false,"label":"Frente","tooltip":"","color":"","bgcolor":"","icon":"","payload":"80","payloadType":"str","topic":"","x":150,"y":180,"wires":[["33b49687.ced9da","b9525097.0906"]]},{"id":"70480604.e51428","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"8865e937.07bd68","order":3,"width":0,"height":0,"passthru":false,"label":"Detrás","tooltip":"","color":"","bgcolor":"","icon":"","payload":"27","payloadType":"str","topic":"","x":150,"y":220,"wires":[["33b49687.ced9da","b9525097.0906"]]},{"id":"551f5ece.3e5e8","type":"comment","z":"43c8b9dc.663e28","name":"Aquí se extraerá la información de los sensores conectados a la Rasp.","info":"","x":310,"y":480,"wires":[]},{"id":"9b0295be.a6b928","type":"link in","z":"2bd38438.1ec89c","name":"ui-exec","links":["1594d621.c9607a"],"x":315,"y":200,"wires":[["72d76c18.ed1174"]]},{"id":"72d76c18.ed1174","type":"exec","z":"2bd38438.1ec89c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":570,"y":200,"wires":[[],[],[]]},{"id":"9fb02fe6.d1494","type":"base64","z":"7fb3eebf.8b96","name":"","action":"str","property":"payload","x":600,"y":140,"wires":[["b97d5326.407e1"]]},{"id":"d5393d01.8b3c9","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"db07fed.74448","order":0,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sudo halt","payloadType":"str","topic":"","x":600,"y":120,"wires":[["4751eda3.2c1f74"]]},{"id":"1594d621.c9607a","type":"link out","z":"c1062e63.bdfdd","name":"ui-apagar","links":["a372d4e2.dcf248","9b0295be.a6b928"],"x":895,"y":140,"wires":[]},{"id":"7b66cd78.1b2534","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"db07fed.74448","order":0,"width":0,"height":0,"passthru":false,"label":"Reiniciar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sudo reboot","payloadType":"str","topic":"","x":600,"y":160,"wires":[["67b3babf.81da54"]]},{"id":"4751eda3.2c1f74","type":"ui_toast","z":"c1062e63.bdfdd","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"sudo halt","cancel":"cancel","raw":false,"topic":"","name":"","x":770,"y":120,"wires":[["1594d621.c9607a"]]},{"id":"67b3babf.81da54","type":"ui_toast","z":"c1062e63.bdfdd","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"sudo reboot now","cancel":"cancel","raw":false,"topic":"","name":"","x":770,"y":160,"wires":[["1594d621.c9607a"]]},{"id":"37f35ea0.d478a2","type":"inject","z":"4cdd2b9e.8497d4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":40,"wires":[["60368636.d16698"]]},{"id":"60368636.d16698","type":"exec","z":"4cdd2b9e.8497d4","command":"sudo pigpiod","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":410,"y":40,"wires":[["a97fdf03.948c8"],[],[]]},{"id":"a97fdf03.948c8","type":"debug","z":"4cdd2b9e.8497d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":40,"wires":[]},{"id":"6c022877.d26038","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"load","targetType":"msg","x":760,"y":540,"wires":[]},{"id":"1631605d.e435e","type":"inject","z":"43c8b9dc.663e28","name":"Short Interval","topic":"","payload":"","payloadType":"date","repeat":".5","crontab":"","once":false,"onceDelay":"1","x":120,"y":660,"wires":[[]]},{"id":"523f1650.c687a8","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"msg.load = parseInt(String(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["6c022877.d26038","2eb49287.24c97e"]]},{"id":"a4d6a1c2.0d151","type":"i2c in","z":"43c8b9dc.663e28","name":"Load In","address":"11","command":"0","count":"16","x":340,"y":540,"wires":[["523f1650.c687a8"]]},{"id":"5f1dbd54.89c574","type":"i2c scan","z":"43c8b9dc.663e28","name":"Check Bus","x":530,"y":900,"wires":[["65787304.79f4ec"],[]]},{"id":"bb8a0a80.c74db8","type":"inject","z":"43c8b9dc.663e28","name":"Minute Interval","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.5","x":120,"y":900,"wires":[["5f1dbd54.89c574"]]},{"id":"65787304.79f4ec","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":770,"y":900,"wires":[]},{"id":"54ddfd15.0af9e4","type":"i2c in","z":"43c8b9dc.663e28","name":"Temp Amb In","address":"90","command":"6","count":"3","x":350,"y":660,"wires":[["263a8030.17f37"]]},{"id":"263a8030.17f37","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"var data = msg.payload[0];\ndata = data | msg.payload[1]<<8;\nvar temp = {};\ntemp.amb = data*0.02-273.15;\nmsg.temp = temp;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["fd17b91f.e4e2f8","f0b2ee57.4ec2a"]]},{"id":"fd17b91f.e4e2f8","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"temp.amb","targetType":"msg","x":780,"y":660,"wires":[]},{"id":"f0b2ee57.4ec2a","type":"i2c in","z":"43c8b9dc.663e28","name":"Temp Obj1 In","address":"90","command":"7","count":"3","x":350,"y":740,"wires":[["38f6e26b.6e70ae"]]},{"id":"38f6e26b.6e70ae","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"var data = msg.payload[0];\ndata = data | msg.payload[1]<<8;\nmsg.temp.obj1 = data*0.02-273.15;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":740,"wires":[["556bf93b.09b658"]]},{"id":"556bf93b.09b658","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"temp.obj1","targetType":"msg","x":780,"y":740,"wires":[]},{"id":"2eb49287.24c97e","type":"ui_chart","z":"43c8b9dc.663e28","name":"","group":"abc5fd25.9f3f9","order":0,"width":0,"height":0,"label":"Graph Load Cell","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":600,"wires":[[]]},{"id":"7cf57344.abba0c","type":"mosca in","z":"bcd1ad73.d0a99","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Inicializador Mosca","username":"","password":"","dburl":"","x":130,"y":120,"wires":[[]]},{"id":"9b9bd289.fc68c","type":"debug","z":"bcd1ad73.d0a99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":420,"wires":[]},{"id":"47a4754.5b6d28c","type":"mqtt in","z":"bcd1ad73.d0a99","name":"","topic":"Rover/Arrows","qos":"2","datatype":"auto","broker":"fbf792c3.99f0d","x":120,"y":420,"wires":[["9b9bd289.fc68c"]]},{"id":"624d29fb.f79a78","type":"mqtt out","z":"bcd1ad73.d0a99","name":"","topic":"Rover","qos":"","retain":"","broker":"fbf792c3.99f0d","x":330,"y":260,"wires":[]},{"id":"7eb2d231.8c6c5c","type":"inject","z":"bcd1ad73.d0a99","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["624d29fb.f79a78"]]},{"id":"440f0913.e15bc8","type":"debug","z":"bcd1ad73.d0a99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":380,"wires":[]},{"id":"a309273b.d27f58","type":"mqtt in","z":"bcd1ad73.d0a99","name":"","topic":"Rover","qos":"2","datatype":"auto","broker":"fbf792c3.99f0d","x":100,"y":380,"wires":[["440f0913.e15bc8"]]},{"id":"4bdb7022.de8ee","type":"link in","z":"4cdd2b9e.8497d4","name":"APin17","links":["33b49687.ced9da"],"x":195,"y":240,"wires":[["d15e78dd.182368","6844e17b.1ad9e"]]},{"id":"2c5decc5.892194","type":"comment","z":"4cdd2b9e.8497d4","name":"Torreta Pan","info":"","x":250,"y":200,"wires":[]},{"id":"9110d3ed.9be8b","type":"function","z":"4cdd2b9e.8497d4","name":"Pigs format 17","func":"pos = msg.payload;\npin = 17;\nmsg.payload = \"pigs s \" + pin + \" \" + pos\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["ba94d20f.f8d27"]]},{"id":"ba94d20f.f8d27","type":"exec","z":"4cdd2b9e.8497d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":750,"y":400,"wires":[[],["79e442a5.46c90c"],[]]},{"id":"79e442a5.46c90c","type":"debug","z":"4cdd2b9e.8497d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":400,"wires":[]},{"id":"d15e78dd.182368","type":"pi-gpiod out","z":"4cdd2b9e.8497d4","name":"","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":400,"y":240,"wires":[]},{"id":"6844e17b.1ad9e","type":"trigger","z":"4cdd2b9e.8497d4","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"0.5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":370,"y":300,"wires":[["9110d3ed.9be8b"]]},{"id":"66368b00.740584","type":"link out","z":"c1062e63.bdfdd","name":"fromTorretaTilt","links":["21c025fa.1ab3ea","d6134388.eb58f"],"x":335,"y":300,"wires":[]},{"id":"b91aaf1a.786d5","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Torreta Tilt 18","tooltip":"","group":"5a36d2f5.03d4ac","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"10","max":"80","step":"10","x":180,"y":280,"wires":[["66368b00.740584"]]},{"id":"7e564fda.eac7a","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"5a36d2f5.03d4ac","order":5,"width":0,"height":0,"passthru":false,"label":"Horizonte","tooltip":"","color":"","bgcolor":"","icon":"","payload":"60","payloadType":"str","topic":"","x":160,"y":320,"wires":[["66368b00.740584","b91aaf1a.786d5"]]},{"id":"9b08d79e.b222b8","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"5a36d2f5.03d4ac","order":7,"width":0,"height":0,"passthru":false,"label":"Abajo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"80","payloadType":"str","topic":"","x":150,"y":360,"wires":[["66368b00.740584","b91aaf1a.786d5"]]},{"id":"2ac21dbf.c5c402","type":"comment","z":"4cdd2b9e.8497d4","name":"Torreta Tilt","info":"","x":240,"y":380,"wires":[]},{"id":"334172ae.afd08e","type":"function","z":"4cdd2b9e.8497d4","name":"Pigs format 18","func":"pos = msg.payload;\npin = 18;\nmsg.payload = \"pigs s \" + pin + \" \" + pos\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":500,"wires":[["ba94d20f.f8d27"]]},{"id":"515ff379.c27c2c","type":"pi-gpiod out","z":"4cdd2b9e.8497d4","name":"","host":"localhost","port":8888,"pin":"18","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":360,"y":460,"wires":[]},{"id":"2832b11b.2863ce","type":"trigger","z":"4cdd2b9e.8497d4","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"0.5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":370,"y":500,"wires":[["334172ae.afd08e"]]},{"id":"d6134388.eb58f","type":"link in","z":"4cdd2b9e.8497d4","name":"APin18","links":["66368b00.740584"],"x":195,"y":460,"wires":[["515ff379.c27c2c","2832b11b.2863ce"]]},{"id":"8537e0be.c72d9","type":"inject","z":"2bd38438.1ec89c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":370,"y":360,"wires":[["b7ff0912.df2d68"]]},{"id":"b7ff0912.df2d68","type":"function","z":"2bd38438.1ec89c","name":"Times reset Counter","func":"var x= global.get(\"timesReset\")||0;\nx++;\nglobal.set(\"timesReset\",x)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[[]]},{"id":"fedae19.c51252","type":"inject","z":"2bd38438.1ec89c","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":400,"wires":[["fecf69c5.200708"]]},{"id":"fecf69c5.200708","type":"function","z":"2bd38438.1ec89c","name":"Reset Counter","func":"var x= 0\nglobal.set(\"timesReset\",x)\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[[]]},{"id":"3a8db37.043074c","type":"comment","z":"2bd38438.1ec89c","name":"Checar si se ha estado reiniciando","info":"","x":400,"y":320,"wires":[]},{"id":"1242dc0b.a55ee4","type":"ui_text_input","z":"c1062e63.bdfdd","name":"","label":"SSID","tooltip":"","group":"8d6dd503.93fb38","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":650,"y":300,"wires":[["855e501b.4ad64"]]},{"id":"855e501b.4ad64","type":"change","z":"c1062e63.bdfdd","name":"","rules":[{"t":"set","p":"ssid","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":300,"wires":[[]]},{"id":"f54c28c4.ac92c8","type":"ui_text_input","z":"c1062e63.bdfdd","name":"","label":"KEY","tooltip":"","group":"8d6dd503.93fb38","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":650,"y":340,"wires":[["52b20a45.ede344"]]},{"id":"52b20a45.ede344","type":"change","z":"c1062e63.bdfdd","name":"","rules":[{"t":"set","p":"psk","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":340,"wires":[[]]},{"id":"12674f6c.2014b1","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"8d6dd503.93fb38","order":3,"width":0,"height":0,"passthru":false,"label":"Agregar WiFi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Nueva Red","x":610,"y":380,"wires":[["9cb38d89.c25a4"]]},{"id":"4a7b6816.119f38","type":"link out","z":"c1062e63.bdfdd","name":"ui-agregar-wifi","links":["ed3882d8.7146b"],"x":895,"y":380,"wires":[]},{"id":"9cb38d89.c25a4","type":"ui_toast","z":"c1062e63.bdfdd","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Agregar","cancel":"Cancelar","raw":false,"topic":"¿Seguro que deseas agregar una nueva red?","name":"¿Seguro?","x":780,"y":380,"wires":[["4a7b6816.119f38"]]},{"id":"53ad830b.766e1c","type":"link in","z":"c1062e63.bdfdd","name":"ui-ssid","links":["3c26d40b.da127c","c0d73a10.7dc578","dbccc2e8.34c09"],"x":555,"y":300,"wires":[["1242dc0b.a55ee4"]]},{"id":"e5cc9455.c02df8","type":"ui_text","z":"c1062e63.bdfdd","group":"8d6dd503.93fb38","order":4,"width":0,"height":0,"name":"Show IP","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":420,"wires":[]},{"id":"431d7beb.b551f4","type":"link in","z":"c1062e63.bdfdd","name":"ui-ip","links":["d4e769ef.056b98"],"x":555,"y":420,"wires":[["e5cc9455.c02df8"]]},{"id":"eb9fa89a.b08908","type":"link in","z":"c1062e63.bdfdd","name":"ui-key_End","links":["30051913.1ce0c6","5b48c4b3.39a58c"],"x":555,"y":340,"wires":[["f54c28c4.ac92c8"]]},{"id":"2c035309.d7a4ac","type":"comment","z":"c1062e63.bdfdd","name":"Configuración WiFi","info":"","x":610,"y":240,"wires":[]},{"id":"93750fa8.7ab9d","type":"link in","z":"2bd38438.1ec89c","name":"sistema-agregar-wifi","links":["5cf4cdcb.edda24"],"x":195,"y":540,"wires":[["e7c44a08.828ea8"]]},{"id":"70841d3e.b43de4","type":"comment","z":"2bd38438.1ec89c","name":"Agregar WiFi","info":"","x":250,"y":480,"wires":[]},{"id":"e7c44a08.828ea8","type":"function","z":"2bd38438.1ec89c","name":"Formato wpa_supplicant","func":"var ssid = global.get('ssid');\nvar psk = global.get('psk');\n\n\nvar formato = 'ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev' \nformato += ' \\n ';\nformato += 'update_config=1'\nformato += ' \\n ';\nformato += 'country=MX'\nformato += ' \\n ';\n\nformato += 'network={'\nformato += ' \\n ';\nformato += 'ssid='\nformato += ssid;\nformato += ' \\n ';\nformato += 'psk=';\nformato += psk\nformato += ' \\n ';\nformato += 'key_mgmt=WPA-PSK'\nformato += ' \\n ';\nformato += 'priority=1'\nformato += ' \\n ';\nformato += \"}\";\nformato += ' \\n ';\n\nformato += ' \\n ';\nformato += 'network={'\nformato += ' \\n ';\nformato += 'ssid=Habia una vez'\nformato += ' \\n ';\nformato += 'psk=-truz, jaja';\nformato += ' \\n ';\nformato += 'key_mgmt=WPA-PSK'\nformato += ' \\n ';\nformato += 'priority=10'\nformato += ' \\n ';\nformato += \"}\";\nformato += ' \\n ';\n\nformato += ' \\n ';\nformato += 'network={'\nformato += ' \\n ';\nformato += 'ssid=curiositycoatl'\nformato += ' \\n ';\nformato += 'psk=curiosity_secret';\nformato += ' \\n ';\nformato += 'key_mgmt=WPA-PSK'\nformato += ' \\n ';\nformato += 'priority=100'\nformato += ' \\n ';\nformato += \"}\";\nformato += ' \\n ';\n\n\nmsg = {payload:formato};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["ab76f678.c25ea8"]]},{"id":"ab76f678.c25ea8","type":"file","z":"2bd38438.1ec89c","name":"","filename":"/etc/wpa_supplicant/wpa_supplicant.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":660,"y":540,"wires":[[]]},{"id":"8b97c2b3.977c3","type":"inject","z":"2bd38438.1ec89c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":140,"wires":[["142b88d.bf00077"]]},{"id":"142b88d.bf00077","type":"exec","z":"2bd38438.1ec89c","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Apagar","x":560,"y":140,"wires":[[],[],[]]},{"id":"7863fb36.1e89d4","type":"comment","z":"c1062e63.bdfdd","name":"Apagado","info":"","x":600,"y":40,"wires":[]}]