flows.json
[{"id":"532de144.f541f","type":"tab","label":"MPU6050","disabled":false,"info":""},{"id":"3cc19c06.1f2ff4","type":"tab","label":"DEMO","disabled":false,"info":""},{"id":"43c8b9dc.663e28","type":"tab","label":"Lecturas Internas","disabled":false,"info":""},{"id":"5fbc9311.d57b4c","type":"tab","label":"Lecturas Externas","disabled":false,"info":""},{"id":"94ebdc9.6a4eb2","type":"tab","label":"Dashboard ","disabled":false,"info":""},{"id":"8194afd4.4273a","type":"tab","label":"Configuraciones AP","disabled":false,"info":""},{"id":"c1062e63.bdfdd","type":"tab","label":"Configuraciones","disabled":false,"info":""},{"id":"729d3252.c031cc","type":"tab","label":"Salidas GPIO","disabled":false,"info":""},{"id":"420cfa9c.4ff334","type":"tab","label":"Interfaz teléfono","disabled":false,"info":""},{"id":"2bd38438.1ec89c","type":"tab","label":"Apagar","disabled":false,"info":""},{"id":"7fb3eebf.8b96","type":"tab","label":"Cámara","disabled":true,"info":""},{"id":"9a1dd593.888398","type":"subflow","name":"Motor Controller","info":"Expects different messages\nAn \"On\" message and a \"Direction\" message","in":[{"x":160,"y":180,"wires":[{"id":"d4b7586d.cdeff8"}]}],"out":[{"x":860,"y":140,"wires":[{"id":"896b3da2.5866","port":0},{"id":"8d2ca184.4b317","port":0}]},{"x":863,"y":213,"wires":[{"id":"896b3da2.5866","port":1},{"id":"8d2ca184.4b317","port":0}]}]},{"id":"c641f918.652968","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"134bd761.12e659","type":"ui_group","z":"","name":"Heatmap","tab":"35bf310b.70dabe","disp":true,"width":"18","collapse":false},{"id":"b53becc0.ae148","type":"ui_tab","z":"","name":"Traced Heatmap","icon":"dashboard","order":1},{"id":"5d7c948.496c16c","type":"ui_group","name":"Group 1","tab":"f6cecf0.19a483","order":1,"disp":true,"width":6},{"id":"35bf310b.70dabe","type":"ui_tab","z":"","name":"Current Position","icon":"dashboard"},{"id":"24b661.988769a","type":"ui_group","z":"","name":"Heatmap","tab":"b53becc0.ae148","disp":true,"width":"18","collapse":false},{"id":"2d469be1.133754","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9fb5aae8.d095e8","type":"ui_tab","z":"","name":"Telemetry","icon":"dashboard","order":2},{"id":"61e593a6.cc124c","type":"ui_group","z":"","name":"Gyro","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"26b1b5b2.9d35da","type":"ui_group","z":"","name":"Accel","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"51bcd62e.7fea58","type":"ui_group","z":"","name":"Calibration","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"e3bc2129.7f362","type":"ui_group","z":"","name":"Default","tab":"60ea0fa6.74592","disp":true,"width":"6","collapse":false},{"id":"60ea0fa6.74592","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3},{"id":"4eb5399c.77f808","type":"ui_group","z":"","name":"Temp","tab":"","order":1,"disp":false,"width":"6"},{"id":"ede17187.8ebf9","type":"ui_group","z":"","name":"Carga CPU","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"d48112ef.d595b","type":"ui_group","z":"","name":"Inclinación y Odometría","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"abc5fd25.9f3f9","type":"ui_group","z":"","name":"Célula de Carga y Potencia","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"1656b6d3.0e7669","type":"ui_group","z":"","name":"CPU","tab":"112ec31.796b33d","order":1,"disp":true,"width":"4","collapse":false},{"id":"f796966.c57f468","type":"ui_group","z":"","name":"Main Variables","tab":"112ec31.796b33d","order":2,"disp":true,"width":"15","collapse":false},{"id":"112ec31.796b33d","type":"ui_tab","z":"","name":"Measurements","icon":"dashboard","order":4},{"id":"5e94c4a2.9ff8bc","type":"ui_group","z":"","name":"Battery","tab":"112ec31.796b33d","disp":true,"width":"4","collapse":false},{"id":"fa70f74b.f36f18","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b378202f.850af","type":"ui_group","z":"","name":"Heatmap","tab":"112ec31.796b33d","order":4,"disp":true,"width":"6","collapse":false},{"id":"e037f552.9dd538","type":"ui_group","z":"","name":"Heatmap","tab":"aa573df2.872ae","disp":true,"width":"18","collapse":false},{"id":"aa573df2.872ae","type":"ui_tab","z":"","name":"Heatmap","icon":"dashboard","order":1},{"id":"27749ab7.443d46","type":"ui_tab","z":"","name":"Autónomo","icon":"dashboard","order":4},{"id":"1b91ed03.4a54f3","type":"ui_group","z":"","name":"Setup","tab":"27749ab7.443d46","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5f50ff2.5ad75","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ce0000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ce0000","edited":true},"page-titlebar-backgroundColor":{"value":"#ce0000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff1b1b","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ce0000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IoT Car","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"17c18594.324f3a","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c030e224.47d1d","type":"ui_group","z":"","name":"WiFi","tab":"ae3cc6f3.ed5848","order":2,"disp":true,"width":"6","collapse":true},{"id":"ae3cc6f3.ed5848","type":"ui_tab","z":"","name":"Sistema","icon":"dashboard","order":2},{"id":"55cc3e78.2a8ed","type":"ui_group","z":"","name":"Botones","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"db07fed.74448","type":"ui_group","z":"","name":"Apagar","tab":"ae3cc6f3.ed5848","disp":true,"width":"6","collapse":false},{"id":"3aeadcc5.f277e4","type":"ui_group","z":"","name":"Cámara","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"40f0a67.a756c58","type":"ui_group","z":"","name":"Motores","tab":"ae3cc6f3.ed5848","disp":true,"width":"6","collapse":false},{"id":"bb51df0b.acdbd","type":"ui_group","z":"","name":"Autónomo","tab":"","disp":true,"width":"6","collapse":false},{"id":"a87c2e2e.9ccd5","type":"ui_group","z":0,"name":"Motor Derecho","tab":"b7fe2b9c.3d0b38","disp":true,"width":"6","collapse":false},{"id":"8865e937.07bd68","type":"ui_group","z":0,"name":"Todo","tab":"b7fe2b9c.3d0b38","disp":true,"width":"6","collapse":false},{"id":"5a36d2f5.03d4ac","type":"ui_group","z":0,"name":"Motor Izquierdo","tab":"b7fe2b9c.3d0b38","disp":true,"width":"6","collapse":false},{"id":"82c63b5.f6362c8","type":"ui_group","z":"","name":"Botones","tab":"5fbbe82f.06b788","disp":false,"width":"6","collapse":false},{"id":"f7fab34b.c85b5","type":"ui_group","z":0,"name":"Apagado","tab":"b7fe2b9c.3d0b38","disp":true,"width":"2","collapse":true},{"id":"4bd96968.d3b318","type":"ui_group","z":0,"name":"cualquier cosa","tab":"","disp":true,"width":"6","collapse":false},{"id":"85724c73.1e1e5","type":"ui_group","z":0,"name":"D","tab":"","disp":true,"width":"6","collapse":false},{"id":"ff76de63.bbc13","type":"ui_group","z":0,"name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b7fe2b9c.3d0b38","type":"ui_tab","z":0,"name":"Motores","icon":"dashboard","order":1},{"id":"5fbbe82f.06b788","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":3},{"id":"3a5497a4.e7eba8","type":"ui_group","z":"","name":"Cámara","tab":"5fbbe82f.06b788","disp":false,"width":"6","collapse":false},{"id":"88fc4119.086e","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":60,"wires":[[],[]]},{"id":"92e7bd9e.713b9","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":100,"wires":[[],[]]},{"id":"a9a90967.bc4888","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":140,"wires":[[],[]]},{"id":"2e703c2b.4eba74","type":"serial in","z":"532de144.f541f","name":"From Arduino","serial":"74d1dd19.d96434","x":150,"y":160,"wires":[["63714ba4.4fc044"]]},{"id":"9cd8b636.66a878","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":4,"width":0,"height":0,"gtype":"compass","title":"Z Gyro","label":"Angle","format":"{{value}}°","min":"180","max":"-180","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":260,"wires":[]},{"id":"63714ba4.4fc044","type":"switch","z":"532de144.f541f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"accX","vt":"str"},{"t":"cont","v":"accY","vt":"str"},{"t":"cont","v":"accZ","vt":"str"},{"t":"cont","v":"angleX","vt":"str"},{"t":"cont","v":"angleY","vt":"str"},{"t":"cont","v":"angleZ","vt":"str"},{"t":"cont","v":"temp","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":8,"x":330,"y":160,"wires":[["74aaa516.91a3ec"],["883f5f40.41359"],["953622d3.b217"],["4db238a2.28e598"],["90cc1490.fff948"],["307003da.ec12dc"],["e6b2228c.3619"],["5d7edd62.52fc54"]]},{"id":"74aaa516.91a3ec","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":60,"wires":[["88fc4119.086e","67c66e88.9c99a"]]},{"id":"883f5f40.41359","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":100,"wires":[["92e7bd9e.713b9","57a8a31e.601c5c"]]},{"id":"953622d3.b217","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["a9a90967.bc4888","7bbbfe98.2e9a4"]]},{"id":"4db238a2.28e598","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["5a5c6919.e1e9b8","70819ab9.b520a4"]]},{"id":"90cc1490.fff948","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["beb543b6.96bc7","86fa031b.f9cb6"]]},{"id":"307003da.ec12dc","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["9cd8b636.66a878","8dd7fef7.ca609"]]},{"id":"e6b2228c.3619","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"temp :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["9c03af2e.c0ab3"]]},{"id":"5a5c6919.e1e9b8","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":1,"width":0,"height":0,"gtype":"gage","title":"X Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":800,"y":180,"wires":[]},{"id":"103a37c.da696c8","type":"ui_text","z":"532de144.f541f","group":"26b1b5b2.9d35da","order":6,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}}° C","layout":"row-spread","x":1030,"y":320,"wires":[]},{"id":"eca53570.090008","type":"ui_button","z":"532de144.f541f","name":"","group":"51bcd62e.7fea58","order":0,"width":0,"height":0,"passthru":false,"label":"Re-calibrate","color":"","bgcolor":"","icon":"","payload":"calibGyro,","payloadType":"str","topic":"","x":370,"y":420,"wires":[["1a50f957.fc4247","9d710d00.01125"]]},{"id":"5d7edd62.52fc54","type":"debug","z":"532de144.f541f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":260,"wires":[]},{"id":"1a50f957.fc4247","type":"serial out","z":"532de144.f541f","name":"To Arduino","serial":"74d1dd19.d96434","x":700,"y":420,"wires":[]},{"id":"f8eec57f.8896e8","type":"ui_toast","z":"532de144.f541f","position":"bottom right","displayTime":"8","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Calibrando... (8s)","x":770,"y":480,"wires":[]},{"id":"9d710d00.01125","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Calibrando. (Espere 8s)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["f8eec57f.8896e8"]]},{"id":"beb543b6.96bc7","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":1,"width":0,"height":0,"gtype":"gage","title":"Y Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"67c66e88.9c99a","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":60,"wires":[[]]},{"id":"57a8a31e.601c5c","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[[]]},{"id":"7bbbfe98.2e9a4","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":140,"wires":[[]]},{"id":"70819ab9.b520a4","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":180,"wires":[[]]},{"id":"86fa031b.f9cb6","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":220,"wires":[[]]},{"id":"8dd7fef7.ca609","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":260,"wires":[[]]},{"id":"9c03af2e.c0ab3","type":"function","z":"532de144.f541f","name":"-10","func":"msg.payload = msg.payload -30\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["7364a2c5.ee92fc"]]},{"id":"7364a2c5.ee92fc","type":"smooth","z":"532de144.f541f","name":"","property":"payload","action":"mean","count":"1","round":"1","mult":"single","x":900,"y":320,"wires":[["103a37c.da696c8"]]},{"id":"3915d3ad.ac3dfc","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"T CPU","group":"1656b6d3.0e7669","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-15","max":"90","colors":["#000ab5","#03e22b","#ca3838"],"seg1":"","seg2":"","x":330,"y":120,"wires":[]},{"id":"ae8fabca.4f6f78","type":"ui_text","z":"94ebdc9.6a4eb2","group":"1656b6d3.0e7669","order":3,"width":"4","height":"2","name":"","label":"Memory In Use :","format":"{{msg.payload}}%","layout":"col-center","x":300,"y":240,"wires":[]},{"id":"a191706c.74f66","type":"ui_chart","z":"94ebdc9.6a4eb2","name":"CPU LOAD","group":"1656b6d3.0e7669","order":2,"width":"4","height":"3","label":"CPU LOAD","chartType":"bar","legend":"false","xformat":"mm:ss","interpolate":"step","nodata":"NO DATA","dot":true,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":310,"y":180,"wires":[[],[]]},{"id":"681a8ece.a08b","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"KG","group":"f796966.c57f468","order":7,"width":"5","height":"5","gtype":"gage","title":"Payload","label":"Rocks Weight","format":"{{value}} kg","min":0,"max":"1","colors":["#00b0b5","#00ff13","#3e38ca"],"seg1":"","seg2":"","x":590,"y":100,"wires":[]},{"id":"3098c5f2.f6264a","type":"exec","z":"43c8b9dc.663e28","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp CPU","x":350,"y":160,"wires":[["4aad4088.a430e"],[],[]]},{"id":"39c2eec3.475072","type":"inject","z":"43c8b9dc.663e28","name":"Timer 1 Seg","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":163,"y":222,"wires":[["3098c5f2.f6264a","d9312154.e43c4","2261df64.d98cb"]]},{"id":"4aad4088.a430e","type":"function","z":"43c8b9dc.663e28","name":"SubString","func":"str = msg.payload \nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":155,"wires":[["a377e018.1e0d9"]]},{"id":"d9312154.e43c4","type":"exec","z":"43c8b9dc.663e28","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"LOAD","x":328,"y":221.5,"wires":[["3bf1c720.382528"],[],[]]},{"id":"2261df64.d98cb","type":"exec","z":"43c8b9dc.663e28","command":"free | grep Mem | awk '{print $3/$2 * 100.0}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"MEM","x":330,"y":280,"wires":[["e34f839f.20f9f"],[],[]]},{"id":"cb665c60.a2598","type":"inject","z":"3cc19c06.1f2ff4","name":"VOLTS","topic":"","payload":"","payloadType":"str","repeat":"40","crontab":"","once":true,"onceDelay":0.1,"x":260,"y":120,"wires":[["1370a43f.5f894c"]]},{"id":"ff59b82c.bd4578","type":"inject","z":"3cc19c06.1f2ff4","name":"TEMP BAT","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":160,"wires":[["366f6c5e.ac8424"]]},{"id":"2b7a023f.607e9e","type":"link in","z":"94ebdc9.6a4eb2","name":"T CPU Gauge","links":["c1bfc8f4.6a3d98","a377e018.1e0d9"],"x":175,"y":120,"wires":[["3915d3ad.ac3dfc"]]},{"id":"354a61c3.9e192e","type":"link in","z":"94ebdc9.6a4eb2","name":"CPU LOAD Graph","links":["3bf1c720.382528"],"x":175,"y":180,"wires":[["a191706c.74f66"]]},{"id":"9ddd1708.3d1ab8","type":"link in","z":"94ebdc9.6a4eb2","name":"MEM Text","links":["e34f839f.20f9f","e18fce3b.2b10a8"],"x":175,"y":240,"wires":[["ae8fabca.4f6f78"]]},{"id":"a377e018.1e0d9","type":"link out","z":"43c8b9dc.663e28","name":"","links":["2b7a023f.607e9e"],"x":718,"y":159,"wires":[]},{"id":"173c7654.15fffa","type":"comment","z":"43c8b9dc.663e28","name":"Estos nodos funcionan dentro de la Raspberry.","info":"","x":240,"y":80,"wires":[]},{"id":"3bf1c720.382528","type":"link out","z":"43c8b9dc.663e28","name":"","links":["354a61c3.9e192e"],"x":595,"y":220,"wires":[]},{"id":"e34f839f.20f9f","type":"link out","z":"43c8b9dc.663e28","name":"","links":["9ddd1708.3d1ab8"],"x":594,"y":270,"wires":[]},{"id":"840d8eb9.e33f2","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["84e1b7cf.1382a8","c3bd6988.70a878"],"x":655,"y":120,"wires":[]},{"id":"62dc640b.d9d8ec","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["d3f9034a.a8eed","e05bec49.1dc6c"],"x":655,"y":160,"wires":[]},{"id":"7abbd939.59c618","type":"comment","z":"94ebdc9.6a4eb2","name":"CPU","info":"","x":210,"y":40,"wires":[]},{"id":"fcb7d7c9.a415c8","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["b417a355.f45b8"],"x":655,"y":200,"wires":[]},{"id":"7a76304.4eb62d","type":"inject","z":"3cc19c06.1f2ff4","name":"KG","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["103a1943.131bb7"]]},{"id":"beebde2.f0fa82","type":"comment","z":"3cc19c06.1f2ff4","name":"Aquí se van a estar generando valores aleatorios pero coherentes para cada gráfica para el demo de la interfaz.","info":"","x":436,"y":46,"wires":[]},{"id":"1370a43f.5f894c","type":"function","z":"3cc19c06.1f2ff4","name":"Generador VOLTS","func":"//Obtiene el valor de volts, o asigna el default en 12\nvar x = flow.get('volts')||12;\nif(x<7) x=12; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('volts',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["840d8eb9.e33f2"]]},{"id":"366f6c5e.ac8424","type":"function","z":"3cc19c06.1f2ff4","name":"Generador TEMP BAT","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["62dc640b.d9d8ec"]]},{"id":"355c4a21.51c536","type":"comment","z":"94ebdc9.6a4eb2","name":"Variables Principales","info":"","x":550,"y":40,"wires":[]},{"id":"e5a0bdcd.41938","type":"comment","z":"5fbc9311.d57b4c","name":"Aquí se extraerá la información de los sensores conectados a la Rasp.","info":"","x":390,"y":60,"wires":[]},{"id":"fb632857.440cc8","type":"comment","z":"43c8b9dc.663e28","name":"Aquí se extraerá la información desde el interior de la Rasp.","info":"","x":280,"y":40,"wires":[]},{"id":"b417a355.f45b8","type":"link in","z":"94ebdc9.6a4eb2","name":"KG","links":["fcb7d7c9.a415c8"],"x":475,"y":100,"wires":[["681a8ece.a08b"]]},{"id":"bed533e3.8469b","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"V Bat","group":"5e94c4a2.9ff8bc","order":1,"width":0,"height":0,"gtype":"gage","title":"V BAT","label":"","format":"{{value}}V","min":"7","max":"12","colors":["#fb0006","#e6e600","#29cd01"],"seg1":"10","seg2":"13","x":950,"y":120,"wires":[]},{"id":"b9726b67.a88ac8","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Temp Bat","group":"5e94c4a2.9ff8bc","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-15","max":"99","colors":["#00ffef","#58ff00","#ff0000"],"seg1":"25","seg2":"45","x":940,"y":180,"wires":[]},{"id":"c3bd6988.70a878","type":"link in","z":"94ebdc9.6a4eb2","name":"V BAT Gauge","links":["840d8eb9.e33f2"],"x":795,"y":120,"wires":[["bed533e3.8469b"]]},{"id":"e05bec49.1dc6c","type":"link in","z":"94ebdc9.6a4eb2","name":"TEMP BAT Gauge","links":["62dc640b.d9d8ec"],"x":795,"y":180,"wires":[["b9726b67.a88ac8"]]},{"id":"e66bbc50.0717e","type":"comment","z":"94ebdc9.6a4eb2","name":"Batería","info":"","x":830,"y":40,"wires":[]},{"id":"c268bd88.ef749","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Tilti Angle (Yaw)","group":"f796966.c57f468","order":1,"width":"5","height":"5","gtype":"gage","title":"Tilt Angle (Yaw)","label":"Degrees","format":"{{value}} D","min":"-30","max":"30","colors":["#ffffff","#0016ff","#ffffff"],"seg1":"","seg2":"","x":620,"y":140,"wires":[]},{"id":"734356af.0d4758","type":"inject","z":"3cc19c06.1f2ff4","name":"Degrees Yaw","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["8b8146e8.9cd508"]]},{"id":"103a1943.131bb7","type":"function","z":"3cc19c06.1f2ff4","name":"Generador ROCKS","func":"//Obtiene el valor de rocks, o asigna el default en 12\nvar x = flow.get('rocks')||0;\nif(x>1) x=0; //Por si ya llegamos a 1kg.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//crece el valor \nx=x+0.1;\n\nflow.set('rocks',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["fcb7d7c9.a415c8"]]},{"id":"85f607cd.98fd28","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Tilt Angle (Roll)","group":"f796966.c57f468","order":3,"width":"5","height":"5","gtype":"gage","title":"Tilt Angle (Roll)","label":"Degrees","format":"{{value}} D","min":"-30","max":"30","colors":["#ffffff","#001aff","#ffffff"],"seg1":"","seg2":"","x":620,"y":180,"wires":[]},{"id":"7a6315df.e4200c","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Atmosphere Temp","group":"f796966.c57f468","order":4,"width":"5","height":"5","gtype":"gage","title":"Atmosphere Temp","label":"Atmosphere Temp","format":"{{value}} °C","min":"-30","max":"160","colors":["#00d6ff","#00ff13","#ff9d00"],"seg1":"","seg2":"","x":610,"y":260,"wires":[]},{"id":"8b8146e8.9cd508","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Degrees Yaw","func":"//Lista de valores de demo\nvar x = [ 25.0, 20, 10,\n          14, 0, -15,\n          -12, -22, -24, -28]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["94f80c8.9a962f"]]},{"id":"a1f690a0.877ff","type":"link in","z":"94ebdc9.6a4eb2","name":"","links":["94f80c8.9a962f"],"x":475,"y":140,"wires":[["c268bd88.ef749"]]},{"id":"cb68d7c2.72c058","type":"link in","z":"94ebdc9.6a4eb2","name":"","links":["6f364c1b.c4d734"],"x":475,"y":180,"wires":[["85f607cd.98fd28"]]},{"id":"94f80c8.9a962f","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["a1f690a0.877ff"],"x":655,"y":240,"wires":[]},{"id":"6e292558.adfd6c","type":"inject","z":"3cc19c06.1f2ff4","name":"Degrees Roll","topic":"","payload":"","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":280,"wires":[["c855ed8.bb0c61"]]},{"id":"c855ed8.bb0c61","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Degrees Roll","func":"//Lista de valores de demo\nvar x = [ 14, -10, 1.1,\n          9.2, -0.2, -15,\n          -12, -8, -6, -29.9]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["6f364c1b.c4d734"]]},{"id":"6f364c1b.c4d734","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["cb68d7c2.72c058","db4f6090.a1d9b"],"x":655,"y":280,"wires":[]},{"id":"e00fe707.997828","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Current","group":"5e94c4a2.9ff8bc","order":3,"width":0,"height":0,"gtype":"gage","title":"Current","label":"","format":"{{value}} A","min":"0","max":"10","colors":["#0060ff","#58ff00","#ff0000"],"seg1":"2.5","seg2":"7.5","x":935,"y":270,"wires":[]},{"id":"d008bcbe.92974","type":"link in","z":"94ebdc9.6a4eb2","name":"Current Gauge","links":["938e975f.b71e48"],"x":815,"y":272,"wires":[["e00fe707.997828"]]},{"id":"ec2363b8.5c1d","type":"inject","z":"3cc19c06.1f2ff4","name":"AMPERES","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":320,"wires":[["ff2aff.a4c4a5"]]},{"id":"938e975f.b71e48","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["d008bcbe.92974","4bb76843.ff69f8"],"x":655,"y":320,"wires":[]},{"id":"ff2aff.a4c4a5","type":"function","z":"3cc19c06.1f2ff4","name":"Generador AMPERES","func":"//Obtiene el valor de amperes, o asigna el default en 10\nvar x = flow.get('Amper')||10;\nif(x<0) x=10; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('Amper',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["938e975f.b71e48"]]},{"id":"db4f6090.a1d9b","type":"link in","z":"94ebdc9.6a4eb2","name":"Atmosphere Temp","links":["66c9dc3b.497594","6f364c1b.c4d734"],"x":475,"y":260,"wires":[["7a6315df.e4200c"]]},{"id":"a0de9ef7.3c944","type":"inject","z":"3cc19c06.1f2ff4","name":"ATMO TEMP","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":280,"y":360,"wires":[["46608b01.a8f524"]]},{"id":"66c9dc3b.497594","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["db4f6090.a1d9b"],"x":655,"y":360,"wires":[]},{"id":"46608b01.a8f524","type":"function","z":"3cc19c06.1f2ff4","name":"Generador TEMP ATMOS","func":"//Lista de valores de demo\nvar x = [ 50, 25, 40,\n          40, 32.7, 35,\n          28, 32, 29, 42]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["66c9dc3b.497594"]]},{"id":"72b87ca4.afbf34","type":"ui_text","z":"94ebdc9.6a4eb2","group":"f796966.c57f468","order":5,"width":"3","height":"1","name":"Distance to home","label":"Distance to home","format":"{{msg.payload}}","layout":"col-center","x":610,"y":300,"wires":[]},{"id":"14d9c640.ed7d5a","type":"ui_text","z":"94ebdc9.6a4eb2","group":"f796966.c57f468","order":6,"width":"3","height":"1","name":"Odometer","label":"Odometer","format":"{{msg.payload}}","layout":"col-center","x":640,"y":340,"wires":[]},{"id":"f7775522.364288","type":"ui_chart","z":"94ebdc9.6a4eb2","name":"","group":"f796966.c57f468","order":8,"width":"5","height":"3","label":"Discharging","chartType":"horizontalBar","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#2c1fb4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":380,"wires":[[],[]]},{"id":"56561d6c.9ba9a4","type":"ui_gauge","z":"94ebdc9.6a4eb2","name":"Relative Angle","group":"f796966.c57f468","order":2,"width":"5","height":"5","gtype":"compass","title":"Relative Angle","label":"Degree","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":220,"wires":[]},{"id":"10ecb41.5e9844c","type":"link in","z":"94ebdc9.6a4eb2","name":"Distance to home","links":["c8002c58.4ef85"],"x":475,"y":300,"wires":[["72b87ca4.afbf34"]]},{"id":"e505e964.d523d8","type":"inject","z":"3cc19c06.1f2ff4","name":"Distance to Home","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":290,"y":400,"wires":[["f79c1db5.3c005"]]},{"id":"c8002c58.4ef85","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["10ecb41.5e9844c"],"x":655,"y":400,"wires":[]},{"id":"f79c1db5.3c005","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Home","func":"//Obtiene el valor de metros, o asigna el default en 0\nvar x = flow.get('Meters')||100;\nif(x>100) x=0; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x+0.5;\n\nflow.set('Meters',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["c8002c58.4ef85"]]},{"id":"dbe5865.372e978","type":"link in","z":"94ebdc9.6a4eb2","name":"Odometer","links":["9b9bf995.aa4868"],"x":475,"y":340,"wires":[["14d9c640.ed7d5a"]]},{"id":"5c877b4d.edff94","type":"inject","z":"3cc19c06.1f2ff4","name":"Odometer","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":440,"wires":[["29f073de.af34dc"]]},{"id":"9b9bf995.aa4868","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["dbe5865.372e978","9849e054.ac1c6"],"x":655,"y":440,"wires":[]},{"id":"29f073de.af34dc","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Odometer","func":"//Obtiene el valor de metros, o asigna el default en 0\nvar x = flow.get('Meters')||200;\nif(x>200) x=0; //Por si ya llegamos a 200.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x+0.1;\n\nflow.set('Meters',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":440,"wires":[["9b9bf995.aa4868"]]},{"id":"9849e054.ac1c6","type":"link in","z":"94ebdc9.6a4eb2","name":"Relative Angle","links":["9b9bf995.aa4868","3319f159.bdff8e"],"x":475,"y":220,"wires":[["56561d6c.9ba9a4"]]},{"id":"a71e0a2d.a864a8","type":"inject","z":"3cc19c06.1f2ff4","name":"Relative Angle","topic":"","payload":"","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":480,"wires":[["387f380f.191ca8"]]},{"id":"387f380f.191ca8","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Relative Angle","func":"//Lista de valores de demo\nvar x = [ 299, 340, 14,\n          92.3, 1, 226,\n         188, 301, 106, 331]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["3319f159.bdff8e"]]},{"id":"3319f159.bdff8e","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["9849e054.ac1c6"],"x":655,"y":480,"wires":[]},{"id":"d26c49b2.429e68","type":"link in","z":"94ebdc9.6a4eb2","name":"Discharging","links":["b462dfe2.75303"],"x":475,"y":380,"wires":[["f7775522.364288"]]},{"id":"145291eb.3a607e","type":"inject","z":"3cc19c06.1f2ff4","name":"Discharging","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":520,"wires":[["5124a52e.e3182c"]]},{"id":"5124a52e.e3182c","type":"function","z":"3cc19c06.1f2ff4","name":"Generador Discharging","func":"//Lista de valores de demo\nvar x = [ 29, 42, 44,\n          1, 99, 100,\n         86, 72, 54, 38]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["b462dfe2.75303"]]},{"id":"b462dfe2.75303","type":"link out","z":"3cc19c06.1f2ff4","name":"","links":["d26c49b2.429e68"],"x":655,"y":520,"wires":[]},{"id":"257025e4.6ee17a","type":"comment","z":"8194afd4.4273a","name":"Configuración WiFi","info":"","x":290,"y":60,"wires":[]},{"id":"13e92213.202d4e","type":"ui_text_input","z":"8194afd4.4273a","name":"","label":"SSID","group":"c030e224.47d1d","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":335,"y":123,"wires":[["ba1e4e5b.d5877"]]},{"id":"8430f565.cfa2b8","type":"inject","z":"8194afd4.4273a","name":"","topic":"","payload":"ssid","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"70","x":195,"y":123,"wires":[["13e92213.202d4e"]]},{"id":"ba1e4e5b.d5877","type":"change","z":"8194afd4.4273a","name":"","rules":[{"t":"set","p":"ssid","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":505,"y":123,"wires":[[]]},{"id":"a7f89734.046dc8","type":"ui_text_input","z":"8194afd4.4273a","name":"","label":"KEY","group":"c030e224.47d1d","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":334,"y":180,"wires":[["a7bfcc17.d84a9"]]},{"id":"b87082d.b83828","type":"inject","z":"8194afd4.4273a","name":"","topic":"","payload":"psk","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"70","x":194,"y":180,"wires":[["a7f89734.046dc8"]]},{"id":"a7bfcc17.d84a9","type":"change","z":"8194afd4.4273a","name":"","rules":[{"t":"set","p":"psk","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":504,"y":180,"wires":[[]]},{"id":"e355b29e.f6eb7","type":"ui_button","z":"8194afd4.4273a","name":"","group":"c030e224.47d1d","order":3,"width":0,"height":0,"passthru":false,"label":"Agregar WiFi","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Nueva Red","x":172,"y":246,"wires":[["52efc1f1.0b404"]]},{"id":"49953e1b.b5307","type":"link out","z":"8194afd4.4273a","name":"ui-agregar-wifi","links":["9b9ba67f.c414a8"],"x":577,"y":246,"wires":[]},{"id":"52efc1f1.0b404","type":"ui_toast","z":"8194afd4.4273a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Agregar","cancel":"Cancelar","topic":"¿Seguro que deseas agregar una nueva red?","name":"","x":372,"y":246,"wires":[["49953e1b.b5307"]]},{"id":"259ce07e.a6879","type":"link in","z":"8194afd4.4273a","name":"ui-ssid","links":["420b299c.772488"],"x":120,"y":63,"wires":[["13e92213.202d4e"]]},{"id":"f31d4866.102c98","type":"ui_text","z":"8194afd4.4273a","group":"c030e224.47d1d","order":4,"width":0,"height":0,"name":"","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":320,"wires":[]},{"id":"496cb1f1.aba4c","type":"link in","z":"8194afd4.4273a","name":"ui-ip","links":["8785de8c.ea22e"],"x":115,"y":320,"wires":[["f31d4866.102c98"]]},{"id":"6bf2ba2f.0a5764","type":"ui_button","z":"8194afd4.4273a","name":"","group":"db07fed.74448","order":0,"width":0,"height":0,"passthru":false,"label":"Apagar","color":"","bgcolor":"","icon":"","payload":"sudo halt","payloadType":"str","topic":"","x":160,"y":420,"wires":[["b9c0356d.b1d818"]]},{"id":"b9c0356d.b1d818","type":"link out","z":"8194afd4.4273a","name":"ui-apagar","links":["a372d4e2.dcf248"],"x":575,"y":420,"wires":[]},{"id":"be44b74a.2e72a8","type":"ui_button","z":"8194afd4.4273a","name":"","group":"db07fed.74448","order":0,"width":0,"height":0,"passthru":false,"label":"Reiniciar","color":"","bgcolor":"","icon":"","payload":"sudo reboot","payloadType":"str","topic":"","x":160,"y":460,"wires":[["b9c0356d.b1d818"]]},{"id":"f016f5bd.06d338","type":"inject","z":"7fb3eebf.8b96","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":true,"onceDelay":"5","x":90,"y":140,"wires":[["bb21af6c.257ad"]]},{"id":"db974edf.9af0e","type":"file in","z":"7fb3eebf.8b96","name":"","filename":"/dev/shm/mjpeg/cam.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":140,"wires":[["9fb02fe6.d1494"]]},{"id":"b97d5326.407e1","type":"template","z":"7fb3eebf.8b96","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":760,"y":140,"wires":[["31ab6703.b22978"]]},{"id":"edf9d71e.39fd98","type":"comment","z":"7fb3eebf.8b96","name":"Es necesario activar esto: https://elinux.org/RPi-Cam-Web-Interface","info":"","x":740,"y":220,"wires":[]},{"id":"5d230213.f2359c","type":"comment","z":"7fb3eebf.8b96","name":"Regula el FPS pero causa delay","info":"","x":230,"y":220,"wires":[]},{"id":"31ab6703.b22978","type":"ui_template","z":"7fb3eebf.8b96","group":"3aeadcc5.f277e4","name":"Video","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":890,"y":140,"wires":[[]]},{"id":"9fb02fe6.d1494","type":"base64","z":"7fb3eebf.8b96","name":"","action":"str","property":"payload","x":600,"y":140,"wires":[["b97d5326.407e1"]]},{"id":"c117f45.08af908","type":"comment","z":"7fb3eebf.8b96","name":"Habilitar y desplegar para empezar a correr la transmisión de video.","info":"","x":340,"y":60,"wires":[]},{"id":"f83076d7.2aaec8","type":"file in","z":"7fb3eebf.8b96","name":"","filename":"/home/pi/ventana.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":400,"y":280,"wires":[["9fb02fe6.d1494"]]},{"id":"61fc1d2c.58e104","type":"inject","z":"7fb3eebf.8b96","name":"Tomar foto","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["ce6e52b.489d6b"]]},{"id":"ce6e52b.489d6b","type":"exec","z":"7fb3eebf.8b96","command":"raspistill -rot 90 -o ventana.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":360,"wires":[["eb3db115.138f","f83076d7.2aaec8"],["eb3db115.138f"],["eb3db115.138f"]]},{"id":"eb3db115.138f","type":"debug","z":"7fb3eebf.8b96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":360,"wires":[]},{"id":"cd0faed9.1f062","type":"exec","z":"7fb3eebf.8b96","command":"raspivid -rot 90 -o vid.h264","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":440,"wires":[[],[],[]]},{"id":"2b6f2c1b.8ed2c4","type":"inject","z":"7fb3eebf.8b96","name":"Tomar video","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":440,"wires":[["cd0faed9.1f062"]]},{"id":"bb21af6c.257ad","type":"switch","z":"7fb3eebf.8b96","name":"","property":"camara","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":160,"wires":[["db974edf.9af0e"]]},{"id":"7a118a64.c53f44","type":"inject","z":"2bd38438.1ec89c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":120,"wires":[["9877f0b2.f6f28"]]},{"id":"9877f0b2.f6f28","type":"exec","z":"2bd38438.1ec89c","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Apagar","x":520,"y":120,"wires":[[],[],[]]},{"id":"d4b7586d.cdeff8","type":"switch","z":"9a1dd593.888398","name":"Split Messages","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Speed","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":180,"wires":[["6e5776d4.b37a68"],["78800286.b3f38c"],["d035ea6e.436f48"]]},{"id":"8d2ca184.4b317","type":"switch","z":"9a1dd593.888398","name":"OnOff","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":180,"wires":[[],["896b3da2.5866"]]},{"id":"896b3da2.5866","type":"function","z":"9a1dd593.888398","name":"Go!","func":"var direction = flow.get(\"directionA\")||1;\nvar speed = flow.get(\"speedA\")||50;\nvar msg1 = {payload:\" \"};\nvar msg2 = {payload:\" \"};\n\nif (direction=='1') {\n    msg1.payload=speed;\n    msg2.payload='0';\n}\nelse if (direction=='0'){\n    msg1.payload='0';\n    msg2.payload=speed;\n}\n\nreturn [[msg1], [msg2]];\n","outputs":2,"noerr":0,"x":770,"y":180,"wires":[[],[]],"icon":"font-awesome/fa-play-circle"},{"id":"6e5776d4.b37a68","type":"function","z":"9a1dd593.888398","name":"Set Speed","func":"var speed = msg.payload;\nflow.set(\"speedA\",speed);\nmsg.payload = 0; //Detener motores\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["4b9f6b4c.7363b4"]]},{"id":"d035ea6e.436f48","type":"function","z":"9a1dd593.888398","name":"Set Direction","func":"var direction = msg.payload;\nflow.set(\"directionA\",direction);\nmsg.payload = 0; //Detener motores\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["70094dd6.967d44"]]},{"id":"181d6b4d.e73475","type":"change","z":"c1062e63.bdfdd","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":300,"wires":[["110774f9.5691eb"]]},{"id":"c170be12.ef458","type":"change","z":"c1062e63.bdfdd","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":440,"wires":[["9a19a080.f004d"]]},{"id":"4a81e8b0.1dc218","type":"change","z":"c1062e63.bdfdd","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":160,"wires":[["88ea1208.601d9"]]},{"id":"6998fbb.564e604","type":"rpi-gpio out","z":"729d3252.c031cc","name":"Right Motor Pin 11","pin":"11","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":280,"wires":[]},{"id":"d0fce739.f84f58","type":"rpi-gpio out","z":"729d3252.c031cc","name":"Right Motor Pin 12","pin":"12","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":340,"wires":[]},{"id":"2e65ebf0.d36af4","type":"subflow:9a1dd593.888398","z":"729d3252.c031cc","name":"Motor Derecho","env":[],"x":340,"y":300,"wires":[["6998fbb.564e604"],["d0fce739.f84f58"]]},{"id":"71c1a31f.3fdf7c","type":"rpi-gpio out","z":"729d3252.c031cc","name":"Right Motor Pin 16","pin":"16","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":400,"wires":[]},{"id":"92fe239b.218b5","type":"rpi-gpio out","z":"729d3252.c031cc","name":"Right Motor Pin 15","pin":"15","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":480,"wires":[]},{"id":"b87d2eb6.cd41e","type":"subflow:9a1dd593.888398","z":"729d3252.c031cc","name":"Motor Izquierdo","env":[],"x":340,"y":440,"wires":[["71c1a31f.3fdf7c"],["92fe239b.218b5"]]},{"id":"db1b64f.57aa598","type":"link in","z":"729d3252.c031cc","name":"Volante","links":["44a081d.ce6438"],"x":195,"y":80,"wires":[["afe564f5.21a758"]]},{"id":"a06c022b.a1146","type":"link in","z":"729d3252.c031cc","name":"ADerecho","links":["747fe1a7.b0867"],"x":195,"y":140,"wires":[["c599285a.306038"]]},{"id":"baeaa42e.b3a268","type":"link in","z":"729d3252.c031cc","name":"AIzquierdo","links":["33b49687.ced9da"],"x":195,"y":200,"wires":[["184ee58c.f7093a"]]},{"id":"a9846366.5c0bb","type":"link in","z":"729d3252.c031cc","name":"MotorDerecho","links":["d0952841.5e7ca8","ced76d2f.5b469","2c84f856.e37868","75986d2c.c4f854","99014642.32a838"],"x":195,"y":300,"wires":[["2e65ebf0.d36af4"]]},{"id":"a3a73961.f04828","type":"link in","z":"729d3252.c031cc","name":"MotorIzquierdo","links":["d0952841.5e7ca8","3ed5b58b.2161aa","2c84f856.e37868","75986d2c.c4f854","99014642.32a838"],"x":195,"y":440,"wires":[["b87d2eb6.cd41e"]]},{"id":"44a081d.ce6438","type":"link out","z":"c1062e63.bdfdd","name":"","links":["db1b64f.57aa598"],"x":935,"y":160,"wires":[]},{"id":"747fe1a7.b0867","type":"link out","z":"c1062e63.bdfdd","name":"","links":["a06c022b.a1146"],"x":935,"y":220,"wires":[]},{"id":"33b49687.ced9da","type":"link out","z":"c1062e63.bdfdd","name":"","links":["baeaa42e.b3a268"],"x":935,"y":280,"wires":[]},{"id":"6c70f058.0ad84","type":"comment","z":"c1062e63.bdfdd","name":"Servos","info":"","x":650,"y":80,"wires":[]},{"id":"3532bed6.b8bd32","type":"comment","z":"c1062e63.bdfdd","name":"Motorreductores","info":"","x":140,"y":80,"wires":[]},{"id":"ced76d2f.5b469","type":"link out","z":"c1062e63.bdfdd","name":"toMD","links":["a9846366.5c0bb"],"x":475,"y":340,"wires":[]},{"id":"3ed5b58b.2161aa","type":"link out","z":"c1062e63.bdfdd","name":"toMI","links":["a3a73961.f04828"],"x":475,"y":480,"wires":[]},{"id":"d0952841.5e7ca8","type":"link out","z":"c1062e63.bdfdd","name":"DosAsientos","links":["a9846366.5c0bb","a3a73961.f04828"],"x":475,"y":160,"wires":[]},{"id":"4b9f6b4c.7363b4","type":"trigger","z":"9a1dd593.888398","op1":"0","op2":"state","op1type":"str","op2type":"flow","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":730,"y":100,"wires":[["8d2ca184.4b317"]]},{"id":"70094dd6.967d44","type":"trigger","z":"9a1dd593.888398","op1":"0","op2":"state","op1type":"str","op2type":"flow","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":730,"y":260,"wires":[["8d2ca184.4b317"]]},{"id":"78800286.b3f38c","type":"function","z":"9a1dd593.888398","name":"Set State","func":"var state = msg.payload;\nflow.set(\"state\",state);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["8d2ca184.4b317"]]},{"id":"b3ac3376.9744c","type":"link in","z":"c1062e63.bdfdd","name":"toVolante","links":["bcc85791.3f55f8"],"x":675,"y":160,"wires":[["cb5bb668.542b58"]]},{"id":"55d9813e.95d16","type":"link in","z":"c1062e63.bdfdd","name":"to Co-Pilot","links":[],"x":675,"y":220,"wires":[["593b32ed.ca329c","747fe1a7.b0867"]]},{"id":"44954546.7c72fc","type":"link in","z":"c1062e63.bdfdd","name":"to Conductor","links":["77e5f0a3.574d"],"x":675,"y":280,"wires":[["b9525097.0906","33b49687.ced9da"]]},{"id":"64cbc6eb.a94878","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Speed","group":"a87c2e2e.9ccd5","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":330,"y":360,"wires":[["ced76d2f.5b469"]]},{"id":"96f8c36d.b5a92","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Speed","group":"5a36d2f5.03d4ac","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":330,"y":500,"wires":[["3ed5b58b.2161aa"]]},{"id":"b9525097.0906","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"40","group":"8865e937.07bd68","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"94.4","max":"74.4","step":"0.1","x":810,"y":280,"wires":[["33b49687.ced9da"]]},{"id":"593b32ed.ca329c","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"38","group":"8865e937.07bd68","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"100","max":"0","step":"0.5","x":810,"y":220,"wires":[["747fe1a7.b0867"]]},{"id":"a66f388c.65e668","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Speed","group":"8865e937.07bd68","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":330,"y":200,"wires":[["d0952841.5e7ca8"]]},{"id":"cb5bb668.542b58","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"36","group":"8865e937.07bd68","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"100","max":"0","step":"1","x":810,"y":160,"wires":[["44a081d.ce6438"]]},{"id":"110774f9.5691eb","type":"ui_switch","z":"c1062e63.bdfdd","name":"","label":"Start/Stop","group":"a87c2e2e.9ccd5","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":320,"y":300,"wires":[["181d6b4d.e73475","ced76d2f.5b469","4a81e8b0.1dc218"]]},{"id":"9a19a080.f004d","type":"ui_switch","z":"c1062e63.bdfdd","name":"","label":"Start/Stop","group":"5a36d2f5.03d4ac","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":320,"y":440,"wires":[["c170be12.ef458","3ed5b58b.2161aa","4a81e8b0.1dc218"]]},{"id":"88ea1208.601d9","type":"ui_switch","z":"c1062e63.bdfdd","name":"","label":"Start/Stop","group":"8865e937.07bd68","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":320,"y":160,"wires":[["4a81e8b0.1dc218","d0952841.5e7ca8","110774f9.5691eb","9a19a080.f004d"]]},{"id":"3a564252.119cce","type":"ui_template","z":"2bd38438.1ec89c","group":"f7fab34b.c85b5","name":"Formato","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":320,"y":60,"wires":[[]]},{"id":"ff4f7a9b.e797b8","type":"ui_template","z":"2bd38438.1ec89c","group":"f7fab34b.c85b5","name":"Apagar","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    <i class=\"fa fa-power-off fa-3x\"></i>\n    \n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":320,"y":200,"wires":[["9877f0b2.f6f28"]]},{"id":"623d614e.e639","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"Adelante","order":3,"width":"2","height":"1","format":"<div class=\"momentaryad vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-arrow-up fa-2x\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryad').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryad').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160,"y":300,"wires":[["749b9e7.ed3546","3e5e6c16.81c914","9572a6dd.654538"]]},{"id":"e7da6cf5.68989","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"Derecha","order":7,"width":"2","height":"1","format":"<div class=\"momentaryder vibrate filled touched bigfont rounded\" style=\"background-color:#009999\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#009999\">  \n    <i class=\"fa fa-camera fa-2x\" aria-hidden=\"true\"></i>\n    <i class=\"fa fa-arrow-right fa-2x\" aria-hidden=\"true\"></i>\n<script>\n(function($scope) {\n$('.momentaryder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n</md-button>\n</center>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160,"y":380,"wires":[["435b9535.51277c"]]},{"id":"80525c0b.e9d49","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"arriba der","order":4,"width":"2","height":"1","format":"<div class=\"momentaryarder vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\">  \n    <i class=\"fa fa-reply fa-2x fa-flip-horizontal\"></i>\n</md-button> \n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryarder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryarder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160,"y":180,"wires":[["3e5e6c16.81c914","749b9e7.ed3546","9decc5d8.f80138"]]},{"id":"127ce4ec.d752fb","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"Izquierda","order":5,"width":"2","height":"1","format":"<div class=\"momentaryiz vibrate filled touched bigfont rounded\" style=\"background-color:#009999\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#009999\"> \n    <i class=\"fa fa-arrow-left fa-2x\" aria-hidden=\"true\"></i>\n    <i class=\"fa fa-camera fa-2x\" aria-hidden=\"true\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryiz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryiz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":160,"y":340,"wires":[["65d9efbd.4ade5"]]},{"id":"c55a53d.ea53eb","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"Centro","order":6,"width":"2","height":"1","format":"   \n<div class=\"momentarycen vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    Motores<br/><i class=\"fa fa-power-off\" aria-hidden=\"true\"></i>\n</md-button>\n</center>\n</div>\n\n<script>\n(function($scope) {\n$('.momentarycen').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentarycen').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":150,"y":260,"wires":[["749b9e7.ed3546"]]},{"id":"a7377972.9537e8","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"abajo iz","order":8,"width":"2","height":"1","format":" <div class=\"momentaryabiz vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-reply fa-2x fa-flip-vertical\"></i>\n</md-button>\n</center>\n</div>\n\n<script>\n(function($scope) {\n$('.momentaryabiz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryabiz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160,"y":100,"wires":[["4ff8660d.37c468","749b9e7.ed3546","66e3456a.883bdc"]]},{"id":"a19f3016.59d45","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"Atrás","order":9,"width":"2","height":"1","format":"<div class=\"momentaryat vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button \n   class=\"filled touched bigfont rounded\" \n   style=\"background-color:#c0392b\">\n   <i class=\"fa fa-arrow-down fa-2x\" aria-hidden=\"true\"></i>\n</md-button> \n</center>\n<script>\n(function($scope) {\n$('.momentaryat').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryat').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":150,"y":60,"wires":[["4ff8660d.37c468","749b9e7.ed3546","9572a6dd.654538"]]},{"id":"421a648a.2242bc","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"arriba Iz","order":2,"width":"2","height":"1","format":"<div class=\"momentaryariz vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-reply fa-2x\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryariz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryariz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":160,"y":220,"wires":[["749b9e7.ed3546","3e5e6c16.81c914","66e3456a.883bdc"]]},{"id":"75986d2c.c4f854","type":"link out","z":"420cfa9c.4ff334","name":"","links":["a9846366.5c0bb","a3a73961.f04828"],"x":675,"y":240,"wires":[]},{"id":"87cc2761.149e08","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"Formato botones","order":1,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n\n  \n</style>\n\n<script>\n$('.vibrate').on('touchstart mousedown', function() {\n  navigator.vibrate(100);\n});\n$('.vibrate').on('touchend mouseup', function() {\n  navigator.vibrate(100);\n});\n\n$('.vibrate').on('touchstart mousedown', function() {\n  navigator.vibrate(100);\n});\n\n$scope.action = function(controlName) {\n\n    var actioner = $scope[controlName];\n    if (!actioner) {\n      $scope[controlName] = actioner;\n    }\n actioner.on('touchstart mousedown', function(e) { \n\te.preventDefault();\n\t$scope.send({\"payload\": 1});\n\t});\n actioner.on('touchend mouseup', function(e) {\n\te.preventDefault();\n\t$scope.send({\"payload\": 1});\n\t});\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":90,"y":20,"wires":[[]]},{"id":"73ffdb03.e3d0a4","type":"ui_template","z":"420cfa9c.4ff334","group":"82c63b5.f6362c8","name":"abajo der","order":10,"width":"2","height":"1","format":"<div class=\"momentaryabder vibrate filled bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-reply fa-2x fa-rotate-180\"></i>\n</md-button> \n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryabder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryabder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160,"y":140,"wires":[["4ff8660d.37c468","749b9e7.ed3546","9decc5d8.f80138"]]},{"id":"749b9e7.ed3546","type":"change","z":"420cfa9c.4ff334","name":"On Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":200,"wires":[["75986d2c.c4f854"]]},{"id":"bcc85791.3f55f8","type":"link out","z":"420cfa9c.4ff334","name":"","links":["b3ac3376.9744c"],"x":675,"y":120,"wires":[]},{"id":"65d9efbd.4ade5","type":"function","z":"420cfa9c.4ff334","name":"Cam Left","func":"var va = msg.payload;\nvar pos = flow.get('pos');\nif(va == 1 && pos<100){\n    pos=pos+2;\n}\nflow.set('pos',pos)\nmsg.payload=pos;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["77e5f0a3.574d"]]},{"id":"435b9535.51277c","type":"function","z":"420cfa9c.4ff334","name":"Cam Right","func":"var va = msg.payload;\nvar pos = flow.get('pos');\nif(va == 1 && pos>0){\n    pos=pos-5;\n}\nflow.set('pos',pos)\nmsg.payload=pos;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["77e5f0a3.574d"]]},{"id":"77e5f0a3.574d","type":"link out","z":"420cfa9c.4ff334","name":"","links":["44954546.7c72fc"],"x":675,"y":360,"wires":[]},{"id":"3e5e6c16.81c914","type":"change","z":"420cfa9c.4ff334","name":"Direction Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Direction","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["75986d2c.c4f854"]]},{"id":"4ff8660d.37c468","type":"change","z":"420cfa9c.4ff334","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[["3e5e6c16.81c914"]]},{"id":"9decc5d8.f80138","type":"change","z":"420cfa9c.4ff334","name":"Right","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["bcc85791.3f55f8"]]},{"id":"66e3456a.883bdc","type":"change","z":"420cfa9c.4ff334","name":"Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":120,"wires":[["bcc85791.3f55f8"]]},{"id":"9572a6dd.654538","type":"change","z":"420cfa9c.4ff334","name":"Center","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["bcc85791.3f55f8"]]},{"id":"930b0cc1.a2222","type":"inject","z":"420cfa9c.4ff334","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":410,"y":460,"wires":[["4686c482.b8543c"]]},{"id":"4686c482.b8543c","type":"function","z":"420cfa9c.4ff334","name":"Cam Initialize","func":"var pos = flow.get('pos')||50;\nflow.set('pos',pos)\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":460,"wires":[[]]},{"id":"afe564f5.21a758","type":"pi-gpiod out","z":"729d3252.c031cc","name":"","host":"localhost","port":"8888","pin":"16","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":580,"y":80,"wires":[]},{"id":"c599285a.306038","type":"pi-gpiod out","z":"729d3252.c031cc","name":"","host":"localhost","port":"8888","pin":"20","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":580,"y":140,"wires":[]},{"id":"1bd00ee4.3d1e71","type":"pi-gpiod out","z":"729d3252.c031cc","name":"","host":"localhost","port":"8888","pin":"21","set":"","level":"0","out":"ser","sermin":"50","sermax":"2500","x":580,"y":200,"wires":[]},{"id":"184ee58c.f7093a","type":"switch","z":"729d3252.c031cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":200,"wires":[["1bd00ee4.3d1e71"],[]]},{"id":"bc7d86e0.ba84f8","type":"ui_switch","z":"c1062e63.bdfdd","name":"","label":"Rodillo1","group":"8865e937.07bd68","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"75","onvalueType":"str","onicon":"","oncolor":"","offvalue":"84.9","offvalueType":"str","officon":"","offcolor":"","x":700,"y":360,"wires":[["33b49687.ced9da"]]},{"id":"cffdce8a.01eab","type":"ui_switch","z":"c1062e63.bdfdd","name":"","label":"Rodillo2","group":"8865e937.07bd68","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"95","onvalueType":"str","onicon":"","oncolor":"","offvalue":"84.9","offvalueType":"str","officon":"","offcolor":"","x":700,"y":400,"wires":[["33b49687.ced9da"]]}]