flows.json
[{"id":"c1062e63.bdfdd","type":"tab","label":"Dashboard MiniRover","disabled":false,"info":""},{"id":"4cdd2b9e.8497d4","type":"tab","label":"Salidas GPIO","disabled":false,"info":""},{"id":"729d3252.c031cc","type":"tab","label":"Salidas GPIO Minirover","disabled":true,"info":""},{"id":"43c8b9dc.663e28","type":"tab","label":"Lecturas (Network)","disabled":false,"info":""},{"id":"bcd1ad73.d0a99","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"532de144.f541f","type":"tab","label":"MPU6050","disabled":true,"info":""},{"id":"7fb3eebf.8b96","type":"tab","label":"Cámara","disabled":true,"info":""},{"id":"2bd38438.1ec89c","type":"tab","label":"Sistema","disabled":false,"info":""},{"id":"c641f918.652968","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9fb5aae8.d095e8","type":"ui_tab","z":"","name":"Telemetry","icon":"dashboard","order":2},{"id":"61e593a6.cc124c","type":"ui_group","z":"","name":"Gyro","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"26b1b5b2.9d35da","type":"ui_group","z":"","name":"Accel","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"51bcd62e.7fea58","type":"ui_group","z":"","name":"Calibration","tab":"9fb5aae8.d095e8","disp":true,"width":"6","collapse":false},{"id":"e3bc2129.7f362","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"4eb5399c.77f808","type":"ui_group","z":"","name":"Temp","tab":"","order":1,"disp":false,"width":"6"},{"id":"ede17187.8ebf9","type":"ui_group","z":"","name":"Carga CPU","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"d48112ef.d595b","type":"ui_group","z":"","name":"Inclinación y Odometría","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"abc5fd25.9f3f9","type":"ui_group","z":"","name":"Célula de Carga y Potencia","tab":"ba1ce2bd.f8581","order":4,"disp":true,"width":"6","collapse":false},{"id":"1656b6d3.0e7669","type":"ui_group","z":"","name":"CPU","tab":"112ec31.796b33d","order":1,"disp":true,"width":"4","collapse":false},{"id":"f796966.c57f468","type":"ui_group","z":"","name":"Main Variables","tab":"112ec31.796b33d","order":2,"disp":true,"width":"15","collapse":false},{"id":"112ec31.796b33d","type":"ui_tab","z":"","name":"Measurements","icon":"dashboard","order":3},{"id":"5e94c4a2.9ff8bc","type":"ui_group","z":"","name":"Battery","tab":"112ec31.796b33d","disp":true,"width":"4","collapse":false},{"id":"fa70f74b.f36f18","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"e037f552.9dd538","type":"ui_group","z":"","name":"Heatmap","tab":"","disp":true,"width":"18","collapse":false},{"id":"1b91ed03.4a54f3","type":"ui_group","z":"","name":"Setup","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"17c18594.324f3a","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c030e224.47d1d","type":"ui_group","z":"","name":"WiFi","tab":"ae3cc6f3.ed5848","order":2,"disp":true,"width":"6","collapse":true},{"id":"ae3cc6f3.ed5848","type":"ui_tab","z":"","name":"Sistema","icon":"dashboard","order":5},{"id":"55cc3e78.2a8ed","type":"ui_group","z":"","name":"Botones","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"db07fed.74448","type":"ui_group","z":"","name":"Apagar","tab":"ae3cc6f3.ed5848","disp":true,"width":"6","collapse":false},{"id":"3aeadcc5.f277e4","type":"ui_group","z":"","name":"Cámara","tab":"5fbbe82f.06b788","order":1,"disp":false,"width":"6","collapse":false},{"id":"40f0a67.a756c58","type":"ui_group","z":"","name":"Motores","tab":"ae3cc6f3.ed5848","disp":true,"width":"6","collapse":false},{"id":"bb51df0b.acdbd","type":"ui_group","z":"","name":"Autónomo","tab":"","disp":true,"width":"6","collapse":false},{"id":"a87c2e2e.9ccd5","type":"ui_group","z":0,"name":"Motor Derecho","tab":"b7fe2b9c.3d0b38","disp":true,"width":"6","collapse":false},{"id":"8865e937.07bd68","type":"ui_group","z":0,"name":"Todo","tab":"b7fe2b9c.3d0b38","disp":true,"width":"6","collapse":false},{"id":"5a36d2f5.03d4ac","type":"ui_group","z":0,"name":"Motor Izquierdo","tab":"b7fe2b9c.3d0b38","disp":true,"width":"6","collapse":false},{"id":"82c63b5.f6362c8","type":"ui_group","z":"","name":"Botones","tab":"5fbbe82f.06b788","disp":false,"width":"6","collapse":false},{"id":"f7fab34b.c85b5","type":"ui_group","z":0,"name":"Apagado","tab":"b7fe2b9c.3d0b38","disp":true,"width":"2","collapse":true},{"id":"4bd96968.d3b318","type":"ui_group","z":"","name":"Tester","tab":"ba1ce2bd.f8581","disp":true,"width":"6","collapse":false},{"id":"85724c73.1e1e5","type":"ui_group","z":0,"name":"D","tab":"","disp":true,"width":"6","collapse":false},{"id":"ff76de63.bbc13","type":"ui_group","z":0,"name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b7fe2b9c.3d0b38","type":"ui_tab","z":0,"name":"Motores","icon":"dashboard","order":6},{"id":"5fbbe82f.06b788","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1},{"id":"38b5624.ca2149e","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ba1ce2bd.f8581","type":"ui_tab","z":"","name":"Pruebas","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"fbf792c3.99f0d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"Rover","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Birth","birthQos":"0","birthPayload":"El rover se conectó.","closeTopic":"Death","closeQos":"0","closePayload":"Cerrando conexión del rover.","willTopic":"Unexpected","willQos":"2","willPayload":"Morí (Rover). D:"},{"id":"88fc4119.086e","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":810,"y":60,"wires":[[],[]]},{"id":"92e7bd9e.713b9","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":810,"y":100,"wires":[[],[]]},{"id":"a9a90967.bc4888","type":"ui_chart","z":"532de144.f541f","name":"","group":"26b1b5b2.9d35da","order":3,"width":0,"height":0,"label":"Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":810,"y":140,"wires":[[],[]]},{"id":"2e703c2b.4eba74","type":"serial in","z":"532de144.f541f","name":"From Arduino","serial":"38b5624.ca2149e","x":150,"y":160,"wires":[["63714ba4.4fc044"]]},{"id":"9cd8b636.66a878","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":4,"width":0,"height":0,"gtype":"compass","title":"Z Gyro","label":"Angle","format":"{{value}}°","min":"180","max":"-180","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":260,"wires":[]},{"id":"63714ba4.4fc044","type":"switch","z":"532de144.f541f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"accX","vt":"str"},{"t":"cont","v":"accY","vt":"str"},{"t":"cont","v":"accZ","vt":"str"},{"t":"cont","v":"angleX","vt":"str"},{"t":"cont","v":"angleY","vt":"str"},{"t":"cont","v":"angleZ","vt":"str"},{"t":"cont","v":"temp","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":8,"x":330,"y":160,"wires":[["74aaa516.91a3ec"],["883f5f40.41359"],["953622d3.b217"],["4db238a2.28e598"],["90cc1490.fff948"],["307003da.ec12dc"],["e6b2228c.3619"],["5d7edd62.52fc54"]]},{"id":"74aaa516.91a3ec","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":60,"wires":[["88fc4119.086e","67c66e88.9c99a"]]},{"id":"883f5f40.41359","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":100,"wires":[["92e7bd9e.713b9","57a8a31e.601c5c"]]},{"id":"953622d3.b217","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["a9a90967.bc4888","7bbbfe98.2e9a4"]]},{"id":"4db238a2.28e598","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["5a5c6919.e1e9b8","70819ab9.b520a4"]]},{"id":"90cc1490.fff948","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["beb543b6.96bc7","86fa031b.f9cb6"]]},{"id":"307003da.ec12dc","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["9cd8b636.66a878","8dd7fef7.ca609"]]},{"id":"e6b2228c.3619","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"temp :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["9c03af2e.c0ab3"]]},{"id":"5a5c6919.e1e9b8","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":1,"width":0,"height":0,"gtype":"gage","title":"X Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":800,"y":180,"wires":[]},{"id":"103a37c.da696c8","type":"ui_text","z":"532de144.f541f","group":"26b1b5b2.9d35da","order":6,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}}° C","layout":"row-spread","x":1030,"y":320,"wires":[]},{"id":"eca53570.090008","type":"ui_button","z":"532de144.f541f","name":"","group":"51bcd62e.7fea58","order":0,"width":0,"height":0,"passthru":false,"label":"Re-calibrate","color":"","bgcolor":"","icon":"","payload":"calibGyro,","payloadType":"str","topic":"","x":370,"y":420,"wires":[["1a50f957.fc4247","9d710d00.01125"]]},{"id":"5d7edd62.52fc54","type":"debug","z":"532de144.f541f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":260,"wires":[]},{"id":"1a50f957.fc4247","type":"serial out","z":"532de144.f541f","name":"To Arduino","serial":"38b5624.ca2149e","x":700,"y":420,"wires":[]},{"id":"f8eec57f.8896e8","type":"ui_toast","z":"532de144.f541f","position":"bottom right","displayTime":"8","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Calibrando... (8s)","x":770,"y":480,"wires":[]},{"id":"9d710d00.01125","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Calibrando. (Espere 8s)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["f8eec57f.8896e8"]]},{"id":"beb543b6.96bc7","type":"ui_gauge","z":"532de144.f541f","name":"","group":"61e593a6.cc124c","order":1,"width":0,"height":0,"gtype":"gage","title":"Y Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"67c66e88.9c99a","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":60,"wires":[[]]},{"id":"57a8a31e.601c5c","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[[]]},{"id":"7bbbfe98.2e9a4","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"AZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":140,"wires":[[]]},{"id":"70819ab9.b520a4","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":180,"wires":[[]]},{"id":"86fa031b.f9cb6","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":220,"wires":[[]]},{"id":"8dd7fef7.ca609","type":"change","z":"532de144.f541f","name":"","rules":[{"t":"set","p":"GZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":260,"wires":[[]]},{"id":"9c03af2e.c0ab3","type":"function","z":"532de144.f541f","name":"-10","func":"msg.payload = msg.payload -30\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["7364a2c5.ee92fc"]]},{"id":"7364a2c5.ee92fc","type":"smooth","z":"532de144.f541f","name":"","property":"payload","action":"mean","count":"1","round":"1","mult":"single","x":900,"y":320,"wires":[["103a37c.da696c8"]]},{"id":"3098c5f2.f6264a","type":"exec","z":"43c8b9dc.663e28","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp CPU","x":350,"y":160,"wires":[["4aad4088.a430e"],[],[]]},{"id":"39c2eec3.475072","type":"inject","z":"43c8b9dc.663e28","name":"Timer 1 Seg","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":163,"y":222,"wires":[["3098c5f2.f6264a","d9312154.e43c4","2261df64.d98cb"]]},{"id":"4aad4088.a430e","type":"function","z":"43c8b9dc.663e28","name":"SubString","func":"str = msg.payload \nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":155,"wires":[["a377e018.1e0d9"]]},{"id":"d9312154.e43c4","type":"exec","z":"43c8b9dc.663e28","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"LOAD","x":328,"y":221.5,"wires":[["3bf1c720.382528"],[],[]]},{"id":"2261df64.d98cb","type":"exec","z":"43c8b9dc.663e28","command":"free | grep Mem | awk '{print $3/$2 * 100.0}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"MEM","x":330,"y":280,"wires":[["e34f839f.20f9f"],[],[]]},{"id":"a377e018.1e0d9","type":"link out","z":"43c8b9dc.663e28","name":"","links":["2b7a023f.607e9e"],"x":718,"y":159,"wires":[]},{"id":"173c7654.15fffa","type":"comment","z":"43c8b9dc.663e28","name":"Estos nodos funcionan dentro de la Raspberry.","info":"","x":240,"y":80,"wires":[]},{"id":"3bf1c720.382528","type":"link out","z":"43c8b9dc.663e28","name":"","links":["354a61c3.9e192e"],"x":595,"y":220,"wires":[]},{"id":"e34f839f.20f9f","type":"link out","z":"43c8b9dc.663e28","name":"","links":["9ddd1708.3d1ab8"],"x":594,"y":270,"wires":[]},{"id":"fb632857.440cc8","type":"comment","z":"43c8b9dc.663e28","name":"Aquí se extraerá la información desde el interior de la Rasp.","info":"","x":280,"y":40,"wires":[]},{"id":"f016f5bd.06d338","type":"inject","z":"7fb3eebf.8b96","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":true,"onceDelay":"5","x":90,"y":140,"wires":[["bb21af6c.257ad"]]},{"id":"db974edf.9af0e","type":"file in","z":"7fb3eebf.8b96","name":"","filename":"/dev/shm/mjpeg/cam.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":140,"wires":[["9fb02fe6.d1494"]]},{"id":"b97d5326.407e1","type":"template","z":"7fb3eebf.8b96","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":760,"y":140,"wires":[["31ab6703.b22978"]]},{"id":"edf9d71e.39fd98","type":"comment","z":"7fb3eebf.8b96","name":"Es necesario activar esto: https://elinux.org/RPi-Cam-Web-Interface","info":"","x":740,"y":220,"wires":[]},{"id":"5d230213.f2359c","type":"comment","z":"7fb3eebf.8b96","name":"Regula el FPS pero causa delay","info":"","x":230,"y":220,"wires":[]},{"id":"31ab6703.b22978","type":"ui_template","z":"7fb3eebf.8b96","group":"3aeadcc5.f277e4","name":"Video","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":890,"y":140,"wires":[[]]},{"id":"c117f45.08af908","type":"comment","z":"7fb3eebf.8b96","name":"Habilitar y desplegar para empezar a correr la transmisión de video.","info":"","x":340,"y":60,"wires":[]},{"id":"f83076d7.2aaec8","type":"file in","z":"7fb3eebf.8b96","name":"","filename":"/home/pi/ventana.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":400,"y":280,"wires":[["9fb02fe6.d1494"]]},{"id":"61fc1d2c.58e104","type":"inject","z":"7fb3eebf.8b96","name":"Tomar foto","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["ce6e52b.489d6b"]]},{"id":"ce6e52b.489d6b","type":"exec","z":"7fb3eebf.8b96","command":"raspistill -rot 90 -o ventana.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":360,"wires":[["eb3db115.138f","f83076d7.2aaec8"],["eb3db115.138f"],["eb3db115.138f"]]},{"id":"eb3db115.138f","type":"debug","z":"7fb3eebf.8b96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":360,"wires":[]},{"id":"cd0faed9.1f062","type":"exec","z":"7fb3eebf.8b96","command":"raspivid -rot 90 -o vid.h264","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":440,"wires":[[],[],[]]},{"id":"2b6f2c1b.8ed2c4","type":"inject","z":"7fb3eebf.8b96","name":"Tomar video","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":440,"wires":[["cd0faed9.1f062"]]},{"id":"bb21af6c.257ad","type":"switch","z":"7fb3eebf.8b96","name":"","property":"camara","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":160,"wires":[["db974edf.9af0e"]]},{"id":"7a118a64.c53f44","type":"inject","z":"2bd38438.1ec89c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":120,"wires":[["9877f0b2.f6f28"]]},{"id":"9877f0b2.f6f28","type":"exec","z":"2bd38438.1ec89c","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Apagar","x":520,"y":120,"wires":[[],[],[]]},{"id":"181d6b4d.e73475","type":"change","z":"c1062e63.bdfdd","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":260,"wires":[["110774f9.5691eb"]]},{"id":"c170be12.ef458","type":"change","z":"c1062e63.bdfdd","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":400,"wires":[["9a19a080.f004d"]]},{"id":"4a81e8b0.1dc218","type":"change","z":"c1062e63.bdfdd","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":120,"wires":[["88ea1208.601d9"]]},{"id":"db1b64f.57aa598","type":"link in","z":"729d3252.c031cc","name":"APin36","links":["6c729186.f9214"],"x":615,"y":320,"wires":[["5fb48616.f836d8"]]},{"id":"a06c022b.a1146","type":"link in","z":"729d3252.c031cc","name":"APin38","links":["44a081d.ce6438"],"x":615,"y":380,"wires":[["5fb48616.f836d8"]]},{"id":"baeaa42e.b3a268","type":"link in","z":"729d3252.c031cc","name":"APin31","links":["33b49687.ced9da"],"x":175,"y":180,"wires":[["3640315c.b2fade"]]},{"id":"44a081d.ce6438","type":"link out","z":"c1062e63.bdfdd","name":"","links":["a06c022b.a1146"],"x":1015,"y":280,"wires":[]},{"id":"747fe1a7.b0867","type":"link out","z":"c1062e63.bdfdd","name":"","links":["7fd4020e.13e86c"],"x":1015,"y":320,"wires":[]},{"id":"33b49687.ced9da","type":"link out","z":"c1062e63.bdfdd","name":"","links":["baeaa42e.b3a268"],"x":1375,"y":100,"wires":[]},{"id":"6c70f058.0ad84","type":"comment","z":"c1062e63.bdfdd","name":"Servos","info":"","x":670,"y":40,"wires":[]},{"id":"3532bed6.b8bd32","type":"comment","z":"c1062e63.bdfdd","name":"Motorreductores","info":"","x":160,"y":40,"wires":[]},{"id":"ced76d2f.5b469","type":"link out","z":"c1062e63.bdfdd","name":"toMD","links":["a9846366.5c0bb"],"x":495,"y":300,"wires":[]},{"id":"3ed5b58b.2161aa","type":"link out","z":"c1062e63.bdfdd","name":"toMI","links":["a3a73961.f04828"],"x":495,"y":440,"wires":[]},{"id":"d0952841.5e7ca8","type":"link out","z":"c1062e63.bdfdd","name":"DosAsientos","links":["a9846366.5c0bb","a3a73961.f04828"],"x":495,"y":120,"wires":[]},{"id":"b3ac3376.9744c","type":"link in","z":"c1062e63.bdfdd","name":"toSlider38","links":[],"x":755,"y":280,"wires":[["cb5bb668.542b58"]]},{"id":"55d9813e.95d16","type":"link in","z":"c1062e63.bdfdd","name":"toSlider40","links":[],"x":755,"y":320,"wires":[["593b32ed.ca329c","747fe1a7.b0867"]]},{"id":"44954546.7c72fc","type":"link in","z":"c1062e63.bdfdd","name":"toSlider31","links":["9d3195f7.73b728","a4e6dfac.846ce"],"x":1115,"y":100,"wires":[["b9525097.0906","33b49687.ced9da"]]},{"id":"64cbc6eb.a94878","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Speed","group":"a87c2e2e.9ccd5","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":350,"y":320,"wires":[["ced76d2f.5b469"]]},{"id":"96f8c36d.b5a92","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Speed","group":"5a36d2f5.03d4ac","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":350,"y":460,"wires":[["3ed5b58b.2161aa"]]},{"id":"b9525097.0906","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Rodillo 31","tooltip":"","group":"8865e937.07bd68","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"20","max":"1","step":".5","x":1260,"y":100,"wires":[["33b49687.ced9da"]]},{"id":"593b32ed.ca329c","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"40","tooltip":"","group":"a87c2e2e.9ccd5","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"12","max":"0","step":"1","x":890,"y":320,"wires":[["747fe1a7.b0867"]]},{"id":"a66f388c.65e668","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Speed","group":"8865e937.07bd68","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":350,"y":160,"wires":[["d0952841.5e7ca8"]]},{"id":"cb5bb668.542b58","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"38","tooltip":"","group":"a87c2e2e.9ccd5","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"12","max":"0","step":"1","x":890,"y":280,"wires":[["44a081d.ce6438"]]},{"id":"110774f9.5691eb","type":"ui_switch","z":"c1062e63.bdfdd","name":"","label":"Start/Stop","group":"a87c2e2e.9ccd5","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":340,"y":260,"wires":[["181d6b4d.e73475","ced76d2f.5b469","4a81e8b0.1dc218"]]},{"id":"9a19a080.f004d","type":"ui_switch","z":"c1062e63.bdfdd","name":"","label":"Start/Stop","group":"5a36d2f5.03d4ac","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":340,"y":400,"wires":[["c170be12.ef458","3ed5b58b.2161aa","4a81e8b0.1dc218"]]},{"id":"88ea1208.601d9","type":"ui_switch","z":"c1062e63.bdfdd","name":"","label":"Start/Stop","group":"8865e937.07bd68","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":340,"y":120,"wires":[["4a81e8b0.1dc218","d0952841.5e7ca8","110774f9.5691eb","9a19a080.f004d"]]},{"id":"3a564252.119cce","type":"ui_template","z":"2bd38438.1ec89c","group":"f7fab34b.c85b5","name":"Formato","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":320,"y":60,"wires":[[]]},{"id":"ff4f7a9b.e797b8","type":"ui_template","z":"2bd38438.1ec89c","group":"f7fab34b.c85b5","name":"Apagar","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    <i class=\"fa fa-power-off fa-3x\"></i>\n    \n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":320,"y":160,"wires":[["9877f0b2.f6f28"]]},{"id":"3f90e168.9be47e","type":"inject","z":"729d3252.c031cc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":40,"wires":[["565638e1.06f978"]]},{"id":"565638e1.06f978","type":"exec","z":"729d3252.c031cc","command":"sudo pigpiod","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":40,"wires":[["79af290b.ea5588"],["79af290b.ea5588"],["79af290b.ea5588"]]},{"id":"79af290b.ea5588","type":"debug","z":"729d3252.c031cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":40,"wires":[]},{"id":"aa8f7f60.3ff87","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"8865e937.07bd68","order":4,"width":0,"height":0,"passthru":false,"label":"Stop Rodillo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":1170,"y":240,"wires":[["33b49687.ced9da"]]},{"id":"5bc04f9b.33b12","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"8865e937.07bd68","order":2,"width":0,"height":0,"passthru":false,"label":"Start Roll-In","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1170,"y":160,"wires":[["33b49687.ced9da"]]},{"id":"70480604.e51428","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"8865e937.07bd68","order":3,"width":0,"height":0,"passthru":false,"label":"Start Roll-Out","tooltip":"","color":"","bgcolor":"","icon":"","payload":"12","payloadType":"str","topic":"","x":1180,"y":200,"wires":[["33b49687.ced9da"]]},{"id":"551f5ece.3e5e8","type":"comment","z":"43c8b9dc.663e28","name":"Aquí se extraerá la información de los sensores conectados a la Rasp.","info":"","x":310,"y":480,"wires":[]},{"id":"8db524f2.a6fc08","type":"comment","z":"c1062e63.bdfdd","name":"Configuración WiFi","info":"","x":250,"y":540,"wires":[]},{"id":"a64ba081.a649f","type":"ui_text_input","z":"c1062e63.bdfdd","name":"","label":"SSID","group":"c030e224.47d1d","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":295,"y":603,"wires":[["dc008228.4b2fe"]]},{"id":"6e58de8b.de457","type":"inject","z":"c1062e63.bdfdd","name":"","topic":"","payload":"ssid","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"70","x":155,"y":603,"wires":[["a64ba081.a649f"]]},{"id":"dc008228.4b2fe","type":"change","z":"c1062e63.bdfdd","name":"","rules":[{"t":"set","p":"ssid","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":465,"y":603,"wires":[[]]},{"id":"ceadecfa.1d249","type":"ui_text_input","z":"c1062e63.bdfdd","name":"","label":"KEY","group":"c030e224.47d1d","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":294,"y":660,"wires":[["af6f5c89.e8982"]]},{"id":"250ec670.2234ea","type":"inject","z":"c1062e63.bdfdd","name":"","topic":"","payload":"psk","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"70","x":154,"y":660,"wires":[["ceadecfa.1d249"]]},{"id":"af6f5c89.e8982","type":"change","z":"c1062e63.bdfdd","name":"","rules":[{"t":"set","p":"psk","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":464,"y":660,"wires":[[]]},{"id":"f45a90b.39a837","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"c030e224.47d1d","order":3,"width":0,"height":0,"passthru":false,"label":"Agregar WiFi","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Nueva Red","x":132,"y":726,"wires":[["5e94ad33.e5b9d4"]]},{"id":"c87340d0.eb574","type":"link out","z":"c1062e63.bdfdd","name":"ui-agregar-wifi","links":["9b9ba67f.c414a8"],"x":537,"y":726,"wires":[]},{"id":"5e94ad33.e5b9d4","type":"ui_toast","z":"c1062e63.bdfdd","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Agregar","cancel":"Cancelar","topic":"¿Seguro que deseas agregar una nueva red?","name":"","x":332,"y":726,"wires":[["c87340d0.eb574"]]},{"id":"f4ad90c4.9fbef","type":"link in","z":"c1062e63.bdfdd","name":"ui-ssid","links":["420b299c.772488"],"x":80,"y":543,"wires":[["a64ba081.a649f"]]},{"id":"854bbe5f.60615","type":"ui_text","z":"c1062e63.bdfdd","group":"c030e224.47d1d","order":4,"width":0,"height":0,"name":"","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":800,"wires":[]},{"id":"d0c29342.78478","type":"link in","z":"c1062e63.bdfdd","name":"ui-ip","links":["8785de8c.ea22e"],"x":75,"y":800,"wires":[["854bbe5f.60615"]]},{"id":"9b0295be.a6b928","type":"link in","z":"2bd38438.1ec89c","name":"ui-exec","links":["1594d621.c9607a"],"x":275,"y":220,"wires":[["72d76c18.ed1174"]]},{"id":"72d76c18.ed1174","type":"exec","z":"2bd38438.1ec89c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":220,"wires":[[],[],[]]},{"id":"6c729186.f9214","type":"link out","z":"c1062e63.bdfdd","name":"","links":["db1b64f.57aa598"],"x":1015,"y":240,"wires":[]},{"id":"b793ab97.760118","type":"link in","z":"c1062e63.bdfdd","name":"toSlider36","links":[],"x":755,"y":240,"wires":[["c11e9236.3e6d6"]]},{"id":"c11e9236.3e6d6","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"36","tooltip":"","group":"a87c2e2e.9ccd5","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"12","max":"0","step":"1","x":890,"y":240,"wires":[["6c729186.f9214"]]},{"id":"9a1213f1.a2752","type":"link out","z":"c1062e63.bdfdd","name":"","links":["e21bde1c.0cb35"],"x":1015,"y":140,"wires":[]},{"id":"608aa8a.e94f758","type":"link out","z":"c1062e63.bdfdd","name":"","links":["310fe98d.2fd206"],"x":1015,"y":180,"wires":[]},{"id":"cdc110a3.ea0e9","type":"link in","z":"c1062e63.bdfdd","name":"toSlider35","links":[],"x":755,"y":140,"wires":[["bfe8db05.e4d188"]]},{"id":"652e495e.69fef8","type":"link in","z":"c1062e63.bdfdd","name":"toSlider37","links":[],"x":755,"y":180,"wires":[["5814d1e2.9fa41","608aa8a.e94f758"]]},{"id":"5814d1e2.9fa41","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"37?","tooltip":"","group":"5a36d2f5.03d4ac","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"12","max":"0","step":"1","x":890,"y":180,"wires":[["608aa8a.e94f758"]]},{"id":"bfe8db05.e4d188","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"35","tooltip":"","group":"5a36d2f5.03d4ac","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"12","step":"1","x":890,"y":140,"wires":[["9a1213f1.a2752"]]},{"id":"de152e73.f4995","type":"link out","z":"c1062e63.bdfdd","name":"fromSlider33","links":["23af6992.1df5b6"],"x":1015,"y":100,"wires":[]},{"id":"813685c2.154a68","type":"link in","z":"c1062e63.bdfdd","name":"toSlider33","links":[],"x":755,"y":100,"wires":[["e7cec371.f2c02"]]},{"id":"e7cec371.f2c02","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"33","tooltip":"","group":"5a36d2f5.03d4ac","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"12","step":"1","x":890,"y":100,"wires":[["de152e73.f4995"]]},{"id":"2bf63b8a.8b99b4","type":"comment","z":"729d3252.c031cc","name":"Rodillo","info":"","x":210,"y":140,"wires":[]},{"id":"68f5ab0c.aabcb4","type":"comment","z":"729d3252.c031cc","name":"Llantas Der","info":"","x":670,"y":260,"wires":[]},{"id":"7fd4020e.13e86c","type":"link in","z":"729d3252.c031cc","name":"APin40","links":["747fe1a7.b0867"],"x":615,"y":440,"wires":[["5fb48616.f836d8"]]},{"id":"23af6992.1df5b6","type":"link in","z":"729d3252.c031cc","name":"APin33","links":["de152e73.f4995"],"x":175,"y":320,"wires":[["1df1964d.472fba"]]},{"id":"e21bde1c.0cb35","type":"link in","z":"729d3252.c031cc","name":"APin35","links":["9a1213f1.a2752"],"x":175,"y":380,"wires":[["1df1964d.472fba"]]},{"id":"876119d8.f24878","type":"comment","z":"729d3252.c031cc","name":"Llantas Izq","info":"","x":220,"y":260,"wires":[]},{"id":"310fe98d.2fd206","type":"link in","z":"729d3252.c031cc","name":"APin37","links":["608aa8a.e94f758"],"x":175,"y":440,"wires":[["1df1964d.472fba"]]},{"id":"d37af1f8.2bb8e","type":"link in","z":"c1062e63.bdfdd","name":"toLeftWheels","links":["4159cd11.db98e4","33bc662.ffd5a9a"],"x":595,"y":140,"wires":[["a42ec795.e402f8"]]},{"id":"32d34b1e.7cd1a4","type":"link in","z":"c1062e63.bdfdd","name":"toRightWheels","links":["4159cd11.db98e4","33bc662.ffd5a9a"],"x":615,"y":280,"wires":[["6c729186.f9214","44a081d.ce6438","747fe1a7.b0867"]]},{"id":"a42ec795.e402f8","type":"function","z":"c1062e63.bdfdd","name":"invert","func":"var input = msg.payload\nif(input==500) input=2500\nelse if (input==2500) input=500\nmsg.payload = input\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["bfe8db05.e4d188","de152e73.f4995","9a1213f1.a2752","608aa8a.e94f758"]]},{"id":"9fb02fe6.d1494","type":"base64","z":"7fb3eebf.8b96","name":"","action":"str","property":"payload","x":600,"y":140,"wires":[["b97d5326.407e1"]]},{"id":"fa6c4cba.bb5dd","type":"rpi-gpio out","z":"729d3252.c031cc","name":"","pin":"33","set":false,"level":"0","freq":"40","out":"pwm","x":300,"y":760,"wires":[]},{"id":"4a025119.b4a2d","type":"rpi-gpio out","z":"729d3252.c031cc","name":"","pin":"35","set":false,"level":"0","freq":"40","out":"pwm","x":300,"y":820,"wires":[]},{"id":"1b14066a.3e255a","type":"rpi-gpio out","z":"729d3252.c031cc","name":"","pin":"37","set":false,"level":"0","freq":"40","out":"pwm","x":300,"y":880,"wires":[]},{"id":"7294ef74.6555a","type":"rpi-gpio out","z":"729d3252.c031cc","name":"","pin":"36","set":false,"level":"0","freq":"40","out":"pwm","x":440,"y":760,"wires":[]},{"id":"188525e6.6d96ea","type":"rpi-gpio out","z":"729d3252.c031cc","name":"","pin":"38","set":false,"level":"0","freq":"40","out":"pwm","x":440,"y":820,"wires":[]},{"id":"4a9c4641.d0d768","type":"rpi-gpio out","z":"729d3252.c031cc","name":"","pin":"40","set":false,"level":"0","freq":"40","out":"pwm","x":440,"y":880,"wires":[]},{"id":"397bd79d.0e3be8","type":"rpi-gpio out","z":"729d3252.c031cc","name":"","pin":"31","set":false,"level":"0","freq":"40","out":"pwm","x":160,"y":760,"wires":[]},{"id":"d5393d01.8b3c9","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"db07fed.74448","order":0,"width":0,"height":0,"passthru":false,"label":"Apagar","color":"","bgcolor":"","icon":"","payload":"sudo halt","payloadType":"str","topic":"","x":120,"y":900,"wires":[["4751eda3.2c1f74"]]},{"id":"1594d621.c9607a","type":"link out","z":"c1062e63.bdfdd","name":"ui-apagar","links":["a372d4e2.dcf248","9b0295be.a6b928"],"x":515,"y":920,"wires":[]},{"id":"7b66cd78.1b2534","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"db07fed.74448","order":0,"width":0,"height":0,"passthru":false,"label":"Reiniciar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sudo reboot","payloadType":"str","topic":"","x":120,"y":940,"wires":[["67b3babf.81da54"]]},{"id":"4751eda3.2c1f74","type":"ui_toast","z":"c1062e63.bdfdd","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"sudo halt","cancel":"cancel","raw":false,"topic":"","name":"","x":290,"y":900,"wires":[["1594d621.c9607a"]]},{"id":"67b3babf.81da54","type":"ui_toast","z":"c1062e63.bdfdd","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"sudo reboot now","cancel":"cancel","raw":false,"topic":"","name":"","x":290,"y":940,"wires":[["1594d621.c9607a"]]},{"id":"3640315c.b2fade","type":"function","z":"729d3252.c031cc","name":"Pigs format","func":"pos = msg.payload;\npin = 6;\nmsg.payload = \"pigs s \" + pin + \" \" + pos\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["848be49.efbe718"]]},{"id":"848be49.efbe718","type":"exec","z":"729d3252.c031cc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":180,"wires":[[],["b0b026.188b0fd8"],[]]},{"id":"b0b026.188b0fd8","type":"debug","z":"729d3252.c031cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":180,"wires":[]},{"id":"1df1964d.472fba","type":"function","z":"729d3252.c031cc","name":"Pigs format","func":"pos = msg.payload;\npin = 19;\nmsg.payload = \"pigs s \" + pin + \" \" + pos\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["b5828ef4.af8d3"]]},{"id":"b5828ef4.af8d3","type":"exec","z":"729d3252.c031cc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":380,"wires":[[],["2e6e210d.0c6d1e"],[]]},{"id":"2e6e210d.0c6d1e","type":"debug","z":"729d3252.c031cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":420,"wires":[]},{"id":"5fb48616.f836d8","type":"function","z":"729d3252.c031cc","name":"Pigs format","func":"pos = msg.payload;\npin = 20;\nmsg.payload = \"pigs s \" + pin + \" \" + pos\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["d7435381.db522"]]},{"id":"d7435381.db522","type":"exec","z":"729d3252.c031cc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":910,"y":380,"wires":[[],["e79772de.da2e9"],[]]},{"id":"e79772de.da2e9","type":"debug","z":"729d3252.c031cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":420,"wires":[]},{"id":"cb1d8d0b.a576e","type":"exec","z":"729d3252.c031cc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":600,"wires":[[],["6584f76c.2cdae8"],[]]},{"id":"6584f76c.2cdae8","type":"debug","z":"729d3252.c031cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":600,"wires":[]},{"id":"19dcc1e1.0da9ce","type":"link in","z":"729d3252.c031cc","name":"toPigs","links":["c53fc068.0a92f","728337cd.225fe8"],"x":175,"y":600,"wires":[["3f76a122.2c39ae"]]},{"id":"3f76a122.2c39ae","type":"function","z":"729d3252.c031cc","name":"Pigs format","func":"pos = msg.payload;\npin = flow.get('pin');\nmsg.payload = \"pigs s \" + pin + \" \" + pos\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":600,"wires":[["cb1d8d0b.a576e","6584f76c.2cdae8"]]},{"id":"58cfb6b2.44cb98","type":"comment","z":"729d3252.c031cc","name":"Tester","info":"","x":210,"y":520,"wires":[]},{"id":"d18b0dff.db149","type":"comment","z":"729d3252.c031cc","name":"Used for minirover","info":"","x":150,"y":720,"wires":[]},{"id":"37f35ea0.d478a2","type":"inject","z":"4cdd2b9e.8497d4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":290,"y":80,"wires":[["60368636.d16698"]]},{"id":"60368636.d16698","type":"exec","z":"4cdd2b9e.8497d4","command":"sudo pigpiod","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":80,"wires":[["a97fdf03.948c8"],[],[]]},{"id":"a97fdf03.948c8","type":"debug","z":"4cdd2b9e.8497d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":80,"wires":[]},{"id":"6c022877.d26038","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"load","targetType":"msg","x":760,"y":540,"wires":[]},{"id":"1631605d.e435e","type":"inject","z":"43c8b9dc.663e28","name":"Short Interval","topic":"","payload":"","payloadType":"date","repeat":".5","crontab":"","once":false,"onceDelay":"1","x":120,"y":660,"wires":[[]]},{"id":"523f1650.c687a8","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"msg.load = parseInt(String(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["6c022877.d26038","2eb49287.24c97e"]]},{"id":"a4d6a1c2.0d151","type":"i2c in","z":"43c8b9dc.663e28","name":"Load In","address":"11","command":"0","count":"16","x":340,"y":540,"wires":[["523f1650.c687a8"]]},{"id":"5f1dbd54.89c574","type":"i2c scan","z":"43c8b9dc.663e28","name":"Check Bus","x":530,"y":900,"wires":[["65787304.79f4ec"],[]]},{"id":"bb8a0a80.c74db8","type":"inject","z":"43c8b9dc.663e28","name":"Minute Interval","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.5","x":120,"y":900,"wires":[["5f1dbd54.89c574"]]},{"id":"65787304.79f4ec","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":770,"y":900,"wires":[]},{"id":"54ddfd15.0af9e4","type":"i2c in","z":"43c8b9dc.663e28","name":"Temp Amb In","address":"90","command":"6","count":"3","x":350,"y":660,"wires":[["263a8030.17f37"]]},{"id":"263a8030.17f37","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"var data = msg.payload[0];\ndata = data | msg.payload[1]<<8;\nvar temp = {};\ntemp.amb = data*0.02-273.15;\nmsg.temp = temp;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["fd17b91f.e4e2f8","f0b2ee57.4ec2a"]]},{"id":"fd17b91f.e4e2f8","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"temp.amb","targetType":"msg","x":780,"y":660,"wires":[]},{"id":"f0b2ee57.4ec2a","type":"i2c in","z":"43c8b9dc.663e28","name":"Temp Obj1 In","address":"90","command":"7","count":"3","x":350,"y":740,"wires":[["38f6e26b.6e70ae"]]},{"id":"38f6e26b.6e70ae","type":"function","z":"43c8b9dc.663e28","name":"Processing","func":"var data = msg.payload[0];\ndata = data | msg.payload[1]<<8;\nmsg.temp.obj1 = data*0.02-273.15;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":740,"wires":[["556bf93b.09b658"]]},{"id":"556bf93b.09b658","type":"debug","z":"43c8b9dc.663e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"temp.obj1","targetType":"msg","x":780,"y":740,"wires":[]},{"id":"2eb49287.24c97e","type":"ui_chart","z":"43c8b9dc.663e28","name":"","group":"abc5fd25.9f3f9","order":0,"width":0,"height":0,"label":"Graph Load Cell","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":600,"wires":[[]]},{"id":"7cf57344.abba0c","type":"mosca in","z":"bcd1ad73.d0a99","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Inicializador Mosca","username":"","password":"","dburl":"","x":130,"y":120,"wires":[[]]},{"id":"9b9bd289.fc68c","type":"debug","z":"bcd1ad73.d0a99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":420,"wires":[]},{"id":"47a4754.5b6d28c","type":"mqtt in","z":"bcd1ad73.d0a99","name":"","topic":"Rover/Arrows","qos":"2","datatype":"auto","broker":"fbf792c3.99f0d","x":120,"y":420,"wires":[["9b9bd289.fc68c"]]},{"id":"624d29fb.f79a78","type":"mqtt out","z":"bcd1ad73.d0a99","name":"","topic":"Rover","qos":"","retain":"","broker":"fbf792c3.99f0d","x":330,"y":260,"wires":[]},{"id":"7eb2d231.8c6c5c","type":"inject","z":"bcd1ad73.d0a99","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["624d29fb.f79a78"]]},{"id":"252d0b48.cd4e34","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"Adelante","order":3,"width":"2","height":"1","format":"<div class=\"momentaryad vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-arrow-up fa-2x\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryad').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 500});\n});\n\n$('.momentaryad').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":560,"wires":[["33bc662.ffd5a9a"]]},{"id":"54565ab8.7cbbd4","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"Derecha","order":7,"width":"2","height":"1","format":"<div class=\"momentaryder vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\">  \n    <i class=\"fa fa-camera fa-2x\" aria-hidden=\"true\"></i>\n    <i class=\"fa fa-arrow-right fa-2x\" aria-hidden=\"true\"></i>\n<script>\n(function($scope) {\n$('.momentaryder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n</md-button>\n</center>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":680,"wires":[[]]},{"id":"395dc091.13f5d","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"arriba der","order":4,"width":"2","height":"1","format":"<div class=\"momentaryarder vibrate filled touched bigfont rounded\" style=\"background-color:#009999\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#009999\">  \n    <i class=\"fa fa-reply fa-2x fa-flip-horizontal\"></i>\n</md-button> \n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryarder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 12});\n});\n\n$('.momentaryarder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":800,"wires":[[]]},{"id":"d8eb1f6b.e87c6","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"Izquierda","order":5,"width":"2","height":"1","format":"<div class=\"momentaryiz vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-arrow-left fa-2x\" aria-hidden=\"true\"></i>\n    <i class=\"fa fa-camera fa-2x\" aria-hidden=\"true\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryiz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryiz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":780,"y":640,"wires":[[]]},{"id":"47dc934d.8c9c1c","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"Centro","order":6,"width":"2","height":"1","format":"   \n<div class=\"momentarycen vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    Motores<br/><i class=\"fa fa-power-off\" aria-hidden=\"true\"></i>\n</md-button>\n</center>\n</div>\n\n<script>\n(function($scope) {\n$('.momentarycen').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n\n$('.momentarycen').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":770,"y":880,"wires":[["a4e6dfac.846ce","33bc662.ffd5a9a"]]},{"id":"13f2751a.777aeb","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"abajo iz","order":8,"width":"2","height":"1","format":" <div class=\"momentaryabiz vibrate filled touched bigfont rounded\" style=\"background-color:#200099\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#200099\"> \n    <i class=\"fa fa-reply fa-2x fa-flip-vertical\"></i>\n</md-button>\n</center>\n</div>\n\n<script>\n(function($scope) {\n$('.momentaryabiz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 500});\n});\n\n$('.momentaryabiz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":720,"wires":[["a4e6dfac.846ce"]]},{"id":"893f19ba.9a6cd8","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"Atrás","order":9,"width":"2","height":"1","format":"<div class=\"momentaryat vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button \n   class=\"filled touched bigfont rounded\" \n   style=\"background-color:#c0392b\">\n   <i class=\"fa fa-arrow-down fa-2x\" aria-hidden=\"true\"></i>\n</md-button> \n</center>\n<script>\n(function($scope) {\n$('.momentaryat').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 2500});\n});\n\n$('.momentaryat').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":770,"y":600,"wires":[["33bc662.ffd5a9a"]]},{"id":"98c23045.17866","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"arriba Iz","order":2,"width":"2","height":"1","format":"<div class=\"momentaryariz vibrate filled touched bigfont rounded\" style=\"background-color:#009999\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#009999\"> \n    <i class=\"fa fa-reply fa-2x\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryariz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryariz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":780,"y":840,"wires":[[]]},{"id":"43f3de8c.7094a","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"Formato botones","order":1,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n\n  \n</style>\n\n<script>\n$('.vibrate').on('touchstart mousedown', function() {\n  navigator.vibrate(100);\n});\n$('.vibrate').on('touchend mouseup', function() {\n  navigator.vibrate(100);\n});\n\n$('.vibrate').on('touchstart mousedown', function() {\n  navigator.vibrate(100);\n});\n\n$scope.action = function(controlName) {\n\n    var actioner = $scope[controlName];\n    if (!actioner) {\n      $scope[controlName] = actioner;\n    }\n actioner.on('touchstart mousedown', function(e) { \n\te.preventDefault();\n\t$scope.send({\"payload\": 1});\n\t});\n actioner.on('touchend mouseup', function(e) {\n\te.preventDefault();\n\t$scope.send({\"payload\": 1});\n\t});\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":520,"wires":[[]]},{"id":"71c98956.7e4a98","type":"ui_template","z":"c1062e63.bdfdd","group":"82c63b5.f6362c8","name":"abajo der","order":10,"width":"2","height":"1","format":"<div class=\"momentaryabder vibrate filled bigfont rounded\" style=\"background-color:#200099\">\n<center>\n<md-button class=\"bigfont rounded\" style=\"background-color:#200099\"> \n    <i class=\"fa fa-reply fa-2x fa-rotate-180\"></i>\n</md-button> \n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryabder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 2500});\n});\n\n$('.momentaryabder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":760,"wires":[["a4e6dfac.846ce"]]},{"id":"33bc662.ffd5a9a","type":"link out","z":"c1062e63.bdfdd","name":"fromForwardbut","links":["32d34b1e.7cd1a4","d37af1f8.2bb8e"],"x":955,"y":580,"wires":[]},{"id":"a4e6dfac.846ce","type":"link out","z":"c1062e63.bdfdd","name":"fromDownbut","links":["44954546.7c72fc"],"x":955,"y":740,"wires":[]},{"id":"c08432ce.f26d5","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"Rampa 32-12","tooltip":"","group":"82c63b5.f6362c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"100","max":"37","step":"1","x":1080,"y":740,"wires":[["115550eb.5dc9bf"]]},{"id":"115550eb.5dc9bf","type":"pi-gpiod out","z":"c1062e63.bdfdd","name":"","host":"localhost","port":8888,"pin":"12","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":1260,"y":740,"wires":[]},{"id":"cbdd2e05.71b3d","type":"comment","z":"c1062e63.bdfdd","name":"MiniRoverTeléfono","info":"","x":810,"y":460,"wires":[]},{"id":"283a6485.98803c","type":"ui_slider","z":"c1062e63.bdfdd","name":"","label":"PWM GPIOd","tooltip":"","group":"4bd96968.d3b318","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"500","max":"2500","step":"100","x":1070,"y":1020,"wires":[["5f55e9b7.e6b0d8","728337cd.225fe8"]]},{"id":"5f55e9b7.e6b0d8","type":"ui_text","z":"c1062e63.bdfdd","group":"4bd96968.d3b318","order":3,"width":0,"height":0,"name":"","label":"PWM","format":"{{msg.payload}}","layout":"row-center","x":1210,"y":980,"wires":[]},{"id":"cdcab175.7c451","type":"ui_dropdown","z":"c1062e63.bdfdd","name":"","label":"Pin","tooltip":"","place":"Select option","group":"4bd96968.d3b318","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Rodillo","value":"6","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"}],"payload":"","topic":"","x":770,"y":1020,"wires":[["c6af2ca8.99caf"]]},{"id":"c6af2ca8.99caf","type":"change","z":"c1062e63.bdfdd","name":"","rules":[{"t":"set","p":"pin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1020,"wires":[["283a6485.98803c"]]},{"id":"5f5d10a9.11b4d","type":"ui_button","z":"c1062e63.bdfdd","name":"","group":"4bd96968.d3b318","order":4,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":1210,"y":1060,"wires":[["728337cd.225fe8"]]},{"id":"cb941ca5.01447","type":"comment","z":"c1062e63.bdfdd","name":"Tester","info":"","x":770,"y":960,"wires":[]},{"id":"728337cd.225fe8","type":"link out","z":"c1062e63.bdfdd","name":"fromTester","links":["19dcc1e1.0da9ce"],"x":1295,"y":1020,"wires":[]},{"id":"440f0913.e15bc8","type":"debug","z":"bcd1ad73.d0a99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":380,"wires":[]},{"id":"a309273b.d27f58","type":"mqtt in","z":"bcd1ad73.d0a99","name":"","topic":"Rover","qos":"2","datatype":"auto","broker":"fbf792c3.99f0d","x":100,"y":380,"wires":[["440f0913.e15bc8"]]}]