Heatmap&DataLog.json
[{"id":"1f63d9eb.c03316","type":"tab","label":"Heatmap","disabled":false,"info":""},{"id":"9754ad84.07673","type":"tab","label":"Apagado","disabled":false,"info":""},{"id":"bae16675.4e93c8","type":"tab","label":"DEMO","disabled":false,"info":""},{"id":"b78c885.8be1278","type":"tab","label":"Data Storage","disabled":true,"info":""},{"id":"37e2ac83.4c8064","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"389c7ca0.2e0544","type":"ui_group","z":"","name":"Heatmap","tab":"1920e1f4.74c00e","disp":true,"width":"18","collapse":false},{"id":"1920e1f4.74c00e","type":"ui_tab","z":"","name":"Heatmap","icon":"dashboard","order":1},{"id":"4d094410.39463c","type":"ui_group","name":"Group 1","tab":"f6cecf0.19a483","order":1,"disp":true,"width":6},{"id":"9563a144.f8617","type":"inject","z":"9754ad84.07673","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":100,"wires":[["1fd2f924.e1eff7"]]},{"id":"1fd2f924.e1eff7","type":"exec","z":"9754ad84.07673","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":100,"wires":[[],[],[]]},{"id":"d3a5d0c4.7559","type":"function","z":"1f63d9eb.c03316","name":"Generate football pattern","func":"// Generate some random data\n// See https://www.patrick-wied.at/static/heatmapjs/example-minimal-config.html\nmsg.payload = [];\n\nconst values = [584,583,615,614,646,678,677,709,708,740,772,804,836,868,900,933,966,999,1032,1065,1099,1133,1167,1201,1202,1236,1270,1304,1305,1306,1307,1308,1342,1375,1408,1407,1406,1405,1404,1370,1369,1335,1301,1267,1233,1200,1167,1134,1101,1068,1035,1002,969,936,903,871,839,840,808,776,744,712,713,714,715,716]\nvar index = context.get('value_index') || 0;\n\nif (index >= values.length) {\n    index = 0;\n}\n\nfor (var i = 0; i < 1617; i++) {\n    if ( i === values[index]) {\n        msg.payload.push(60);\n    }\n    else {\n        msg.payload.push(0);\n    }\n}\n\nindex += 1;\ncontext.set('value_index', index);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["91469061.9eb72"]]},{"id":"64e7e217.f6ae6c","type":"inject","z":"1f63d9eb.c03316","name":"Show heatmap","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":240,"wires":[["13a433d8.9a719c","d3a5d0c4.7559"]]},{"id":"61c0fbad.a36484","type":"inject","z":"1f63d9eb.c03316","name":"Show background","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":150,"y":120,"wires":[["4594ef80.dd793"]]},{"id":"e445d1c2.e1501","type":"change","z":"1f63d9eb.c03316","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":120,"wires":[["91469061.9eb72"]]},{"id":"4594ef80.dd793","type":"file in","z":"1f63d9eb.c03316","name":"Load Image","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Docs & Info\\Images\\terrenoEnsenada-Negativo.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":330,"y":120,"wires":[["6935d57c.664bcc"]]},{"id":"13a433d8.9a719c","type":"function","z":"1f63d9eb.c03316","name":"Draw Tilt Map","func":"var coordActives = global.get('ruta')||[584,583,615,614,646,678,677,709,708,740,772,804,836,868,900,933,966,999,1032,1065,1099,1133,1167,1201,1202,1236,1270,1304,1305,1306,1307,1308,1342,1375,1408,1407,1406,1405,1404,1370,1369,1335,1301,1267,1233,1200,1167,1134,1101,1068,1035,1002,969,936,903,871,839,840,808,776,744,712,713,714,715,716]\nvar intensity = flow.get('currTilt')||65;\nflow.set('currTilt',intensity) //Sólo para el primer uso\n\nmsg.payload = [] //Configura el Payload como arreglo\n\nfor(var i = 0; i < 1617; i++) //Tamaño de la Matriz\n{\n    for (index=0; index < coordActives.length; index++) {//Revisa cada coordenada,\n        if (i === coordActives[index]) {// a ver si estamos en alguna de las activas\n           msg.payload[i]=intensity; //Si sí, la colorea\n           break;\n      }\n        else {\n            msg.payload[i]=0; //Si no, la deja en azul\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["80d8ce69.96b73"]]},{"id":"a7f76fbb.25714","type":"inject","z":"1f63d9eb.c03316","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1.5","x":110,"y":320,"wires":[["5a4a0efb.712f2"]]},{"id":"80d8ce69.96b73","type":"debug","z":"1f63d9eb.c03316","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":240,"wires":[]},{"id":"5a4a0efb.712f2","type":"function","z":"1f63d9eb.c03316","name":"Update Tilt Map","func":"var coordActives = global.get('ruta')||[650, 617, 584, 583, 582, 581, 580, 579, 578]\nvar intensity = flow.get('currTilt');\nflow.set('currTilt',intensity) //Sólo para el primer uso\n\nmsg.payload = [] //Configura el Payload como arreglo\n\nfor(var i = 0; i < 1617; i++) //Tamaño de la Matriz\n{\n    for (index=0; index < coordActives.length; index++) {//Revisa cada coordenada,\n        if (i === coordActives[index]) {// a ver si estamos en alguna de las activas\n           msg.payload[i]=intensity; //Si sí, la colorea\n           break;\n      }\n        else {\n            msg.payload[i]=0; //Si no, la deja en azul\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[[]]},{"id":"6935d57c.664bcc","type":"base64","z":"1f63d9eb.c03316","name":"","action":"","property":"payload","x":500,"y":120,"wires":[["e445d1c2.e1501"]]},{"id":"91469061.9eb72","type":"ui_heat_map","z":"1f63d9eb.c03316","group":"389c7ca0.2e0544","order":0,"width":"18","height":"12","name":"","rows":"33","columns":"49","minMax":true,"minimumValue":0,"maximumValue":"100","backgroundType":"image","backgroundColor":"#ff80c0","radius":"30","opacity":"0.5","blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":"3","x":920,"y":120,"wires":[]},{"id":"91c83937.5ee178","type":"inject","z":"bae16675.4e93c8","name":"VOLTS","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"2","x":260,"y":280,"wires":[["b49737cc.f126f8"]]},{"id":"84e706d7.8dd568","type":"inject","z":"bae16675.4e93c8","name":"TEMP BAT","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":340,"wires":[["14f2bda1.b346d2"]]},{"id":"c1a6997f.f682b8","type":"link out","z":"bae16675.4e93c8","name":"Volt out","links":["fc275582.bacc78","dc78b1dd.cb1b5"],"x":675,"y":280,"wires":[]},{"id":"6363fb29.a8c4d4","type":"link out","z":"bae16675.4e93c8","name":"","links":["d3f9034a.a8eed","26ce0356.880c0c"],"x":675,"y":340,"wires":[]},{"id":"2ea1d06c.2da1","type":"link out","z":"bae16675.4e93c8","name":"","links":["464ffa52.8338c4"],"x":675,"y":220,"wires":[]},{"id":"9977bf9f.db0e9","type":"link out","z":"bae16675.4e93c8","name":"CPU Load out","links":["30786e50.8d97b2","5ed36727.2147b8","dc78b1dd.cb1b5"],"x":675,"y":160,"wires":[]},{"id":"5e16afd4.23212","type":"link out","z":"bae16675.4e93c8","name":"CPU Temp out","links":["49740ab9.6d0bc4","dc78b1dd.cb1b5"],"x":675,"y":100,"wires":[]},{"id":"d5e10425.2b0e88","type":"inject","z":"bae16675.4e93c8","name":"T CPU","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"2","x":260,"y":100,"wires":[["31f1763c.9cd57a"]]},{"id":"c663ac9b.62219","type":"inject","z":"bae16675.4e93c8","name":"CPU LOAD","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"2","x":270,"y":160,"wires":[["22c43570.3a10aa"]]},{"id":"17b37209.4bf30e","type":"inject","z":"bae16675.4e93c8","name":"MEM ","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":220,"wires":[["7001f4c6.f97a0c"]]},{"id":"e3621665.81de18","type":"link out","z":"bae16675.4e93c8","name":"","links":["703e7dee.129464"],"x":675,"y":400,"wires":[]},{"id":"888d60f9.30702","type":"inject","z":"bae16675.4e93c8","name":"KG","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":400,"wires":[["df3d057f.188dd8"]]},{"id":"a49b639f.43a64","type":"comment","z":"bae16675.4e93c8","name":"Aquí se van a estar generando valores aleatorios pero coherentes para cada gráfica para el demo de la interfaz.","info":"","x":400,"y":40,"wires":[]},{"id":"31f1763c.9cd57a","type":"function","z":"bae16675.4e93c8","name":"Generador T CPU***","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["5e16afd4.23212"]]},{"id":"22c43570.3a10aa","type":"function","z":"bae16675.4e93c8","name":"Generador CPU LOAD","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          82.1, 29.6, 55.3, 100]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["9977bf9f.db0e9"]]},{"id":"7001f4c6.f97a0c","type":"function","z":"bae16675.4e93c8","name":"Generador MEM","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["2ea1d06c.2da1"]]},{"id":"b49737cc.f126f8","type":"function","z":"bae16675.4e93c8","name":"Generador VOLTS","func":"//Obtiene el valor de volts, o asigna el default en 12\nvar x = flow.get('volts')||12;\nif(x<7) x=12; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('volts',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["c1a6997f.f682b8"]]},{"id":"14f2bda1.b346d2","type":"function","z":"bae16675.4e93c8","name":"Generador TEMP BAT","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["6363fb29.a8c4d4"]]},{"id":"df3d057f.188dd8","type":"function","z":"bae16675.4e93c8","name":"Generador ROCKS","func":"//Obtiene el valor de rocks, o asigna el default en 12\nvar x = flow.get('rocks')||0;\nif(x>1) x=0; //Por si ya llegamos a 1kg.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//crece el valor \nx=x+0.1;\n\nflow.set('rocks',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["e3621665.81de18"]]},{"id":"dc78b1dd.cb1b5","type":"link in","z":"b78c885.8be1278","name":"Variables","links":["5e16afd4.23212","c1a6997f.f682b8","9977bf9f.db0e9"],"x":235,"y":160,"wires":[["4e19daeb.12c1f4"]]},{"id":"2956af5b.ccad2","type":"csv","z":"b78c885.8be1278","name":"Data to CSV conv","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":690,"y":160,"wires":[["daa7a04.b988d6"]]},{"id":"857dd625.791ea8","type":"join","z":"b78c885.8be1278","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":160,"wires":[["2956af5b.ccad2"]]},{"id":"4e19daeb.12c1f4","type":"batch","z":"b78c885.8be1278","name":"Grouper","mode":"interval","count":"4","overlap":0,"interval":"1","allowEmptySequence":true,"topics":[],"x":360,"y":160,"wires":[["857dd625.791ea8"]]},{"id":"daa7a04.b988d6","type":"file","z":"b78c885.8be1278","name":"Data File","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Serch\\MissionLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":880,"y":160,"wires":[[]]},{"id":"acb88729.d76bc8","type":"inject","z":"bae16675.4e93c8","name":"","topic":"","payload":"Charge (V)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":790,"y":240,"wires":[["c1a6997f.f682b8"]]},{"id":"f1ace083.3fc06","type":"inject","z":"bae16675.4e93c8","name":"","topic":"","payload":"CPU Load (%)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":800,"y":140,"wires":[["9977bf9f.db0e9"]]},{"id":"52aa4789.f1c9f8","type":"inject","z":"bae16675.4e93c8","name":"","topic":"","payload":"CPU Temp (C)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":800,"y":60,"wires":[["5e16afd4.23212"]]},{"id":"8c5cb2e.ba9265","type":"inject","z":"b78c885.8be1278","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.05","x":470,"y":360,"wires":[["43bf5c29.07d5d4"]]},{"id":"43bf5c29.07d5d4","type":"file","z":"b78c885.8be1278","name":"Delete data File","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Serch\\MissionLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"delete","encoding":"none","x":660,"y":360,"wires":[[]]}]