MPUplusDEMO.json
[{"id":"11a4189a.c3a6c7","type":"tab","label":"MPU6050","disabled":false,"info":""},{"id":"75639873.64af88","type":"tab","label":"DEMO","disabled":false,"info":""},{"id":"40f5f9ec.8b4498","type":"tab","label":"Lecturas Internas","disabled":false,"info":""},{"id":"c9314eef.67f9f","type":"tab","label":"Lecturas Externas","disabled":false,"info":""},{"id":"efcaa25a.8c3d1","type":"tab","label":"Dashboard ","disabled":false,"info":""},{"id":"9ec4604f.b7f06","type":"tab","label":"Apagado","disabled":false,"info":""},{"id":"7d85a45a.79513c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a5561e81.936cd","type":"ui_tab","z":"","name":"Telemetry","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"74727959.ceed08","type":"ui_group","z":"","name":"Gyro","tab":"a5561e81.936cd","disp":true,"width":"6","collapse":false},{"id":"5de65b1a.26c234","type":"ui_group","z":"","name":"Accel","tab":"a5561e81.936cd","disp":true,"width":"6","collapse":false},{"id":"a590e118.641e2","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"74d1dd19.d96434","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"823b0ca7.72752","type":"ui_group","z":"","name":"Calibration","tab":"a5561e81.936cd","disp":true,"width":"6","collapse":false},{"id":"8de7f2f6.8cc84","type":"ui_group","z":"","name":"Default","tab":"5005e0c0.622c6","disp":true,"width":"6","collapse":false},{"id":"5005e0c0.622c6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"8db66aa1.1a75a8","type":"ui_group","z":"","name":"Temp","tab":"","order":1,"disp":false,"width":"6"},{"id":"22f61fff.69001","type":"ui_group","z":"","name":"Carga CPU","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"719331be.34936","type":"ui_group","z":"","name":"Inclinación y Odometría","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"2f14f2f9.b4d52e","type":"ui_group","z":"","name":"Célula de Carga y Potencia","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"f66c5751.e10a58","type":"ui_group","z":"","name":"CPU","tab":"7643e70b.99d818","order":1,"disp":true,"width":"4","collapse":false},{"id":"5a7c7ba.b875584","type":"ui_group","z":"","name":"Main Variables","tab":"7643e70b.99d818","order":2,"disp":true,"width":"15","collapse":false},{"id":"7643e70b.99d818","type":"ui_tab","z":"","name":"Measurements","icon":"dashboard","order":4},{"id":"40ce7267.1407fc","type":"ui_group","z":"","name":"Battery","tab":"7643e70b.99d818","disp":true,"width":"4","collapse":false},{"id":"e578eba8.055248","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"ad225011.7c141","type":"ui_group","z":"","name":"Heatmap","tab":"7643e70b.99d818","order":4,"disp":true,"width":"6","collapse":false},{"id":"dec7472d.5ce9e8","type":"ui_group","z":"","name":"Heatmap","tab":"8c803bff.3da9c8","disp":true,"width":"18","collapse":false},{"id":"8c803bff.3da9c8","type":"ui_tab","z":"","name":"Heatmap","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"52b5e65d.6a0a38","type":"inject","z":"9ec4604f.b7f06","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":100,"wires":[["58c551c.50bceb"]]},{"id":"58c551c.50bceb","type":"exec","z":"9ec4604f.b7f06","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":100,"wires":[[],[],[]]},{"id":"78bc205f.92b4e","type":"ui_chart","z":"11a4189a.c3a6c7","name":"","group":"5de65b1a.26c234","order":3,"width":0,"height":0,"label":"X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":60,"wires":[[]]},{"id":"c1a26379.62af1","type":"ui_chart","z":"11a4189a.c3a6c7","name":"","group":"5de65b1a.26c234","order":3,"width":0,"height":0,"label":"Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":100,"wires":[[]]},{"id":"7438659a.d8bb9c","type":"ui_chart","z":"11a4189a.c3a6c7","name":"","group":"5de65b1a.26c234","order":3,"width":0,"height":0,"label":"Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":140,"wires":[[]]},{"id":"c0b5ceea.9e6fe","type":"serial in","z":"11a4189a.c3a6c7","name":"From Arduino","serial":"74d1dd19.d96434","x":190,"y":160,"wires":[["323bb93c.dec506"]]},{"id":"6c86a1b0.aa1ac","type":"ui_gauge","z":"11a4189a.c3a6c7","name":"","group":"74727959.ceed08","order":4,"width":0,"height":0,"gtype":"compass","title":"Z Gyro","label":"Angle","format":"{{value}}°","min":"180","max":"-180","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":260,"wires":[]},{"id":"323bb93c.dec506","type":"switch","z":"11a4189a.c3a6c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"accX","vt":"str"},{"t":"cont","v":"accY","vt":"str"},{"t":"cont","v":"accZ","vt":"str"},{"t":"cont","v":"angleX","vt":"str"},{"t":"cont","v":"angleY","vt":"str"},{"t":"cont","v":"angleZ","vt":"str"},{"t":"cont","v":"temp","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":8,"x":330,"y":160,"wires":[["893be7af.8464f8"],["79dc6386.3ee4fc"],["6e53113d.fb87e"],["ce578fb3.e3961"],["37754b2f.ab95d4"],["d2136256.91a14"],["399b57ba.c07d28"],["92c5c93a.002f78"]]},{"id":"893be7af.8464f8","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":60,"wires":[["78bc205f.92b4e","53a4bcce.4f4af4"]]},{"id":"79dc6386.3ee4fc","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":100,"wires":[["c1a26379.62af1","9f7649ac.717818"]]},{"id":"6e53113d.fb87e","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"accZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["7438659a.d8bb9c","53691140.239b1"]]},{"id":"ce578fb3.e3961","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleX :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["31a4f5b5.27c62a","cfacb82.beef448"]]},{"id":"37754b2f.ab95d4","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleY :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["1adaa6fd.8d88e9","5e73c604.61f318"]]},{"id":"d2136256.91a14","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"angleZ :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["6c86a1b0.aa1ac","45bdee2f.23d8"]]},{"id":"399b57ba.c07d28","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"temp :","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["aa241764.2a4158"]]},{"id":"31a4f5b5.27c62a","type":"ui_gauge","z":"11a4189a.c3a6c7","name":"","group":"74727959.ceed08","order":1,"width":0,"height":0,"gtype":"gage","title":"X Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":800,"y":180,"wires":[]},{"id":"74f446fa.22cd78","type":"ui_text","z":"11a4189a.c3a6c7","group":"5de65b1a.26c234","order":6,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}}° C","layout":"row-spread","x":1030,"y":320,"wires":[]},{"id":"7af8f27f.d5ce0c","type":"ui_button","z":"11a4189a.c3a6c7","name":"","group":"823b0ca7.72752","order":0,"width":0,"height":0,"passthru":false,"label":"Re-calibrate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"calibGyro,","payloadType":"str","topic":"","x":370,"y":420,"wires":[["cf7d304e.b1813","2faf7758.b7fe98"]]},{"id":"92c5c93a.002f78","type":"debug","z":"11a4189a.c3a6c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":260,"wires":[]},{"id":"cf7d304e.b1813","type":"serial out","z":"11a4189a.c3a6c7","name":"To Arduino","serial":"74d1dd19.d96434","x":700,"y":420,"wires":[]},{"id":"4b21d22d.e6e98c","type":"ui_toast","z":"11a4189a.c3a6c7","position":"bottom right","displayTime":"8","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Calibrando... (8s)","x":770,"y":480,"wires":[]},{"id":"2faf7758.b7fe98","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Calibrando. (Espere 8s)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["4b21d22d.e6e98c"]]},{"id":"1adaa6fd.8d88e9","type":"ui_gauge","z":"11a4189a.c3a6c7","name":"","group":"74727959.ceed08","order":1,"width":0,"height":0,"gtype":"gage","title":"Y Gyro","label":"Angle","format":"{{value}}°","min":"-100","max":"100","colors":["#646464","#646464","#646464"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"53a4bcce.4f4af4","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"set","p":"AX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":60,"wires":[[]]},{"id":"9f7649ac.717818","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"set","p":"AY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[[]]},{"id":"53691140.239b1","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"set","p":"AZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":140,"wires":[[]]},{"id":"cfacb82.beef448","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"set","p":"GX","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":180,"wires":[[]]},{"id":"5e73c604.61f318","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"set","p":"GY","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":220,"wires":[[]]},{"id":"45bdee2f.23d8","type":"change","z":"11a4189a.c3a6c7","name":"","rules":[{"t":"set","p":"GZ","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":260,"wires":[[]]},{"id":"aa241764.2a4158","type":"function","z":"11a4189a.c3a6c7","name":"-10","func":"msg.payload = msg.payload -30\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["919f5efc.7c014"]]},{"id":"919f5efc.7c014","type":"smooth","z":"11a4189a.c3a6c7","name":"","property":"payload","action":"mean","count":"1","round":"1","mult":"single","x":900,"y":320,"wires":[["74f446fa.22cd78"]]},{"id":"520a84d4.1196dc","type":"ui_gauge","z":"efcaa25a.8c3d1","name":"T CPU","group":"f66c5751.e10a58","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-15","max":"90","colors":["#000ab5","#03e22b","#ca3838"],"seg1":"","seg2":"","x":330,"y":120,"wires":[]},{"id":"2154d7c6.618388","type":"ui_text","z":"efcaa25a.8c3d1","group":"f66c5751.e10a58","order":3,"width":"4","height":"2","name":"","label":"Memory In Use :","format":"{{msg.payload}}%","layout":"col-center","x":300,"y":240,"wires":[]},{"id":"270660a9.890dd","type":"ui_chart","z":"efcaa25a.8c3d1","name":"CPU LOAD","group":"f66c5751.e10a58","order":2,"width":"4","height":"3","label":"CPU LOAD","chartType":"bar","legend":"false","xformat":"mm:ss","interpolate":"step","nodata":"NO DATA","dot":true,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":310,"y":180,"wires":[[]]},{"id":"89e20d1f.d7909","type":"ui_gauge","z":"efcaa25a.8c3d1","name":"KG","group":"5a7c7ba.b875584","order":7,"width":"5","height":"5","gtype":"gage","title":"Payload","label":"Rocks Weight","format":"{{value}} kg","min":0,"max":"1","colors":["#00b0b5","#00ff13","#3e38ca"],"seg1":"","seg2":"","x":590,"y":100,"wires":[]},{"id":"9d0bd402.777a78","type":"exec","z":"40f5f9ec.8b4498","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp CPU","x":350,"y":160,"wires":[["612c49b0.7c8a78"],[],[]]},{"id":"2bc91da4.7c49d2","type":"inject","z":"40f5f9ec.8b4498","name":"Timer 1 Seg","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":163,"y":222,"wires":[["9d0bd402.777a78","bc3433ed.e650e","4b08b32c.d646dc"]]},{"id":"612c49b0.7c8a78","type":"function","z":"40f5f9ec.8b4498","name":"SubString","func":"str = msg.payload \nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":155,"wires":[["9d38ad8.1e3475"]]},{"id":"bc3433ed.e650e","type":"exec","z":"40f5f9ec.8b4498","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"LOAD","x":328,"y":221.5,"wires":[["3f5e2ff8.194"],[],[]]},{"id":"4b08b32c.d646dc","type":"exec","z":"40f5f9ec.8b4498","command":"free | grep Mem | awk '{print $3/$2 * 100.0}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"MEM","x":330,"y":280,"wires":[["96d9f8c9.b572f8"],[],[]]},{"id":"67d61b22.6deab4","type":"inject","z":"75639873.64af88","name":"VOLTS","topic":"","payload":"","payloadType":"str","repeat":"40","crontab":"","once":true,"onceDelay":0.1,"x":260,"y":120,"wires":[["aa96680a.978258"]]},{"id":"1872246a.40c1fc","type":"inject","z":"75639873.64af88","name":"TEMP BAT","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":160,"wires":[["dd279292.b67b5"]]},{"id":"da08994b.7f2b08","type":"link in","z":"efcaa25a.8c3d1","name":"T CPU Gauge","links":["c1bfc8f4.6a3d98","9d38ad8.1e3475"],"x":175,"y":120,"wires":[["520a84d4.1196dc"]]},{"id":"9d58c6be.a6dc58","type":"link in","z":"efcaa25a.8c3d1","name":"CPU LOAD Graph","links":["3f5e2ff8.194"],"x":175,"y":180,"wires":[["270660a9.890dd"]]},{"id":"ff1f7970.9eea98","type":"link in","z":"efcaa25a.8c3d1","name":"MEM Text","links":["96d9f8c9.b572f8","e18fce3b.2b10a8"],"x":175,"y":240,"wires":[["2154d7c6.618388"]]},{"id":"9d38ad8.1e3475","type":"link out","z":"40f5f9ec.8b4498","name":"","links":["da08994b.7f2b08"],"x":718,"y":159,"wires":[]},{"id":"cd218878.0cdfd8","type":"comment","z":"40f5f9ec.8b4498","name":"Estos nodos funcionan dentro de la Raspberry.","info":"","x":240,"y":80,"wires":[]},{"id":"3f5e2ff8.194","type":"link out","z":"40f5f9ec.8b4498","name":"","links":["9d58c6be.a6dc58"],"x":595,"y":220,"wires":[]},{"id":"96d9f8c9.b572f8","type":"link out","z":"40f5f9ec.8b4498","name":"","links":["ff1f7970.9eea98"],"x":594,"y":270,"wires":[]},{"id":"7758a3be.46e81c","type":"link out","z":"75639873.64af88","name":"","links":["84e1b7cf.1382a8","81cc8432.0fcac8"],"x":655,"y":120,"wires":[]},{"id":"36a993af.1ac66c","type":"link out","z":"75639873.64af88","name":"","links":["d3f9034a.a8eed","978cea85.281c98"],"x":655,"y":160,"wires":[]},{"id":"e0c88342.925ec","type":"comment","z":"efcaa25a.8c3d1","name":"CPU","info":"","x":210,"y":40,"wires":[]},{"id":"540f7905.87f648","type":"link out","z":"75639873.64af88","name":"","links":["c71e18c3.f75cf8"],"x":655,"y":200,"wires":[]},{"id":"914f524b.8095a","type":"inject","z":"75639873.64af88","name":"KG","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["be007345.da148"]]},{"id":"3ef861f8.31580e","type":"comment","z":"75639873.64af88","name":"Aquí se van a estar generando valores aleatorios pero coherentes para cada gráfica para el demo de la interfaz.","info":"","x":436,"y":46,"wires":[]},{"id":"aa96680a.978258","type":"function","z":"75639873.64af88","name":"Generador VOLTS","func":"//Obtiene el valor de volts, o asigna el default en 12\nvar x = flow.get('volts')||12;\nif(x<7) x=12; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('volts',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["7758a3be.46e81c"]]},{"id":"dd279292.b67b5","type":"function","z":"75639873.64af88","name":"Generador TEMP BAT","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["36a993af.1ac66c"]]},{"id":"823d33eb.97a8","type":"comment","z":"efcaa25a.8c3d1","name":"Variables Principales","info":"","x":550,"y":40,"wires":[]},{"id":"74e47e58.88fc8","type":"comment","z":"c9314eef.67f9f","name":"Aquí se extraerá la información de los sensores conectados a la Rasp.","info":"","x":390,"y":60,"wires":[]},{"id":"d225084a.2657f8","type":"comment","z":"40f5f9ec.8b4498","name":"Aquí se extraerá la información desde el interior de la Rasp.","info":"","x":280,"y":40,"wires":[]},{"id":"c71e18c3.f75cf8","type":"link in","z":"efcaa25a.8c3d1","name":"KG","links":["540f7905.87f648"],"x":475,"y":100,"wires":[["89e20d1f.d7909"]]},{"id":"cd1bd3b0.74775","type":"ui_gauge","z":"efcaa25a.8c3d1","name":"V Bat","group":"40ce7267.1407fc","order":1,"width":0,"height":0,"gtype":"gage","title":"V BAT","label":"","format":"{{value}}V","min":"7","max":"12","colors":["#fb0006","#e6e600","#29cd01"],"seg1":"10","seg2":"13","x":950,"y":120,"wires":[]},{"id":"541fd0bc.e01e2","type":"ui_gauge","z":"efcaa25a.8c3d1","name":"Temp Bat","group":"40ce7267.1407fc","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-15","max":"99","colors":["#00ffef","#58ff00","#ff0000"],"seg1":"25","seg2":"45","x":940,"y":180,"wires":[]},{"id":"81cc8432.0fcac8","type":"link in","z":"efcaa25a.8c3d1","name":"V BAT Gauge","links":["7758a3be.46e81c"],"x":795,"y":120,"wires":[["cd1bd3b0.74775"]]},{"id":"978cea85.281c98","type":"link in","z":"efcaa25a.8c3d1","name":"TEMP BAT Gauge","links":["36a993af.1ac66c"],"x":795,"y":180,"wires":[["541fd0bc.e01e2"]]},{"id":"cc96cbb5.e0c538","type":"comment","z":"efcaa25a.8c3d1","name":"Batería","info":"","x":830,"y":40,"wires":[]},{"id":"232a0cf1.3cd6e4","type":"ui_gauge","z":"efcaa25a.8c3d1","name":"Tilti Angle (Yaw)","group":"5a7c7ba.b875584","order":1,"width":"5","height":"5","gtype":"gage","title":"Tilt Angle (Yaw)","label":"Degrees","format":"{{value}} D","min":"-30","max":"30","colors":["#ffffff","#0016ff","#ffffff"],"seg1":"","seg2":"","x":620,"y":140,"wires":[]},{"id":"3fe67ba1.75afe4","type":"inject","z":"75639873.64af88","name":"Degrees Yaw","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["c4e6b0f9.27691"]]},{"id":"be007345.da148","type":"function","z":"75639873.64af88","name":"Generador ROCKS","func":"//Obtiene el valor de rocks, o asigna el default en 12\nvar x = flow.get('rocks')||0;\nif(x>1) x=0; //Por si ya llegamos a 1kg.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//crece el valor \nx=x+0.1;\n\nflow.set('rocks',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["540f7905.87f648"]]},{"id":"3ffa097c.f88876","type":"ui_gauge","z":"efcaa25a.8c3d1","name":"Tilt Angle (Roll)","group":"5a7c7ba.b875584","order":3,"width":"5","height":"5","gtype":"gage","title":"Tilt Angle (Roll)","label":"Degrees","format":"{{value}} D","min":"-30","max":"30","colors":["#ffffff","#001aff","#ffffff"],"seg1":"","seg2":"","x":620,"y":180,"wires":[]},{"id":"876ac20d.9a86c","type":"ui_gauge","z":"efcaa25a.8c3d1","name":"Atmosphere Temp","group":"5a7c7ba.b875584","order":4,"width":"5","height":"5","gtype":"gage","title":"Atmosphere Temp","label":"Atmosphere Temp","format":"{{value}} °C","min":"-30","max":"160","colors":["#00d6ff","#00ff13","#ff9d00"],"seg1":"","seg2":"","x":610,"y":260,"wires":[]},{"id":"c4e6b0f9.27691","type":"function","z":"75639873.64af88","name":"Generador Degrees Yaw","func":"//Lista de valores de demo\nvar x = [ 25.0, 20, 10,\n          14, 0, -15,\n          -12, -22, -24, -28]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["970ab750.1d75d8"]]},{"id":"5dd5a8d.9c35b58","type":"link in","z":"efcaa25a.8c3d1","name":"","links":["970ab750.1d75d8"],"x":475,"y":140,"wires":[["232a0cf1.3cd6e4"]]},{"id":"350db5e9.37704a","type":"link in","z":"efcaa25a.8c3d1","name":"","links":["67270794.a04f58"],"x":475,"y":180,"wires":[["3ffa097c.f88876"]]},{"id":"970ab750.1d75d8","type":"link out","z":"75639873.64af88","name":"","links":["5dd5a8d.9c35b58"],"x":655,"y":240,"wires":[]},{"id":"873e9a4a.ec54f8","type":"inject","z":"75639873.64af88","name":"Degrees Roll","topic":"","payload":"","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":280,"wires":[["2a1a7075.32902"]]},{"id":"2a1a7075.32902","type":"function","z":"75639873.64af88","name":"Generador Degrees Roll","func":"//Lista de valores de demo\nvar x = [ 14, -10, 1.1,\n          9.2, -0.2, -15,\n          -12, -8, -6, -29.9]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["67270794.a04f58"]]},{"id":"67270794.a04f58","type":"link out","z":"75639873.64af88","name":"","links":["350db5e9.37704a","711290e9.622d6"],"x":655,"y":280,"wires":[]},{"id":"5cee8624.4abff8","type":"ui_gauge","z":"efcaa25a.8c3d1","name":"Current","group":"40ce7267.1407fc","order":3,"width":0,"height":0,"gtype":"gage","title":"Current","label":"","format":"{{value}} A","min":"0","max":"10","colors":["#0060ff","#58ff00","#ff0000"],"seg1":"2.5","seg2":"7.5","x":935,"y":270,"wires":[]},{"id":"ca44f1e3.50965","type":"link in","z":"efcaa25a.8c3d1","name":"Current Gauge","links":["1804b93e.b96f57"],"x":815,"y":272,"wires":[["5cee8624.4abff8"]]},{"id":"4ca8b1b4.b8717","type":"inject","z":"75639873.64af88","name":"AMPERES","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":320,"wires":[["1d7fb494.89acdb"]]},{"id":"1804b93e.b96f57","type":"link out","z":"75639873.64af88","name":"","links":["ca44f1e3.50965","4bb76843.ff69f8"],"x":655,"y":320,"wires":[]},{"id":"1d7fb494.89acdb","type":"function","z":"75639873.64af88","name":"Generador AMPERES","func":"//Obtiene el valor de amperes, o asigna el default en 10\nvar x = flow.get('Amper')||10;\nif(x<0) x=10; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('Amper',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["1804b93e.b96f57"]]},{"id":"711290e9.622d6","type":"link in","z":"efcaa25a.8c3d1","name":"Atmosphere Temp","links":["e3e4026a.09e56","67270794.a04f58"],"x":475,"y":260,"wires":[["876ac20d.9a86c"]]},{"id":"a6001d95.341f6","type":"inject","z":"75639873.64af88","name":"ATMO TEMP","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":280,"y":360,"wires":[["baa15bfe.d02c38"]]},{"id":"e3e4026a.09e56","type":"link out","z":"75639873.64af88","name":"","links":["711290e9.622d6"],"x":655,"y":360,"wires":[]},{"id":"baa15bfe.d02c38","type":"function","z":"75639873.64af88","name":"Generador TEMP ATMOS","func":"//Lista de valores de demo\nvar x = [ 50, 25, 40,\n          40, 32.7, 35,\n          28, 32, 29, 42]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["e3e4026a.09e56"]]},{"id":"3b8a5ac6.62d556","type":"ui_text","z":"efcaa25a.8c3d1","group":"5a7c7ba.b875584","order":5,"width":"3","height":"1","name":"Distance to home","label":"Distance to home","format":"{{msg.payload}}","layout":"col-center","x":610,"y":300,"wires":[]},{"id":"7c5bebfb.64f8c4","type":"ui_text","z":"efcaa25a.8c3d1","group":"5a7c7ba.b875584","order":6,"width":"3","height":"1","name":"Odometer","label":"Odometer","format":"{{msg.payload}}","layout":"col-center","x":640,"y":340,"wires":[]},{"id":"4a13581c.3b8248","type":"ui_chart","z":"efcaa25a.8c3d1","name":"","group":"5a7c7ba.b875584","order":8,"width":"5","height":"3","label":"Discharging","chartType":"horizontalBar","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#2c1fb4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":380,"wires":[[]]},{"id":"6e6c16b0.db10a8","type":"ui_gauge","z":"efcaa25a.8c3d1","name":"Relative Angle","group":"5a7c7ba.b875584","order":2,"width":"5","height":"5","gtype":"compass","title":"Relative Angle","label":"Degree","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":220,"wires":[]},{"id":"adde4913.944ce8","type":"link in","z":"efcaa25a.8c3d1","name":"Distance to home","links":["29333c5e.dfca14"],"x":475,"y":300,"wires":[["3b8a5ac6.62d556"]]},{"id":"abe908d1.0a83f8","type":"inject","z":"75639873.64af88","name":"Distance to Home","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":290,"y":400,"wires":[["9c72e03d.b4b8c"]]},{"id":"29333c5e.dfca14","type":"link out","z":"75639873.64af88","name":"","links":["adde4913.944ce8"],"x":655,"y":400,"wires":[]},{"id":"9c72e03d.b4b8c","type":"function","z":"75639873.64af88","name":"Generador Home","func":"//Obtiene el valor de metros, o asigna el default en 0\nvar x = flow.get('Meters')||100;\nif(x>100) x=0; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x+0.5;\n\nflow.set('Meters',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["29333c5e.dfca14"]]},{"id":"e80b08ba.ad11a8","type":"link in","z":"efcaa25a.8c3d1","name":"Odometer","links":["47b3dfe1.5055e"],"x":475,"y":340,"wires":[["7c5bebfb.64f8c4"]]},{"id":"5ff48857.bac118","type":"inject","z":"75639873.64af88","name":"Odometer","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":440,"wires":[["85471f3a.7b425"]]},{"id":"47b3dfe1.5055e","type":"link out","z":"75639873.64af88","name":"","links":["e80b08ba.ad11a8","4668de50.e5087"],"x":655,"y":440,"wires":[]},{"id":"85471f3a.7b425","type":"function","z":"75639873.64af88","name":"Generador Odometer","func":"//Obtiene el valor de metros, o asigna el default en 0\nvar x = flow.get('Meters')||200;\nif(x>200) x=0; //Por si ya llegamos a 200.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x+0.1;\n\nflow.set('Meters',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":440,"wires":[["47b3dfe1.5055e"]]},{"id":"4668de50.e5087","type":"link in","z":"efcaa25a.8c3d1","name":"Relative Angle","links":["47b3dfe1.5055e","32680ae5.2f9806"],"x":475,"y":220,"wires":[["6e6c16b0.db10a8"]]},{"id":"f646c0e1.228ec","type":"inject","z":"75639873.64af88","name":"Relative Angle","topic":"","payload":"","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":480,"wires":[["b61fea0c.ad3938"]]},{"id":"b61fea0c.ad3938","type":"function","z":"75639873.64af88","name":"Generador Relative Angle","func":"//Lista de valores de demo\nvar x = [ 299, 340, 14,\n          92.3, 1, 226,\n         188, 301, 106, 331]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["32680ae5.2f9806"]]},{"id":"32680ae5.2f9806","type":"link out","z":"75639873.64af88","name":"","links":["4668de50.e5087"],"x":655,"y":480,"wires":[]},{"id":"e32eb8ce.cf0568","type":"link in","z":"efcaa25a.8c3d1","name":"Discharging","links":["1d3ca01.c7c626"],"x":475,"y":380,"wires":[["4a13581c.3b8248"]]},{"id":"273f7bed.cc0334","type":"inject","z":"75639873.64af88","name":"Discharging","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":520,"wires":[["26887dc6.0d3142"]]},{"id":"26887dc6.0d3142","type":"function","z":"75639873.64af88","name":"Generador Discharging","func":"//Lista de valores de demo\nvar x = [ 29, 42, 44,\n          1, 99, 100,\n         86, 72, 54, 38]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["1d3ca01.c7c626"]]},{"id":"1d3ca01.c7c626","type":"link out","z":"75639873.64af88","name":"","links":["e32eb8ce.cf0568"],"x":655,"y":520,"wires":[]}]